Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove unused kfc workarounds in CI
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
  .github/workflows/soak.yaml
  hack/kfc-dev.js
  hack/kfc-dev.test.js
Due: prettier --config .prettierrc --write

Update imports
  hack/load.unit.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: improve test coverage in validate-processor.ts (#2344)
  src/lib/processors/validate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: run `hack/` tests during normal testing (#2345)
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
  .github/workflows/soak.yaml
  hack/kfc-dev.js
  hack/kfc-dev.test.js
  hack/load.unit.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add paths-ignore for e2e tests on a markdown update (#2343)
  .github/workflows/node.js-unicorn.yml
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: mock logger in unit test resolves #2249
  src/lib/helpers.test.ts
  src/lib/utils.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add misisng log mocks to cleanup test
  src/lib/controller/index.test.ts
  src/lib/controller/storeCache.test.ts
  src/lib/telemetry/metrics.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update dockerfile
  config/Dockerfile
Due: none

chore: update types
  src/lib/core/queue.ts
  src/lib/processors/watch-processor.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write

chore: remove unused var
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: missing types
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: remove unnecessary mock of logs where unit test doesn't seem to log anything
  src/lib/controller/index.test.ts
  src/lib/helpers.test.ts
  src/lib/telemetry/metrics.test.ts
  src/lib/utils.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix unit tests
  src/lib/core/capability.test.ts
  src/lib/core/queue.test.ts
  src/lib/processors/watch-processor.test.ts
  src/sdk/sdk.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: mocks for rbac and module test
  src/lib/assets/rbac.test.ts
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: only required mocks
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove unnecessary commands
  hack/build-iron-bank.sh
Due: shellcheck -f tty

chore: move pepr-0.0.0-development.tgz to workspace
  hack/build-iron-bank.sh
Due: shellcheck -f tty

chore: fix logger mock directory
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove unnecessary commands to fix iron bank pexex (#2354)
  hack/build-iron-bank.sh
Due: shellcheck -f tty

chore: assert log.info was called with capability registered
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix load test after migration
  .github/workflows/load.yml
Due: none

chore: fix load test after migration (#2355)
  .github/workflows/load.yml
Due: none

chore: mocks for rbac and module test (#2353)
  src/lib/assets/rbac.test.ts
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: adr directory is out of order and numbers do not make sense
  adr/0008-named-callbacks.md
  adr/0010-automated-releases.md
  adr/0012-e2e-testing.md
  adr/0013-soak-testing.md
  adr/0015-kfc-watch-undici.md
  adr/0016-store-key-sanitization.md
  adr/0017-compliance-in-pepr.md
  adr/0018-cosign-poc-removal.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: bump base images in Unicorn Dockerfile
  config/Dockerfile
Due: none

chore: adr directory is out of order and numbers do not make sense (#2358)
  adr/0008-named-callbacks.md
  adr/0010-automated-releases.md
  adr/0012-e2e-testing.md
  adr/0013-soak-testing.md
  adr/0015-kfc-watch-undici.md
  adr/0016-store-key-sanitization.md
  adr/0017-compliance-in-pepr.md
  adr/0018-cosign-poc-removal.md
  config/Dockerfile
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: initial scaffolding
  src/cli/build.helpers.ts
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/deploy.ts
  src/lib/assets/helm.test.ts
  src/lib/assets/helm.ts
  src/lib/assets/k8sObjects.test.ts
  src/lib/assets/k8sObjects.ts
  src/lib/assets/networking.ts
  src/lib/assets/yaml/generateAllYaml.test.ts
  src/lib/assets/yaml/generateAllYaml.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: tests and considering admisson or watch in helm chart
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/environment.test.ts
  src/lib/assets/environment.ts
  src/lib/assets/helm.ts
  src/lib/assets/k8sObjects.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: mock logger in unit test (#2348)
  src/lib/controller/storeCache.test.ts
  src/lib/helpers.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: only push necessary resources to array before writing
  journey/pepr-build.ts
  src/cli/build.helpers.ts
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/deploy.ts
  src/lib/assets/k8sObjects.test.ts
  src/lib/assets/k8sObjects.ts
  src/lib/assets/yaml/generateAllYaml.test.ts
  src/lib/assets/yaml/generateAllYaml.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: format and rapidfort hash update
  config/Dockerfile
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix integration test
  src/lib/assets/helm.ts
Due: prettier --config .prettierrc --write

chore: integration test
  src/lib/assets/helm.ts
Due: prettier --config .prettierrc --write

chore: mock the logs in controller
  src/lib/controller/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
