Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, shellcheck -f tty, markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: get crane digest (#2222)
  config/Dockerfile
Due: none

chore: update peer dependencies (#2219)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: faq docs for watch vs reconcile (#2218)
  docs/080_faq/README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update readme to add reconcile and finalize
  README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update spelling
  docs/030_user-guide/030_actions/050_finalize.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: improve explanation
  README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update readme to add reconcile and finalize (#2224)
  README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update spelling (#2223)
  docs/030_user-guide/030_actions/050_finalize.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: remove unused call
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: determine if rapidfort image is being built
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

Update .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: resolve conflicts
  .github/workflows/pepr-excellent-examples-unicorn.yml
  package.json
Due: prettier --config .prettierrc --write

chore: use private in image
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: fix ci for rapidfort images (#2227)
  .github/workflows/pepr-excellent-examples-unicorn.yml
  package.json
Due: prettier --config .prettierrc --write

chore: rapidfort journey
  .github/workflows/node.js-unicorn.yml
  journey/pepr-deploy.ts
  journey/pepr-upgrade.test.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Update .github/workflows/node.js-unicorn.yml
  .github/workflows/node.js-unicorn.yml
Due: none

chore: rapidfort journey fix (#2228)
  .github/workflows/node.js-unicorn.yml
  journey/pepr-deploy.ts
  journey/pepr-upgrade.test.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: add postcast to media
  docs/100_community/050_pepr-media.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: add postcast to media (#2232)
  docs/100_community/050_pepr-media.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: remove call to process.exit in `assets` (#2226)
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: update hashes
  config/Dockerfile
Due: none

chore: update hashes for rapid fort images before release (#2237)
  config/Dockerfile
Due: none

Update the tone of the README
  README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Prefer one sentence per line in markdown
  README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: minor updates to README (#2239)
  README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: retry on failure for rapidfort
  .github/workflows/nightlies.yml
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/release.yml
Due: none

chore: retry the docker build for unicorn
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: update images since they are not getting pulled
  config/Dockerfile
Due: none

chore: retry on failure for rapidfort login (#2243)
  .github/workflows/nightlies.yml
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/release.yml
  config/Dockerfile
Due: none

Use full flag in CI job
  .github/workflows/nightlies.yml
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/release.yml
Due: none

chore: use full flag in CI job (#2253)
  .github/workflows/nightlies.yml
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/release.yml
Due: none

chore: update tsconfig
  tsconfig.json
Due: prettier --config .prettierrc --write

chore: update tsconfig remove integration
  tsconfig.json
Due: prettier --config .prettierrc --write

chore: include integration for prettier and eslint
  eslint.config.mjs
  integration/helpers/time.ts
  integration/helpers/workdir.ts
  package.json
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: format
  integration/helpers/cmd.ts
  integration/helpers/resource.test.ts
  integration/helpers/resource.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: add tsconfig and eslint config for integration
  integration/cli/dev.dev-test.test.ts
  integration/eslint.config.mjs
  integration/tsconfig.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Split script block into atomic commands
  package.json
Due: prettier --config .prettierrc --write

Have check & fix use the same base commands
  package.json
Due: prettier --config .prettierrc --write

Create shorter subcommands in the scripts block
  eslint.config.mjs
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: mock the log to cleanup tests
  src/lib/finalizer.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --fix --ignore-pattern src/templates/eslint.config.mjs: ((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
