Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

.lintstagedrc.json:

{
  "*.js": ["prettier --config .prettierrc --write", "eslint --fix"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.md": [
    "markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ],
  "*.sh": ["shellcheck -f tty"],
  "*.ts": ["prettier --config .prettierrc --write", "eslint --fix"],
  ".husky/pre-*": ["shellcheck -f tty"]
}

Create details section to TS CRD
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/WebAppCRD.ts
  tsconfig.eslint.json
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add generators to collapsible block
  .eslintrc.json
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/generators.ts
  tsconfig.eslint.json
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Create collapsed blocks for more typescript
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/index.ts
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/reconciler.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Fix path for broken image resource
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Move image assests to relevant tutorial
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/dark.png
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/light.png
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Fix paragraph spacing
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Create file for validate.ts
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/validate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add file for register.ts
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add back to top link
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Use input flags to create module
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Pull files from github and provide copy/paste commands
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update capability generation instructions
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update filename
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove implementation files now that source is pulled from pexex
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/WebAppCRD.ts
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/WebAppCRD.yaml
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/reconciler.ts
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/validate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: updates to contributing for KFC (#2051)
  docs/120_contribute/README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update src/lib/assets/pods.ts
  src/lib/assets/pods.ts
Due: prettier --config .prettierrc --write, eslint --fix

Continue to scaffold out project with pexex implementations
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix units
  src/lib/assets/pods.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update practical example commands with error details
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: remove process.exit in pods and propagate to src/cli (#2052)
  src/cli/build.helpers.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/pods.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update README.md
  docs/090_roadmap/README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Note errors along the way that need fixes
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update build & deploy steps
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update remaining portion of tutorial
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Move markdown chart to summary section
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update curl docs to pexex links
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove duplicate resources
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/generators.ts
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/index.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove duplicate curl command
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Reference webapp spec
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove old instruction
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add commit instruction
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update steps for generator creation
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update reconciler code
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update testing instructions
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Create first webapp
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update instructions for dark mode & teardown
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Apply feedback
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update mdp slides
  lunch-n-learn.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

List git commands on separate lines
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
