Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty

fix: remove hardcoding from upgrade journey test (#1767)
  journey/pepr-upgrade.test.ts
  package.json
Due: prettier --write, eslint --fix

chore: add more testing around asset class (#1753)
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/index.ts
Due: prettier --write, eslint --fix

chore: deprecate build version command in cli and docs before release (#1762)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: extract shared types from unrelated file (#1759)
  .github/workflows/dependency-review.yml
  integration/cli/build.configequality.test.ts
  src/cli/build.ts
  src/cli/init/templates.ts
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/index.test.ts
  src/lib/assets/index.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/pods.ts
  src/lib/assets/yaml/overridesFile.ts
  src/lib/controller/index.ts
  src/lib/core/capability.test.ts
  src/lib/core/capability.ts
  src/lib/core/envChecks.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.ts
  src/lib/types.ts
Due: prettier --write, eslint --fix

fix: update grype configuration (#1777)
  .github/workflows/container-scan.yaml
Due: none

chore: resolve max statement in watch-processor (#1770)
  package-lock.json
  package.json
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
  src/lib/telemetry/metrics.test.ts
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

chore: require explicit-function-return-type (#1781)
  .eslintrc.json
Due: prettier --write

chore: documentation
  docs/030_user-guide/015_sdk.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: none

chore: refactor watch processor test to reduce redundancy (#1763)
  src/lib/processors/watch-processor.test.ts
Due: prettier --write, eslint --fix

refactor: param name to 4 for writeEvent at sdk
  src/sdk/sdk.test.ts
  src/sdk/sdk.ts
Due: prettier --write, eslint --fix

chore: fix formating issue at sdk.ts
  src/sdk/sdk.test.ts
  src/sdk/sdk.ts
Due: prettier --write, eslint --fix

chore: document writeEvent and update examples
  docs/030_user-guide/015_sdk.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: none

chore: max-params warning for src/sdk/sdk.ts (#1787)
  docs/030_user-guide/015_sdk.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  src/sdk/sdk.test.ts
  src/sdk/sdk.ts
Due: prettier --write, eslint --fix

chore: use it.each() in related test cases (#1784)
  src/lib/processors/watch-processor.test.ts
Due: prettier --write, eslint --fix

chore: error on max-params (#1782)
  .eslintrc.json
Due: prettier --write

Apply markdown lint fixes for whitespace
  docs/030_user-guide/010_pepr-cli.md
  docs/030_user-guide/015_sdk.md
  docs/030_user-guide/080_onschedule.md
  docs/030_user-guide/100_metrics.md
  docs/030_user-guide/130_filters.md
  docs/060_best-practices/README.md
  docs/080_faq/README.md
Due: none

Resolve more markdownlint rules
  docs/040_pepr-tutorials/020_create-pepr-dashboard.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/060_best-practices/README.md
  docs/080_faq/README.md
  docs/090_roadmap/README.md
  docs/100_community/050_pepr-media.md
  docs/120_contribute/README.md
Due: none

Use one sentence per line
  docs/060_best-practices/README.md
Due: none

Configure markdownlint for project
  .lintstagedrc.json
  .markdownlint.json
  package-lock.json
  package.json
Due: prettier --write

Update lint command used in hook
  .lintstagedrc.json
Due: prettier --write

Lint readme.md
  README.md
Due: none

Remove markdownlint to see if CI error persists
  package-lock.json
  package.json
Due: prettier --write

Add markdownlint-cli as devdep
  package-lock.json
  package.json
Due: prettier --write

chore: tidy up docs (#1802)
  README.md
  docs/030_user-guide/010_pepr-cli.md
  docs/030_user-guide/015_sdk.md
  docs/030_user-guide/080_onschedule.md
  docs/030_user-guide/100_metrics.md
  docs/030_user-guide/130_filters.md
  docs/040_pepr-tutorials/020_create-pepr-dashboard.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/060_best-practices/README.md
  docs/080_faq/README.md
  docs/090_roadmap/README.md
  docs/100_community/050_pepr-media.md
  docs/120_contribute/README.md
Due: none

Update tsconfig template file
  src/templates/tsconfig.json
Due: prettier --write

Mirror compiler options of Pepr in template
  src/templates/tsconfig.json
  src/templates/tsconfig.module.json
Due: prettier --write

chore: deduplicate code between pepr-build and pepr-build-wasm
  journey/entrypoint.test.ts
  journey/pepr-build-wasm.ts
  journey/pepr-build.helpers.ts
  journey/pepr-build.ts
Due: prettier --write, eslint --fix

chore: document function
  journey/pepr-build.helpers.ts
Due: prettier --write, eslint --fix

chore: early returns and console errors instead of process.exit
  src/cli/format.ts
  src/cli/init/index.ts
  src/cli/monitor.ts
Due: prettier --write, eslint --fix

chore: outputDir variable
  journey/entrypoint-wasm.test.ts
Due: prettier --write, eslint --fix

chore: dedup code and fix journey tests
  journey/pepr-build-wasm.ts
  journey/pepr-build.helpers.ts
  journey/pepr-build.ts
  package.json
Due: prettier --write, eslint --fix

Upgrade esbuild 0.24.2 -> 0.25.0
  package-lock.json
  package.json
Due: prettier --write

Remove unnecessary async calls
  integration/helpers/resource.ts
Due: prettier --write, eslint --fix

Rewrite tests with it.each for precise feedback
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

chore: no write permission necessary if you are not pushing to repo
  .github/workflows/container-scan.yaml
Due: none

chore: test before merging
  .github/workflows/container-scan.yaml
Due: none

Update .github/workflows/container-scan.yaml
  .github/workflows/container-scan.yaml
Due: none

chore: pin hash on Dockerfiles
  Dockerfile
  Dockerfile.kfc
Due: none

Update assertions to account for breaking change in esbuild:0.25.0
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

chore: pin dep on npm
  .github/workflows/release.yml
  scripts/nightlies.sh
Due: shellcheck -f tty

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
