Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1, shellcheck -f tty

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1"
  ],
  "*.mjs": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1"
  ],
  "*.js": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1"
  ],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"]
}

chore: journey to use nightly
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: change upgrade test to pass ci using nightly
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: clean up code
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: fixes the upgrade tests to pass ci (#2154)
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: integration test for scoped rbmac mode
  integration/cli/build.rbacmode.test.ts
  integration/helpers/resource.test.ts
  integration/helpers/resource.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: remove unused files
  integration/cli/build.rbacmode.test.ts
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Update integration/cli/crd.test.ts
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: integration test for scoped rbac mode (#2157)
  integration/cli/build.rbacmode.test.ts
  integration/cli/crd.test.ts
  integration/helpers/resource.test.ts
  integration/helpers/resource.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Improve testing for loadVersionFiles
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Reduce function complexity
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: improve test coverage for CRD generation (#2160)
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: resolve conflicts
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Ignore existing integration tests from lint standards for now
  eslint.config.mjs
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Remove eslint planned migration warning
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: ignore existing integration tests from lint standards for now (#2161)
  eslint.config.mjs
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: remove eslint planned migration warning (#2162)
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: complexity around validating namespaces in deploy
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: complexity around checkDeploymentStatus
  src/lib/deploymentChecks.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: remove complexity
  src/lib/deploymentChecks.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: reduce complexity in checkDeploymentStatus
  src/lib/deploymentChecks.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: complexity in `checkDeploymentStatus` (#2169)
  src/lib/deploymentChecks.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: complexity around validating namespaces in deploy (#2167)
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Mitigate CVEs
  .github/workflows/container-scan.yaml
  Dockerfile
Due: none

update build image
  Dockerfile
Due: none

Suppress warning while awaiting upstream fix
  .github/workflows/container-scan.yaml
Due: none

fix: update dockerfile container images (#2183)
  .github/workflows/container-scan.yaml
  Dockerfile
Due: none

chore: cgr image updates
  config/Dockerfile
Due: none

update image shas
  Dockerfile.kfc
  config/Dockerfile
Due: none

Update peer dep for commander
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Update delivered cgr image
  config/Dockerfile
Due: none

chore: update peer dep for commander (#2190)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: update dockerfile images (#2189)
  Dockerfile.kfc
  config/Dockerfile
Due: none

Use latest in journey tests
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Promote commander to a direct dependency
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: use latest in journey tests (#2198)
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: support last 3 stable versions of node - drop 18
  .github/workflows/on-demand-workflows.yaml
  README.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/120_contribute/README.md
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: in faq give explanation of module author
  docs/080_faq/README.md
Due: none

Update docs/080_faq/README.md
  docs/080_faq/README.md
Due: none

chore: list commander as a direct dependency (#2199)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write
