Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

Remove circular dep
  src/cli/build/buildModule.ts
  src/cli/build/loadModule.ts
  src/cli/types.ts
Due: prettier --config .prettierrc --write

Set default from option definition
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write

Explicitly set entrypoint for load
  src/cli/build/buildModule.ts
  src/cli/build/loadModule.ts
  src/cli/dev.ts
Due: prettier --config .prettierrc --write

chore: restructure `pepr build` files to improve testability (#2486)
  src/cli/build.ts
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/buildModule.test.ts
  src/cli/build/buildModule.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
  src/cli/build/loadModule.test.ts
  src/cli/build/loadModule.ts
  src/cli/deploy.ts
  src/cli/dev.ts
  src/cli/types.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: integration test for update (#2483)
  integration/cli/update.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Update banner size for smaller terminal-width
  src/cli/banner.ts
Due: prettier --config .prettierrc --write

chore: remove duplicate log messages caused by controller builds
  src/cli.ts
  src/lib/assets/loader.test.ts
  src/lib/assets/loader.ts
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update test
  src/lib/assets/webhooks.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: info logs to include info about the pepr module but not the controller
  src/lib/assets/deploy.ts
  src/lib/assets/loader.test.ts
  src/lib/assets/loader.ts
  src/lib/controller/index.ts
  src/lib/controller/store.test.ts
  src/lib/controller/store.ts
  src/lib/core/capability.test.ts
  src/lib/core/capability.ts
  src/lib/core/module.test.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Mock buildModule()
  src/cli/build/buildModule.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Mock more functions in build
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

First passing test with mocks
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add tests for conflicting options
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Reformat log message
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add test for --rbac-mode flag
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: extend timeout for format test bc it is failing
  integration/cli/format.format.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Add tests for timeout flag
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: set deployment log level from ci
  src/lib/assets/environment.test.ts
  src/lib/assets/environment.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add tests for --custom-image
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add test for no-embed flag
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add tests for the --registry-info flag
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add some tests for --with-pull-secret
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update docs
  docs/030_user-guide/010_pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add test for --custom-name flag
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove sigstore dep
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: controller test
  src/runtime/controller.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: export functions
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write

Update peer dependencies
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Remove hardcoded log level
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write

Test runtime through startup() and conceal implementation details
  src/runtime/controller.test.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Tidy up mocks
  src/runtime/controller.test.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update peer dependencies (#2501)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Improve code coverage in controller startup
  src/runtime/controller.test.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Consolidate mocks
  src/runtime/controller.test.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: controller test (#2499)
  src/runtime/controller.test.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: wip dev unit test
  src/cli/dev.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: finish test
  src/cli/dev.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: format
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write

chore: fix tests
  src/runtime/controller.test.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs
