Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

chore: revert journey
  journey/pepr-build.helpers.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update zarfPackageConfig generation
  src/lib/assets/yaml/generateZarfYaml.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update unit tests
  src/lib/assets/yaml/generateZarfYaml.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: cgr node 20.15 bumps
  config/Dockerfile
Due: none

chore: document crd generate feature (#2029)
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: cgr node 20.15 bumps (#2076)
  config/Dockerfile
Due: none

Remove call to process.exit() during SIGTERM
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write, eslint --fix

Log SIGTERM exit code on exit
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: use default Node behavior during SIGTERM signals (#2081)
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: expose podAntiAffinity from helm chart
  src/lib/assets/helm.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: only env var
  src/cli/build.ts
  src/lib/assets/assets.ts
  src/lib/assets/yaml/generateZarfYaml.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: fix integration test
  integration/cli/build.nonconflict.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: custom name for module builds (#2074)
  integration/cli/build.nonconflict.test.ts
  src/cli/build.ts
  src/lib/assets/assets.ts
  src/lib/assets/helm.test.ts
  src/lib/assets/helm.ts
  src/lib/assets/yaml/generateZarfYaml.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: document custom name
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update docs to reflect deployment resources affected
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs/030_user-guide/010_pepr-cli.md
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update src/cli/build.ts
  src/cli/build.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: document custom name (#2085)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove indirect alias for string generation
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

Move tests to it.each()
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Move additional test to it.each()
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Create standard error messages
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

Store error messages in separate file
  src/cli/crd/ErrorMessages.ts
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

remove if/else in unit test
  src/cli/crd/ErrorMessages.ts
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update file name
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
  src/cli/crd/messages.ts
Due: prettier --config .prettierrc --write, eslint --fix

Create generator function for file contents
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update generator function
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Simplify generator
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

User a shorter implementation
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove input typing
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Rename function
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Rename boolean flags
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update BDD structure in test hierarchy
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update generator description
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: create file content generator function for CRD tests (#2088)
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
  src/cli/crd/messages.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: expose podAntiAffinity from helm chart (#2083)
  src/lib/assets/helm.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: best practice around anti-affinity
  docs/060_best-practices/README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: add TOC link
  docs/060_best-practices/README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Consolidate repeated function
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: remove indirect alias for string generation (#2087)
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

Path conditions:
  prettier --config .prettierrc --write: ((any of: *.js) or (any of: *.json)) or (any of: *.ts)
  eslint --fix: (any of: *.js) or (any of: *.ts)
  markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
