Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"]
}

Remove cosign implementation from project
  adr/0016-removal-of-cosign-poc.md
  package-lock.json
  package.json
  src/sdk/cosign.e2e.test.ts
  src/sdk/cosign.ts
  src/sdk/heredoc.ts
  src/sdk/heredoc.unit.test.ts
Due: prettier --write, eslint --fix

Add heredoc as dependency
  package-lock.json
  package.json
Due: prettier --write

Reintroduce heredoc
  adr/0016-removal-of-cosign-poc.md
  package-lock.json
  package.json
  src/sdk/heredoc.ts
  src/sdk/heredoc.unit.test.ts
Due: prettier --write, eslint --fix

Remove unnecessary dep
  package-lock.json
  package.json
Due: prettier --write

Add ADR
  adr/0016-cosign-poc-removal.md
Due: none

chore: remove unused cosign implementation from project (#1948)
  adr/0016-cosign-poc-removal.md
  package-lock.json
  package.json
  src/sdk/cosign.e2e.test.ts
  src/sdk/cosign.ts
Due: prettier --write, eslint --fix

Use one prettier file
  .prettierrc
  src/lib/.prettierrc
Due: none

Revert "Use one prettier file"
  src/lib/.prettierrc
Due: none

Reduce prettier config to one file
  .prettierrc
  src/lib/.prettierrc
Due: none

Update workflow scripts that run prettier
  .lintstagedrc.json
  package.json
Due: prettier --write

Use consistent prettierrc settings in new pepr modules
  src/templates/.prettierrc.json
Due: prettier --write

feat: override uuid during init
  src/cli/init/index.ts
  src/cli/init/walkthrough.ts
  src/cli/types.ts
Due: prettier --write, eslint --fix

chore: update unit test
  src/cli/init/walkthrough.test.ts
Due: prettier --write, eslint --fix

chore: add new arg to integration test
  integration/cli/init.test.ts
Due: prettier --write, eslint --fix

chore: check for uuid before assigning
  src/cli/init/templates.ts
Due: prettier --write, eslint --fix

chore: override only
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  src/cli/init/index.ts
  src/cli/init/walkthrough.test.ts
  src/cli/init/walkthrough.ts
Due: prettier --write, eslint --fix

chore: only override for uuid
  src/cli/types.ts
Due: prettier --write, eslint --fix

Add md lint to project
  .lintstagedrc.json
  .markdownlint.json
  package-lock.json
  package.json
Due: prettier --write

Create intermediate script to handle linter failures
  .lintstagedrc.json
  scripts/markdown-warn.sh
  tsconfig.json
Due: prettier --write, shellcheck -f tty

Remove attempts at intermediate shell script
  .lintstagedrc.json
  scripts/markdown-warn.sh
Due: prettier --write, shellcheck -f tty

Exclude testobject files
  .npmignore
  package.json
  tsconfig.json
Due: prettier --write

Update exclusions
  .npmignore
  package.json
  tsconfig.json
Due: prettier --write

Mark eslint as a peer Dep on v9
  package-lock.json
  package.json
Due: prettier --write

chore: revert eslint and update unicorn image
  .eslintrc.json
  config/Dockerfile
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: revert eslint and update unicorn image (#1967)
  .eslintrc.json
  config/Dockerfile
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: types
  src/cli/types.ts
Due: prettier --write, eslint --fix

chore: walkthrough
  src/cli/init/walkthrough.ts
Due: prettier --write, eslint --fix

chore: add uuid to integration tests
  integration/cli/build.configequality.test.ts
  integration/cli/build.defaults.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/build.version.test.ts
Due: prettier --write, eslint --fix

chore: document and finish e2e and journey
  docs/030_user-guide/010_pepr-cli.md
  docs/030_user-guide/120_customization.md
  journey/pepr-upgrade.test.ts
  src/cli/init/index.ts
Due: prettier --write, eslint --fix

chore: update tests for string unique id
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  journey/pepr-upgrade.test.ts
  src/cli/init/index.ts
Due: prettier --write, eslint --fix

chore: remove parcial docs
  docs/030_user-guide/120_customization.md
Due: none

chore: updates for docs and regex101
  docs/120_contribute/README.md
  journey/pepr-upgrade.test.ts
Due: prettier --write, eslint --fix

Reorganize .npmignore
  .npmignore
  tsconfig.json
Due: prettier --write

Remove .npmignore that wasn't doing anything
  .npmignore
Due: none

Update docs/030_user-guide/120_customization.md
  docs/030_user-guide/120_customization.md
Due: none

Exclude test fixtures from build artifacts
  package.json
Due: prettier --write
