Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: add greptile suggestion
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

fix: greptile greedy suggestion
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

chore: suppress not vul cves
  .grype.yaml
Due: none

chore: log reports deltas instead of cumulative values
  scripts/soak-record-metrics.sh
  scripts/soak-summary.sh
  scripts/soak-test.sh
Due: shellcheck -f tty

chore: greptile fix
  scripts/soak-record-metrics.sh
Due: shellcheck -f tty

chore: suppress not vul cves (#3057)
  .grype.yaml
Due: none

chore: log reports deltas instead of cumulative values (#3058)
  scripts/soak-record-metrics.sh
  scripts/soak-summary.sh
  scripts/soak-test.sh
Due: shellcheck -f tty

chore: minimatch cve suppression
  .grype.yaml
Due: none

chore: eslint v10
  config/eslint.integration.config.mjs
  config/eslint.root.config.mjs
  config/eslint.test.config.mjs
  package-lock.json
  package.json
  src/templates/eslint.config.mjs
Due: prettier --config .prettierrc --write

chore: remove dependabot eslint 10 exclusion'
  .github/dependabot.yml
Due: none

chore: fix format
  integration/helpers/time.ts
  src/cli/init/templates.test.ts
  src/cli/init/utils.ts
  src/lib/assets/assets.ts
  src/lib/controller/migrateStore.ts
  src/lib/helpers.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: fix time format
  integration/helpers/time.ts
Due: prettier --config .prettierrc --write, eslint --config integration/eslint.config.mjs

version-pin devdeps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Version pin deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: pin versions from incoming merge
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: override lodash version
  package.json
Due: prettier --config .prettierrc --write

chore: updated soak test to ts
  .github/workflows/soak.yaml
Due: none

chore: bash to ts
  config/tsconfig.root.json
  scripts/soak-record-metrics.ts
  scripts/soak-summary.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: remove bash scripts
  scripts/soak-record-metrics.sh
  scripts/soak-summary.sh
  scripts/soak-test.sh
Due: shellcheck -f tty

chore: update deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Potential fix for pull request finding 'CodeQL / Shell command built from environment values'
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: add tsconfig and eslint config for scripts directory
  config/eslint.root.config.mjs
  config/tsconfig.root.json
  config/tsconfig.scripts.json
Due: prettier --config .prettierrc --write

Update scripts/soak-summary.ts
  scripts/soak-summary.ts
Due: prettier --config .prettierrc --write

Update scripts/soak-test.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: add set up in soak before running script
  .github/workflows/soak.yaml
Due: none

chore: move @types/ramda from dependencies to devDependencies
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: align webhook timeout env var parsing with codebase conventions
  src/lib/controller/index.ts
  src/lib/controller/index.util.test.ts
  src/lib/controller/index.util.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Use table-driven test structure
  src/lib/controller/index.util.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: migration guides eslint v10
  eslint-v10-implementation-plan.md
  eslint-v10-migration.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: align webhook timeout parsing with codebase conventions (#3065)
  src/lib/controller/index.ts
  src/lib/controller/index.util.test.ts
  src/lib/controller/index.util.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add deprecation warning for eslint v9
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write

fix: webhook keepalive and timeout (#3056)
  docs/user-guide/customization.md
  src/lib/controller/index.ts
  src/lib/controller/index.util.test.ts
  src/lib/controller/index.util.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Notes added by 'git notes add'
  3cfdb22d1b4ad4686b2f29770502be0ed8ddc22a
Due: none

chore: removed deprecated snyk badge
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: correct path for code of conduct
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore(docs): removed deprecated snyk badge (#3071)
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

docs: fix outdated versioning policy in backwards compatibility doc
  BACKWARDS_COMPATIBILITY.md
  config/markdownlint-step-format-rule.js
  config/markdownlint-step-format-rule.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: propagate watch callback errors to KFC for cache reliability
  scripts/soak-summary.sh
  scripts/soak-test.sh
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, shellcheck -f tty

fix: address greptile review feedback
  .github/workflows/soak.yaml
  scripts/soak-summary.sh
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write, shellcheck -f tty

docs: fix outdated versioning policy in backwards compatibility doc (#3072)
  BACKWARDS_COMPATIBILITY.md
  config/markdownlint-step-format-rule.js
  config/markdownlint-step-format-rule.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
