Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: helpers test
  src/lib/helpers.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: generate test
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: untils test
  src/cli/init/utils.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: walkthrough
  src/cli/init/walkthrough.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: walkthrough
  src/lib/controller/migrateStore.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: migrateStore test
  src/lib/controller/migrateStore.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: capability
  src/lib/core/capability.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: mutateprocessor test
  src/lib/processors/mutate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: validate processor
  src/lib/processors/validate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: watchprocessor test
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: vite config
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: do not include tests in build
  tsconfig.json
Due: prettier --config .prettierrc --write

chore: config
  tsconfig.json
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: test artifacts test
  package.json
Due: prettier --config .prettierrc --write

chore: fix linting errors
  src/cli/build.test.ts
  src/cli/crd/generate.test.ts
  src/cli/monitor.test.ts
  src/lib/controller/migrateStore.test.ts
  src/lib/core/capability.test.ts
  src/lib/helpers.test.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: update tsconfig
  tsconfig.json
Due: prettier --config .prettierrc --write

chore: vite configs
  integration/vitest.config.ts
  journey/entrypoint.test.ts
  journey/vitest.config.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: return types
  .lintstagedrc.json
  config/Dockerfile
  eslint.config.mjs
  eslint.test.config.mjs
  package-lock.json
  src/cli/docs/docs.test.ts
  src/lib/assets/yaml/generateAllYaml.test.ts
  src/lib/errors.test.ts
  src/lib/finalizer.test.ts
  src/lib/processors/decode-utils.test.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/validate-processor.test.ts
  src/lib/processors/watch-processor-queue.test.ts
  src/lib/processors/watch-processor.test.ts
  tsconfig.json
  tsconfig.test.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: ignore go cve
  .github/workflows/container-scan.yaml
Due: none

chore: fix lint
  package.json
  src/lib/filter/adjudicators/bindingAdjudicators.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: update filter test
  src/lib/filter/filter.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: integration eslint.config.mjs
  integration/eslint.config.mjs
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: integration directory
  integration/vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: extend timeouts
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: workflows
  .github/workflows/container-scan.yaml
Due: none

chore: on demand
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: update exclude dirs
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: on demand workflows
  .github/workflows/node.js.yml
  .github/workflows/on-demand-workflows.yaml
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: on demand workflows
  .github/workflows/node.js.yml
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: fix build-artifacts test
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: look for dist
  .github/workflows/on-demand-workflows.yaml
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: run build-artifacts on its own
  .github/workflows/on-demand-workflows.yaml
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: run build-artifacts no exclude
  package.json
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

chore: run build before test for build-artifacts
  .github/workflows/on-demand-workflows.yaml
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

Update docs/040_pepr-tutorials/040_pepr-gitops-workflow.md
  docs/040_pepr-tutorials/040_pepr-gitops-workflow.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: logs around webhook timeouts should be debug and not info (#2260)
  src/lib/telemetry/webhookTimeouts.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

Remove unnecessary flag
  package.json
Due: prettier --config .prettierrc --write

chore: resolve conflicts
  package-lock.json
  package.json
  src/lib/core/queue.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --fix --ignore-pattern src/templates/eslint.config.mjs: ((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)
  eslint --config integration/eslint.config.mjs integration/cli/*.ts integration/helpers/*.ts: ((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
