Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, shellcheck -f tty, markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs "
  ],
  "*.mjs": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs "
  ],
  "*.js": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs "
  ],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

Create script for format:md
  .lintstagedrc.json
  BACKWARDS_COMPATABILITY.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PROJECTS_USING_PEPR.md
  SECURITY.md
  SUPPORT.md
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove extra import
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: support last 3 stable versions of node - drop 18 (#2200)
  .github/workflows/on-demand-workflows.yaml
  README.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/120_contribute/README.md
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove markdownlint during build
  package.json
Due: prettier --config .prettierrc --write

chore: in faq give explanation of module author (#2201)
  docs/080_faq/README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove markdownlint-cli during pepr build
  src/cli/build.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: do not log about an alias when there is no alias
  src/lib/core/capability.test.ts
  src/lib/core/capability.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Set exit code, let node choose when to exit
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Set exit code instead of calling process.exit(1)
  src/cli/dev.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: fix formatting errors
  src/lib/core/capability.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: set exit code during error instead of forcing terminaxtion during `npx pepr update` (#2204)
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Use process.exit() when in nested condition
  src/cli/dev.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: update logging before `pepr dev` exits (#2205)
  src/cli/dev.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: do not log about an alias when there is no alias (#2203)
  src/lib/core/capability.test.ts
  src/lib/core/capability.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: generate crds docs
  docs/030_user-guide/140_generating-crds.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs/030_user-guide/140_generating-crds.md
  docs/030_user-guide/140_generating-crds.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: generate crds docs (#2207)
  docs/030_user-guide/140_generating-crds.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Manage .md files with a script for hook checks
  .lintstagedrc.json
  README.md
  package-lock.json
  package.json
  scripts/markdownlint.sh
  src/cli/build.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, shellcheck -f tty, markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Check .md with npx script
  .lintstagedrc.json
  package.json
  scripts/markdownlint.sh
Due: prettier --config .prettierrc --write, shellcheck -f tty

Remove prebuild command
  package.json
Due: prettier --config .prettierrc --write

Update format scripts for CI
  package.json
Due: prettier --config .prettierrc --write

Remove script that was merged to other commands
  package.json
Due: prettier --config .prettierrc --write

md lint fixes
  docs/030_user-guide/010_pepr-cli.md
  docs/030_user-guide/040_capabilities.md
  docs/060_best-practices/README.md
  src/templates/README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix doc tests
  src/cli/build.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: check .md files with markdownlint-cli (#1803)
  .lintstagedrc.json
  .markdownlint.json
  BACKWARDS_COMPATABILITY.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PROJECTS_USING_PEPR.md
  README.md
  SECURITY.md
  SUPPORT.md
  docs/030_user-guide/010_pepr-cli.md
  docs/030_user-guide/030_actions/030_reconcile.md
  docs/030_user-guide/030_actions/040_watch.md
  docs/030_user-guide/030_actions/050_finalize.md
  docs/030_user-guide/040_capabilities.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/060_best-practices/README.md
  docs/090_roadmap/README.md
  docs/100_community/050_pepr-media.md
  docs/120_contribute/README.md
  infra-agnostic-artifact-distribution.md
  package-lock.json
  package.json
  src/cli/build.ts
  src/templates/README.md
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: migrate to rf based image for unicorn pepr
  .github/workflows/nightlies.yml
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/release.yml
  config/Dockerfile
Due: none

fix: registry ref
  .github/workflows/nightlies.yml
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/release.yml
Due: none

chore: bump timeouts to 8 min
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: bump timeouts to 8 min (#2212)
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: check images
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: change runasuser dynamically based on image
  src/lib/assets/pods.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chorel wip
  docs/080_faq/README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: watch vs reconcile faq
  docs/080_faq/README.md
Due: markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update peer deps
  package.json
Due: prettier --config .prettierrc --write

chore: migrate to rf based image for unicorn pepr (#2209)
  .github/workflows/nightlies.yml
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/release.yml
  config/Dockerfile
  src/lib/assets/pods.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Update package-lock.json
  package-lock.json
Due: prettier --config .prettierrc --write

chore: dependabot for rapidfort
  .github/dependabot.yml
Due: none

chore: fix image
  config/Dockerfile
Due: none

chore: dependabot for rapidfort (#2220)
  .github/dependabot.yml
  config/Dockerfile
Due: none

chore: change digest
  config/Dockerfile
Due: none
