Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

chore: update unicorn sha hashes and remove dupe dockerfile (#1986)
  Dockerfile.unicorn
  config/Dockerfile
  docs/120_contribute/README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: account for unique dockerfile
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: update peer deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: peer deps update
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: add example
  docs/030_user-guide/030_actions/020_validate.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix inconsistency between docs & implementation for uuid length
  docs/030_user-guide/010_pepr-cli.md
  src/cli/init/enums.ts
  src/cli/init/index.ts
  src/cli/init/walkthrough.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: use consistent uuid length limit in docs (#2000)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/init/enums.ts
  src/cli/init/index.ts
  src/cli/init/walkthrough.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: example to validate
  docs/030_user-guide/030_actions/020_validate.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: example to validate action (#2004)
  docs/030_user-guide/030_actions/020_validate.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: account for unique dockerfile (#1996)
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: WIP
  TODO.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: add warnings to response
  src/lib/processors/validate-processor.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: scaffolding
  TODO.md
  integration/cli/build.version.test.ts
  src/cli.ts
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
  src/cli/crd/index.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs/030_user-guide/030_actions/020_validate.md
  docs/030_user-guide/030_actions/020_validate.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

feat: allow warnings on validation response (#1974)
  docs/030_user-guide/030_actions/020_validate.md
  src/lib/common-types.ts
  src/lib/controller/index.util.test.ts
  src/lib/controller/index.util.ts
  src/lib/processors/validate-processor.ts
  src/lib/validate-request.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Refactor try/catch blocks, need to update tests
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: build_version_no_exist
  integration/cli/build.version.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: fix integration test in another pr
  TODO.md
  src/cli.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix quotes in nightlies.sh
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: build_version_no_exist (#2006)
  integration/cli/build.version.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

update tests for watch-processor
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write, eslint --fix

Fix quote-parsing in nightly script
  scripts/nightlies.sh
  scripts/read-unicorn-build-args.mjs
Due: shellcheck -f tty

Remove excessive quotes
  scripts/read-unicorn-build-args.mjs
Due: none

Remove extra quotes from dockerfile, shift to build script
  Dockerfile
  scripts/read-unicorn-build-args.mjs
Due: none

more script tweaks
  scripts/read-unicorn-build-args.mjs
Due: none

remove incorrect comment
  scripts/read-unicorn-build-args.mjs
Due: none

Print contents across multiple lines and process as an array
  scripts/nightlies.sh
  scripts/read-unicorn-build-args.mjs
Due: shellcheck -f tty

chore: WIP
  TODO.md
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Use portable syntax for bash array
  scripts/nightlies.sh
Due: shellcheck -f tty

Pass version into shared script for pushing release images
  .github/workflows/release.yml
  .github/workflows/scripts/release.sh
  package.json
  scripts/nightlies.sh
  scripts/push-controller-images.sh
Due: prettier --config .prettierrc --write, shellcheck -f tty

Add validation for version string
  .github/workflows/scripts/release.sh
  scripts/push-controller-images.sh
Due: shellcheck -f tty

Immediately exit on non-zero exit code
  .github/workflows/scripts/release.sh
Due: shellcheck -f tty

chore: shellcheck giving incorrect warning on nightlies.sh (#2009)
  .github/workflows/release.yml
  .github/workflows/scripts/release.sh
  Dockerfile
  package.json
  scripts/nightlies.sh
  scripts/push-controller-images.sh
  scripts/read-unicorn-build-args.mjs
Due: prettier --config .prettierrc --write, shellcheck -f tty

chore: create/generate
  TODO.md
  src/cli/crd/create.test.ts
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: generating correct crds
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update regex
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: objects
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: TODO
  TODO.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: bending the code around the overzealous linter rules
  TODO.md
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Fix loose typing and add awaits
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Path conditions:
  prettier --config .prettierrc --write: ((any of: *.js) or (any of: *.json)) or (any of: *.ts)
  eslint --fix: (any of: *.js) or (any of: *.ts)
  markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
