Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: removed duplicate doc files
  docs/010_user-guide/040_capabilities.md
  docs/010_user-guide/060_customization.md
  docs/010_user-guide/130_rbac.md
  docs/030_tutorials/010_create-pepr-module.md
  docs/030_tutorials/020_create-pepr-dashboard.md
  docs/030_tutorials/030_create-pepr-operator.md
  docs/040_reference/010_best-practices.md
  docs/040_reference/030_faq.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: removed duplicate doc files (#2822)
  docs/010_user-guide/040_capabilities.md
  docs/010_user-guide/060_customization.md
  docs/010_user-guide/130_rbac.md
  docs/030_tutorials/010_create-pepr-module.md
  docs/030_tutorials/020_create-pepr-dashboard.md
  docs/030_tutorials/030_create-pepr-operator.md
  docs/040_reference/010_best-practices.md
  docs/040_reference/030_faq.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: pinned dep hash of slsa3 workflow (#2803)
  .github/workflows/release.yml
Due: none

chore: updated legacy links
  docs/tutorials/create-pepr-dashboard.md
  docs/tutorials/create-pepr-operator.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: updated legacy links (#2825)
  docs/tutorials/create-pepr-dashboard.md
  docs/tutorials/create-pepr-operator.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: id-token write for trusted publishing
  .github/workflows/release.yml
Due: none

fix: update doc links
  README.md
  docs/contribute/contributor-guide.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: trusted publishing for npmjs and github (#2830)
  .github/workflows/release.yml
Due: none

chore: updated internal links to relative and callouts to github syntax
  README.md
  docs/actions/README.md
  docs/actions/finalize.md
  docs/actions/mutate.md
  docs/actions/reconcile.md
  docs/actions/using-alias-child-logger.md
  docs/actions/validate.md
  docs/community/community.md
  docs/contribute/contributor-guide.md
  docs/reference/best-practices.md
  docs/reference/faq.md
  docs/tutorials/create-pepr-dashboard.md
  docs/tutorials/create-pepr-module.md
  docs/tutorials/create-pepr-operator.md
  docs/user-guide/capabilities.md
  docs/user-guide/customization.md
  docs/user-guide/feature-flags.md
  docs/user-guide/generating-crds.md
  docs/user-guide/pepr-cli.md
  docs/user-guide/sdk.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update links
  CONTRIBUTING.md
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: updated internal links to relative and callouts to github syntax (#2837)
  CONTRIBUTING.md
  README.md
  docs/actions/README.md
  docs/actions/finalize.md
  docs/actions/mutate.md
  docs/actions/reconcile.md
  docs/actions/using-alias-child-logger.md
  docs/actions/validate.md
  docs/community/community.md
  docs/contribute/contributor-guide.md
  docs/reference/best-practices.md
  docs/reference/faq.md
  docs/tutorials/create-pepr-dashboard.md
  docs/tutorials/create-pepr-module.md
  docs/tutorials/create-pepr-operator.md
  docs/user-guide/capabilities.md
  docs/user-guide/customization.md
  docs/user-guide/feature-flags.md
  docs/user-guide/generating-crds.md
  docs/user-guide/pepr-cli.md
  docs/user-guide/sdk.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: release version node 24
  .github/workflows/release.yml
Due: none

chore: release version node 24 (#2840)
  .github/workflows/release.yml
Due: none

fix: nightly watch test for aks disconnects
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: the t and s in typescript should be capitalized
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: update comments
  src/cli/crd/create/createCRDscaffold.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: the t and s in typescript should be capitalized (#2851)
  README.md
  src/cli/crd/create/createCRDscaffold.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Notes added by 'git notes add'
  cdca10a272b79db612a723d38ee4ae005e9bf26d
Due: none

chore: more logging in kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: try without check resync
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: do not check relist
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  53526424dc2fc79f43d2a63953e29a59f490c1a5
Due: none

chore: wip
  README.md
  package-lock.json
  package.json
  src/api/apiv1.proto
  src/api/apiv1.ts
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: implemented sanitizeResourceName function to check for RFC 1123 uuid compliance
  src/cli/init/index.test.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: implemented function to check for RFC 1123 compliance (#2866)
  src/cli/init/index.test.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: test timeout in kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: pin version
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: updated security md
  SECURITY.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: updated security md (#2877)
  SECURITY.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix broken dockerfile.kfc
  Dockerfile.kfc
Due: none

chore: revert changes
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Update package-lock.json
  package-lock.json
Due: prettier --config .prettierrc --write

chore: update kfc dockerfile
  Dockerfile.kfc
Due: none

chore: added log warning and updated docs for default admin mode
  docs/user-guide/rbac.md
  src/cli/dev.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

2879: Fix for Overly Permissive RBAC ClusterRole in Admin Mode - Need to warn users
  src/cli/build/index.test.ts
  src/cli/build/index.ts
  src/cli/init/index.test.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Fix 2879: Overly Permissive RBAC ClusterRole in Admin Mode - Need to warn users
  src/cli/build/index.test.ts
  src/cli/build/index.ts
  src/cli/init/index.test.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: added log warning and updated docs for default admin mode (#2883)
  docs/user-guide/rbac.md
  src/cli/dev.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Notes added by 'git notes add'
  d4675a662b8602fcde7e4bf603432f2f133b1fd1
Due: none

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
