Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1, shellcheck -f tty

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1"
  ],
  "*.mjs": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1"
  ],
  "*.js": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1"
  ],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"]
}

Improve check during update
  src/cli/update.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Update warning message whitespace
  src/cli/update.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: add warning message for `npx pepr update` for eslint v8 use (#2135)
  src/cli/update.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: remove unnecessary prettier ignore rule (#2133)
  .prettierignore
Due: none

Prettify data.json on generation
  package.json
Due: prettier --config .prettierrc --write

Move typescript and eslint to project dependencies
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Update template generation
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: tutorial around gitops workflow
  docs/040_pepr-tutorials/010_create-pepr-module.md
  docs/040_pepr-tutorials/020_create-pepr-dashboard.md
  docs/040_pepr-tutorials/040_pepr-gitops-workflow.md
Due: none

chore: node-fips
  config/Dockerfile
Due: none

chore: correct tag
  config/Dockerfile
Due: none

Remove prettification of data.json
  package.json
Due: prettier --config .prettierrc --write

Move update-related scripts to own directory
  src/cli.ts
  src/cli/update/eslint-migration/data-management.ts
  src/cli/update/eslint-migration/eslint-operations.ts
  src/cli/update/eslint-migration/tsconfig-operations.ts
  src/cli/update/update.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Move cli files to organzied subfolders
  src/cli/format/format.helpers.ts
  src/cli/format/format.test.ts
  src/cli/format/format.ts
  src/cli/update/update.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Move cli files to organzied subfolders
  src/cli/format/format.helpers.ts
  src/cli/format/format.test.ts
  src/cli/format/format.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Rename file for simpler import
  src/cli/format/index.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Remove migration script from other branch
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: updates
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: move cli files to organized subfolders (#2143)
  src/cli/format/format.helpers.ts
  src/cli/format/format.test.ts
  src/cli/format/index.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: node-fips (#2142)
  config/Dockerfile
Due: none

chore: timeouts
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
Due: none

Update docs/040_pepr-tutorials/040_pepr-gitops-workflow.md
  docs/040_pepr-tutorials/040_pepr-gitops-workflow.md
Due: none

chore: env vars integration test
  integration/cli/build.envvars.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Remove eslint migration scripts
  src/cli/update/eslint-migration/data-management.ts
  src/cli/update/eslint-migration/eslint-operations.ts
  src/cli/update/eslint-migration/tsconfig-operations.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: format integration test
  integration/cli/format.format.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: env vars integration test (#2144)
  integration/cli/build.envvars.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Update integration/cli/format.format.test.ts
  integration/cli/format.format.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: format integration test (#2145)
  integration/cli/format.format.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

Update peer deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Remove migration script
  src/cli.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: fix typo
  docs/030_user-guide/120_customization.md
Due: none

chore: fix spacing
  docs/030_user-guide/120_customization.md
Due: none

chore: fix soak test
  .github/workflows/soak.yaml
Due: none

chore: install
  .github/workflows/soak.yaml
Due: none

chore: upgrade to eslint v9 (#2121)
  .eslintrc.json
  .lintstagedrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/cli/init/templates.test.ts
  src/cli/init/templates.ts
  src/cli/update/index.ts
  src/templates/.eslintrc.json
  src/templates/.eslintrc.template.json
  src/templates/capabilities/hello-pepr.ts
  src/templates/eslint.config.mjs
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs --max-warnings 1

chore: fix paths
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/soak.yaml
Due: none

chore: fix soak test (#2149)
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/soak.yaml
Due: none

Update dev deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: update peer dependencies (#2107)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: docs typo (#2148)
  docs/030_user-guide/120_customization.md
Due: none
