Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: account for mac or linux in the sed
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Apply some parameterized testing to the featureStore tests
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Move some type declarations to a new file
  src/lib/features/FeatureFlags.ts
  src/lib/features/FeatureTypes.ts
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: format changes
  .github/workflows/tutorials-test.yml
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: node version
  .github/workflows/release.yml
Due: none

Remove feature documentation service
  src/lib/features/VersionUtils.ts
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Refactor complexity from store.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

chore: validate operator tutorial (#2582)
  .github/workflows/release.yml
  .github/workflows/tutorials-test.yml
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/040_pepr-tutorials/tests/030_create-pepr-operator.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove unnecessary metadata fields
  src/lib/features/FeatureFlags.ts
  src/lib/features/FeatureTypes.ts
  src/lib/features/VersionUtils.ts
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

feat: implement semantic release
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: change ci trigger
  .github/workflows/release.yml
Due: none

Remove unnecessary it.each blocks
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: publish to github
  .github/workflows/release.yml
Due: none

remove circular dep
  src/lib/features/FeatureFlags.ts
  src/lib/features/FeatureTypes.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

chore: account for missing entrypoint
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: formatting and docs test
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Refactor test details
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Rely on top level test setup
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Rename feature-flag store
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove docs type that's not used right now
  src/lib/features/FeatureFlags.ts
  src/lib/features/FeatureTypes.ts
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove duplicate store init
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Fix typo
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Always initialize all feature flags with their default value
  src/lib/features/FeatureFlags.ts
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update tests for excessive amounts of feature flags
  src/lib/features/FeatureFlags.ts
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Create helper function to add feature flags for tests
  src/lib/features/FeatureFlags.ts
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update fake feature flag creation
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove unused function
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

update error message
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Fix test case for non-existent features
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Create reference flag
  src/lib/features/FeatureFlags.ts
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update test data management
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update test assertion to reflect starting state
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update names of fake feature flags
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

refactor store.ts to reduce length
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

remove complexity
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

remove excessive type checking
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

Update validation
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

Refactor loading process
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

Make environment tunable
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
