Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, shellcheck -f tty, markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs "
  ],
  "*.mjs": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs "
  ],
  "*.js": [
    "prettier --config .prettierrc --write",
    "eslint --fix --ignore-pattern src/templates/eslint.config.mjs "
  ],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: logs around webhook timeouts should be debug and not info
  src/lib/telemetry/webhookTimeouts.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: include integration for prettier and eslint (#2236)
  integration/cli/dev.dev-test.test.ts
  integration/eslint.config.mjs
  integration/helpers/cmd.ts
  integration/helpers/resource.test.ts
  integration/helpers/resource.ts
  integration/helpers/time.ts
  integration/helpers/workdir.ts
  integration/tsconfig.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: websocket types and watchphase location
  package-lock.json
  package.json
  src/lib/core/capability.test.ts
  src/lib/core/queue.test.ts
  src/lib/core/queue.ts
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Revert "chore: bump brace-expansion from 1.1.11 to 1.1.12 (#2264)"
  package-lock.json
Due: prettier --config .prettierrc --write

Revert "chore: bump brace-expansion from 1.1.11 to 1.1.12" (#2265)
  package-lock.json
Due: prettier --config .prettierrc --write

Ignore updates to jest v30 for now
  .github/dependabot.yml
Due: none

Update ignore rule
  .github/dependabot.yml
Due: none

chore: ignore updates to jest v30 for now (#2267)
  .github/dependabot.yml
Due: none

Ignore new jest globals
  .github/dependabot.yml
Due: none

chore: ignore @jest/globals v30+ (#2272)
  .github/dependabot.yml
Due: none

chore: override brace expansion in package.json
  config/Dockerfile
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: override brace expansion in package.json (#2274)
  config/Dockerfile
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Upgrade integration tests to use vitest
  .lintstagedrc.json
  integration/cli/build.configequality.test.ts
  integration/cli/build.defaults.test.ts
  integration/cli/build.envvars.test.ts
  integration/cli/build.help.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.rbacmode.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/crd.test.ts
  integration/cli/dev.dev-test.test.ts
  integration/cli/format.format.test.ts
  integration/cli/init.test.ts
  integration/helpers/cmd.test.ts
  integration/helpers/pepr.test.ts
  integration/helpers/resource.test.ts
  integration/helpers/time.test.ts
  integration/helpers/workdir.test.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

feat: export metric collector into library
  docs/030_user-guide/150_generating_custom_metrics.md
  src/cli/init/templates.ts
  src/lib.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: upgrade integration tests to use vitest (#2275)
  .lintstagedrc.json
  integration/cli/build.configequality.test.ts
  integration/cli/build.defaults.test.ts
  integration/cli/build.envvars.test.ts
  integration/cli/build.help.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.rbacmode.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/crd.test.ts
  integration/cli/dev.dev-test.test.ts
  integration/cli/format.format.test.ts
  integration/cli/init.test.ts
  integration/helpers/cmd.test.ts
  integration/helpers/pepr.test.ts
  integration/helpers/resource.test.ts
  integration/helpers/time.test.ts
  integration/helpers/workdir.test.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Update journey tests to use vitest
  journey/entrypoint-wasm.test.ts
  journey/entrypoint.test.ts
  journey/pepr-build-wasm.ts
  journey/pepr-build.helpers.ts
  journey/pepr-build.ts
  journey/pepr-deploy.ts
  journey/pepr-dev.ts
  journey/pepr-format.ts
  journey/pepr-init.ts
  journey/pepr-upgrade.test.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Remove unused code
  journey/entrypoint-wasm.test.ts
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

Increase timeout for upgrade tests
  integration/eslint.config.mjs
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: wip unit tests
  package-lock.json
  package.json
  src/cli/crd/create.test.ts
  src/cli/format/format.test.ts
  src/lib/assets/assets.test.ts
  tsconfig.json
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: more units
  src/lib/assets/environment.test.ts
  src/lib/assets/ignoredNamespaces.test.ts
  src/lib/assets/index.test.ts
  src/lib/assets/loader.test.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/rbac.test.ts
  src/lib/assets/webhooks.test.ts
  src/lib/assets/yaml/generateZarfYaml.test.ts
  src/lib/controller/createHooks.test.ts
  src/lib/controller/index.test.ts
  src/lib/controller/index.util.test.ts
  src/lib/controller/store.test.ts
  src/lib/controller/storeCache.test.ts
  src/lib/core/queue.test.ts
  src/lib/core/schedule.test.ts
  src/lib/core/storage.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: unit tests for src/lib
  src/lib/controller/store.test.ts
  src/lib/included-files.test.ts
  src/lib/mutate-request.test.ts
  src/lib/tls.test.ts
  src/lib/utils.test.ts
  src/lib/validate-request.test.ts
  src/sdk/heredoc.unit.test.ts
  src/sdk/sdk.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: update journey tests to use vitest (#2277)
  integration/eslint.config.mjs
  journey/entrypoint-wasm.test.ts
  journey/entrypoint.test.ts
  journey/pepr-build-wasm.ts
  journey/pepr-build.helpers.ts
  journey/pepr-build.ts
  journey/pepr-deploy.ts
  journey/pepr-dev.ts
  journey/pepr-format.ts
  journey/pepr-init.ts
  journey/pepr-upgrade.test.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

feat: export metric collector into library (#2276)
  docs/030_user-guide/150_generating_custom_metrics.md
  src/cli/init/templates.ts
  src/lib.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs, markdownlint --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: adjudicator test
  src/lib/filter/adjudicators/postCollection.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: mismatch test
  src/lib/filter/adjudicators/mismatch.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: kubernetes object test
  src/lib/filter/adjudicators/kubernetesObject.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: admissionRequest test
  src/lib/filter/adjudicators/admissionRequest.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: build-artifact
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: 24 tests to go
  src/lib/filter/filter.test.ts
  src/lib/processors/decode-utils.test.ts
  src/lib/telemetry/logger.test.ts
  src/lib/telemetry/metrics.test.ts
  src/lib/telemetry/timeUtils.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: 19 more tests
  src/cli/init/templates.test.ts
  src/lib/assets/helm.test.ts
  src/lib/filter/adjudication.test.ts
  src/lib/filter/adjudicators/bindingAdjudicators.test.ts
  src/lib/processors/watch-processor-queue.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: build test
  src/cli/build.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: overridesfile test
  src/lib/assets/yaml/overridesFile.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: generateAllYaml
  src/cli/build.test.ts
  src/lib/assets/yaml/generateAllYaml.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: monitor test
  src/cli/monitor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: deploymentChecks
  src/lib/deploymentChecks.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: webhookTimeout test
  src/lib/telemetry/webhookTimeout.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: errors
  src/lib/errors.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: fs service test
  src/lib/filesystemService.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: module.test.ts
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs

chore: finalizer test
  src/lib/finalizer.test.ts
Due: prettier --config .prettierrc --write, eslint --fix --ignore-pattern src/templates/eslint.config.mjs
