Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

.lintstagedrc.json:

{
  "*.js": ["prettier --config .prettierrc --write", "eslint --fix"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.md": [
    "markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ],
  "*.sh": ["shellcheck -f tty"],
  "*.ts": ["prettier --config .prettierrc --write", "eslint --fix"],
  ".husky/pre-*": ["shellcheck -f tty"]
}

Remove broken link
  docs/100_community/050_pepr-media.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: best practice around anti-affinity (#2093)
  docs/060_best-practices/README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: consolidate repeated function (#2094)
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

fix: remove broken docs link (#2095)
  docs/100_community/050_pepr-media.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add reference file
  clis2.txt
Due: none

Generate short name options
  clis2.txt
Due: none

Add uuid & kfc commands
  clis2.txt
Due: none

rename file
  proposed-cli-opts.txt
Due: none

scrub deploy command
  clis2.txt
Due: none

scrub init command
  clis2.txt
Due: none

scrub crd command
  clis2.txt
Due: none

Another round of changes
  clis2.txt
Due: none

scrub format & sort
  clis2.txt
Due: none

Apply some consistency to CLI options
  clis2.txt
Due: none

sort list
  clis2.txt
Due: none

add monitor command
  clis2.txt
Due: none

scrub build command
  clis2.txt
Due: none

Add top-level pepr cmd
  clis2.txt
Due: none

add additional sub command
  clis2.txt
Due: none

Sort cmd options
  clis2.txt
Due: none

scrub format command
  clis2.txt
Due: none

scrub dev command
  clis2.txt
Due: none

Group by command
  clis2.txt
Due: none

Make --yes consistent across commands
  clis2.txt
Due: none

chore: update sanitized name
  src/sdk/sdk.test.ts
  src/sdk/sdk.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update comments
  src/sdk/sdk.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update src/sdk/sdk.test.ts
  src/sdk/sdk.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update src/sdk/sdk.ts
  src/sdk/sdk.ts
Due: prettier --config .prettierrc --write, eslint --fix

Create template for CLI output tests
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Scaffold all CLI command options
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Run each subcommand in all templated sections
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Note optimization opportunity
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: init
  src/cli/init/templates.ts
  src/lib/assets/assets.ts
  src/lib/core/module.ts
  src/lib/helpers.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.ts
  src/lib/types.ts
  src/templates/package.json
Due: prettier --config .prettierrc --write, eslint --fix

fix: add missing helm values/templates
  src/lib/assets/helm.ts
Due: prettier --config .prettierrc --write, eslint --fix

Sort cli docs alphabetically
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: allow both affinity and antiaffinity
  src/lib/assets/helm.ts
Due: prettier --config .prettierrc --write, eslint --fix

fix: add missing helm values/templates (#2101)
  src/lib/assets/helm.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: sort cli docs alphabetically (#2102)
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add undocumented commands
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
