Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: release with a new kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: added dependabot ignore for eslint v10 and greater
  .github/dependabot.yml
Due: none

chore: ensure format test has needed deps
  integration/cli/format.format.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: override rollup vulnerability
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: added dependabot ignore for eslint v10 and greater (#2963)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: prevent store cache corruption on retry by snapshotting before flush
  src/lib/controller/storeCache.test.ts
  src/lib/controller/storeCache.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: preserve concurrent cache writes during `sendUpdatesAndFlushCache` retry
  src/lib/controller/storeCache.test.ts
  src/lib/controller/storeCache.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

test: add concurrent-write test for `sendUpdatesAndFlushCache` success path
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: eliminate array coercion in `fillStoreCache` path construction
  src/lib/controller/migrateStore.test.ts
  src/lib/controller/storeCache.test.ts
  src/lib/controller/storeCache.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: convert webhook timeout from seconds to milliseconds before comparison
  src/lib/telemetry/webhookTimeout.test.ts
  src/lib/telemetry/webhookTimeouts.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: move `imagePullSecrets` to pod spec level in Helm deployment templates
  src/lib/assets/helm.test.ts
  src/lib/assets/helm.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: check `response.result` instead of `response.warnings` for `OnError.REJECT` early-return
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

test: improve `reencodeData` mock and reword test comments
  src/lib/processors/mutate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: merge RBAC verbs in `createRBACMap` instead of overwriting
  src/lib/assets/defaultTestObjects.ts
  src/lib/assets/rbac.test.ts
  src/lib/helpers.test.ts
  src/lib/helpers.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: add missing `adjudicateMisboundNamespace` check to admission webhook filter
  src/lib/filter/adjudicators/postCollection.test.ts
  src/lib/filter/adjudicators/postCollection.ts
  src/lib/filter/filter.test.ts
  src/lib/filter/filter.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: catch invalid regex in `mismatchedNameRegex`, `mismatchedNamespaceRegex`
  src/lib/filter/adjudicators/mismatch.test.ts
  src/lib/filter/adjudicators/mismatch.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: compile all namespace regexes before matching in `mismatchedNamespaceRegex`
  src/lib/filter/adjudicators/mismatch.test.ts
  src/lib/filter/adjudicators/mismatch.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: reject when `loadCapabilities` child exits without sending capabilities
  src/lib/assets/loader.test.ts
  src/lib/assets/loader.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: clone `config.env` in `genEnv` to prevent shared-object mutation
  src/lib/assets/environment.test.ts
  src/lib/assets/environment.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: catch invalid regex in `mismatchedNameRegex`, `mismatchedNamespaceRegex` (#2979)
  src/lib/filter/adjudicators/mismatch.test.ts
  src/lib/filter/adjudicators/mismatch.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: minimatch cve suppression
  .grype.yaml
Due: none

chore: eslint v10
  config/eslint.integration.config.mjs
  config/eslint.root.config.mjs
  config/eslint.test.config.mjs
  package-lock.json
  package.json
  src/templates/eslint.config.mjs
Due: prettier --config .prettierrc --write

chore: fix format
  integration/helpers/time.ts
  src/cli/init/templates.test.ts
  src/cli/init/utils.ts
  src/lib/assets/assets.ts
  src/lib/controller/migrateStore.ts
  src/lib/helpers.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: fix time format
  integration/helpers/time.ts
Due: prettier --config .prettierrc --write, eslint --config integration/eslint.config.mjs

chore: remove dependabot eslint 10 exclusion'
  .github/dependabot.yml
Due: none

chore: minimatch cve suppression (#2982)
  .grype.yaml
Due: none

Use kfc 3.11.5
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Add devdeps to pepr template
  integration/cli/format.format.test.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

version-pin devdeps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Version pin deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Remove unused deps
  package.json
Due: prettier --config .prettierrc --write

Use kfc 3.11.5
  integration/cli/format.format.test.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

fix(kfc): bump KFC to 3.11.5 (#2988)
  integration/cli/format.format.test.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Notes added by 'git notes add'
  47004a67a4552540fe7612cb159901d17253857a
Due: none

chore: pin versions from incoming merge
  package.json
Due: prettier --config .prettierrc --write

chore: added GHSA-qffp-2rhf-9h96 to suppression list
  .grype.yaml
Due: none

chore: added GHSA-qffp-2rhf-9h96 to suppression list (#2991)
  .grype.yaml
Due: none

chore: update grype yaml ignores
  .grype.yaml
Due: none

chore: update grype yaml ignores (#3006)
  .grype.yaml
Due: none

fix: update kfc version
  package.json
Due: prettier --config .prettierrc --write

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
