Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

Use --output
  integration/cli/build.nonconflict.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Use .yes instead of .confirm
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write

feat: apply proposed CLI options for `pepr deploy` (#2382)
  docs/030_user-guide/010_pepr-cli.md
  docs/060_best-practices/README.md
  journey/pepr-deploy.ts
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: push to uds registry on nightly and release (#2390)
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
  scripts/nightlies.sh
  scripts/push-controller-images.sh
Due: shellcheck -f tty

Update variable name
  src/cli/build.ts
Due: prettier --config .prettierrc --write

feat: apply proposed options for 'pepr build' (#2383)
  docs/030_user-guide/010_pepr-cli.md
  docs/030_user-guide/040_capabilities.md
  docs/030_user-guide/110_webassembly.md
  integration/cli/build.nonconflict.test.ts
  journey/entrypoint-wasm.test.ts
  journey/pepr-build-wasm.ts
  src/cli/build.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: resolve modules to nodenext (#2380)
  src/templates/tsconfig.module.json
Due: prettier --config .prettierrc --write

chore: load test hotfix
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

chore: load test hotfix (#2406)
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

Use --yes in init commands
  docs/030_user-guide/010_pepr-cli.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  integration/cli/build.configequality.test.ts
  integration/cli/build.defaults.test.ts
  integration/cli/build.envvars.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.rbacmode.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/dev.dev-test.test.ts
  integration/cli/format.format.test.ts
  integration/cli/init.test.ts
  src/cli/init/index.ts
  src/cli/init/walkthrough.test.ts
  src/cli/init/walkthrough.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update variable name for confirmation prompt
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write

feat: apply proposed options for init command (#2393)
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  docs/030_user-guide/010_pepr-cli.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  integration/cli/build.configequality.test.ts
  integration/cli/build.defaults.test.ts
  integration/cli/build.envvars.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.rbacmode.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/dev.dev-test.test.ts
  integration/cli/format.format.test.ts
  integration/cli/init.test.ts
  journey/pepr-upgrade.test.ts
  src/cli/init/index.ts
  src/cli/init/walkthrough.test.ts
  src/cli/init/walkthrough.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: pepr format returning success on eslint errors
  src/cli/format/index.test.ts
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: pepr format returning success on eslint errors (#2409)
  src/cli/format/index.test.ts
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Use new proposed CLI options
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/dev.dev-test.test.ts
  journey/pepr-dev.ts
  src/cli/dev.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update cli for --scoped
  src/cli/crd/create.test.ts
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Change CLI for crd create
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write

Match docs & cli behavior
  docs/030_user-guide/010_pepr-cli.md
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update test use of crd create
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Adopt new CLi options for crd generate command
  docs/030_user-guide/010_pepr-cli.md
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

add short opt to pepr update
  docs/030_user-guide/010_pepr-cli.md
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

feat: apply proposed CLI options for 'pepr dev' (#2411)
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/dev.dev-test.test.ts
  journey/pepr-dev.ts
  src/cli/dev.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

feat: apply proposed options to crd create command (#2412)
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/crd.test.ts
  src/cli/crd/create.test.ts
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

feat: add short option to pepr update (#2415)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: integration upgrade test
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
  .gitignore
  integration/cluster/upgrade.test.ts
  journey/pepr-upgrade.test.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

feat: apply new CLI options for 'crd generate' (#2414)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update vitest config
  config/vitest.journey.config.ts
Due: prettier --config .prettierrc --write

Remove deprecated CLI option
  docs/030_user-guide/150_generating_custom_metrics.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: export env var
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore(docs): remove deprecated CLI option (#2417)
  docs/030_user-guide/150_generating_custom_metrics.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: show the directory
  config/vitest.integration.config.ts
  config/vitest.journey.config.ts
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: use tarball
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: use node_modules after install
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: find pack
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: change tarbar path
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: find packfile
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none
