Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f diff

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.sh": ["shellcheck -f diff"]
}

Compose ModuleConfig with some partial options
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

Remove intermediate type
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --write, eslint --fix

Remove changes to test inputs
  src/lib/assets/pods.test.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
  src/lib/processors/mutate-processor.test.ts
Due: prettier --write, eslint --fix

Remove throwaway test script
  throwaway.sh
Due: shellcheck -f diff

Set labels from user input
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --write, eslint --fix

Update test criteria for integration test after bugfix
  integration/cli/build.configequality.test.ts
Due: prettier --write, eslint --fix

chore: add unit test
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --write, eslint --fix

Resolve shellcheck warning
  integration/prep.sh
Due: shellcheck -f diff

Use terminal-friendly output
  .lintstagedrc.json
Due: prettier --write

chore: add shellcheck as dev & resolve warnings for huksy hooks
  .husky/pre-push
  .lintstagedrc.json
  package.json
Due: prettier --write

chore: remove unused current_branch var from husky/pre_push
  .husky/pre-push
Due: none

chore: add modified local package-lock after install shellcheck
  package-lock.json
Due: prettier --write

chore: resolve max params for controller constructor
  src/lib/controller/index.ts
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

fix: show customLabels in helm chart after build (#1736)
  integration/cli/build.configequality.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --write, eslint --fix

chore: max-params warning for src/lib/telemetry/metrics.ts (#1735)
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

chore: add unit test for webhooks (#1744)
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --write, eslint --fix

chore: add shellcheck to lint .sh files (#1730)
  .husky/pre-push
  .lintstagedrc.json
  integration/prep.sh
  package-lock.json
  package.json
Due: prettier --write, shellcheck -f diff

Update README.md
  README.md
Due: none

chore: clarify some rhetoric in the readme (#1741)
  README.md
Due: none

chore: override glob and remove inflight which were deprecated
  package-lock.json
  package.json
Due: prettier --write

chore: resolve max params for controller constructor (#1747)
  src/lib/controller/index.ts
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

chore: override glob and remove inflight which were deprecated (#1749)
  package-lock.json
  package.json
Due: prettier --write

chore: init progress
  src/lib/assets/assets.test.ts
Due: prettier --write, eslint --fix

Update peer deps
  package-lock.json
Due: prettier --write

Sort package.json deps
  package.json
Due: prettier --write

Create script to make updating peerDeps less tedious
  scripts/peerDeps.sh
Due: shellcheck -f diff

Update peerDeps
  package-lock.json
  package.json
Due: prettier --write

Match indentation in package.json
  scripts/peerDeps.sh
Due: shellcheck -f diff

Resolve build.ts linter warnings
  src/cli/build.ts
Due: prettier --write, eslint --fix

Resolve linter warnings in deploy.ts
  src/cli/deploy.ts
Due: prettier --write, eslint --fix

Provide warning message when vscode is not found.
  src/cli/init/index.ts
Due: prettier --write, eslint --fix

Resolve linter warning in walkthrough.ts
  src/cli/init/walkthrough.ts
Due: prettier --write, eslint --fix

Resolve linter warnings in pods.test.ts
  src/lib/assets/pods.test.ts
Due: prettier --write, eslint --fix

Resolve linter warnings in rbac.ts
  src/lib/assets/rbac.ts
Due: prettier --write, eslint --fix

Resolve linter warnings in index.ts
  src/lib/controller/index.ts
Due: prettier --write, eslint --fix

Resolve linter warning in store.ts
  src/lib/core/schedule.ts
Due: prettier --write, eslint --fix

Resolve linter warning in storage.ts
  src/lib/core/storage.ts
Due: prettier --write, eslint --fix

Resolve linter warnings in mutate-processor.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

Remove linter error in watch-processor.ts
  src/lib/processors/watch-processor.ts
Due: prettier --write, eslint --fix

Resolve linter error in cosign.e2e.test.ts
  src/sdk/cosign.e2e.test.ts
Due: prettier --write, eslint --fix
