Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty

Resolve linter error in heredoc.ts
  src/sdk/heredoc.ts
Due: prettier --write, eslint --fix

Fix logic of refactored statement
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: test assets
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/index.ts
Due: prettier --write, eslint --fix

chore: remove console log
  src/lib/assets/assets.ts
Due: prettier --write, eslint --fix

chore: asset correct params
  src/lib/assets/assets.test.ts
Due: prettier --write, eslint --fix

chore: update peer deps (#1757)
  package-lock.json
  package.json
  scripts/peerDeps.sh
  src/cli/build.ts
  src/cli/deploy.ts
  src/cli/init/index.ts
  src/cli/init/walkthrough.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/rbac.ts
  src/lib/controller/index.ts
  src/lib/core/schedule.ts
  src/lib/core/storage.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/watch-processor.ts
  src/sdk/cosign.e2e.test.ts
  src/sdk/heredoc.ts
Due: prettier --write, eslint --fix

chore: deprecate build version command in cli and docs before release
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: update to account for exit for incorrect config
  src/lib/assets/assets.test.ts
Due: prettier --write, eslint --fix

chore(wip): refactor watch processor test to reduce redundancy
  src/lib/processors/watch-processor.test.ts
Due: prettier --write, eslint --fix

chore: update npm script name from package.json
  .github/workflows/release.yml
Due: none

chore: update npm script name from package.json (#1765)
  .github/workflows/release.yml
Due: none

Rename test for clarity
  src/lib/assets/assets.test.ts
Due: prettier --write, eslint --fix

Apply linter fix
  src/lib/assets/assets.test.ts
Due: prettier --write, eslint --fix

Resolve issues with upgrade testing
  journey/pepr-upgrade.test.ts
Due: prettier --write, eslint --fix

Remove old command from test prep
  package.json
Due: prettier --write

Potential fix for code scanning alert no. 148: Shell command built from environment values
  journey/pepr-upgrade.test.ts
Due: prettier --write, eslint --fix

style fixes
  journey/pepr-upgrade.test.ts
Due: prettier --write, eslint --fix

Extract shared types from unrelated file
  src/cli/build.ts
  src/cli/init/templates.ts
  src/lib/assets/assets.ts
  src/lib/assets/index.test.ts
  src/lib/assets/index.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/pods.ts
  src/lib/assets/yaml/overridesFile.ts
  src/lib/controller/index.ts
  src/lib/core/capability.test.ts
  src/lib/core/capability.ts
  src/lib/core/envChecks.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.ts
  src/lib/types.ts
Due: prettier --write, eslint --fix

Use refactored module name
  src/lib/core/capability.test.ts
Due: prettier --write, eslint --fix

Update import path
  integration/cli/build.configequality.test.ts
Due: prettier --write, eslint --fix

Loosen timing window for CI delays
  src/lib/processors/mutate-processor.test.ts
Due: prettier --write, eslint --fix

Update journey/pepr-upgrade.test.ts
  journey/pepr-upgrade.test.ts
Due: prettier --write, eslint --fix

fix: remove hardcoding from upgrade journey test (#1767)
  journey/pepr-upgrade.test.ts
  package.json
Due: prettier --write, eslint --fix

chore: add more testing around asset class (#1753)
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/index.ts
Due: prettier --write, eslint --fix

chore: deprecate build version command in cli and docs before release (#1762)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --write, eslint --fix

Tighten threshold for circular deps
  .github/workflows/dependency-review.yml
Due: none

Update import path
  src/lib/assets/assets.test.ts
Due: prettier --write, eslint --fix

chore: extract shared types from unrelated file (#1759)
  .github/workflows/dependency-review.yml
  integration/cli/build.configequality.test.ts
  src/cli/build.ts
  src/cli/init/templates.ts
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/index.test.ts
  src/lib/assets/index.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/pods.ts
  src/lib/assets/yaml/overridesFile.ts
  src/lib/controller/index.ts
  src/lib/core/capability.test.ts
  src/lib/core/capability.ts
  src/lib/core/envChecks.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.ts
  src/lib/types.ts
Due: prettier --write, eslint --fix

chore: resolve max statement in watch-processor
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
  src/lib/telemetry/metrics.test.ts
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

Update package-lock.json
  package-lock.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

chore: bring in latest KFC for type
  package-lock.json
  package.json
Due: prettier --write

Update src/lib/processors/watch-processor.ts
  src/lib/processors/watch-processor.ts
Due: prettier --write, eslint --fix

Manually reset mocks
  src/lib/processors/watch-processor.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  shellcheck -f tty: any of: *.sh|.husky/pre-*
