Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Pass args as a variable
  src/cli/crd/create.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove default value from required option
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write

Update happy-path test for create crd
  src/cli/crd/create.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Extract scaffold generator to separate file
  src/cli/crd/create.test.ts
  src/cli/crd/create.ts
  src/cli/crd/generateCRDscaffold.test.ts
  src/cli/crd/generateCRDscaffold.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Rename file
  src/cli/crd/createCRDscaffold.test.ts
  src/cli/crd/createCRDscaffold.ts
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Rename files and update spies to mocks
  src/cli/crd/create/create.test.ts
  src/cli/crd/create/create.ts
  src/cli/crd/create/createCRDscaffold.test.ts
  src/cli/crd/create/createCRDscaffold.ts
  src/cli/crd/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Call base create command 'index'
  src/cli/crd/create/create.test.ts
  src/cli/crd/create/create.ts
  src/cli/crd/create/createCRDscaffold.test.ts
  src/cli/crd/create/createCRDscaffold.ts
  src/cli/crd/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Move generate code to cli/crd/generate/
  src/cli/crd/generate/generate.test.ts
  src/cli/crd/generate/generate.ts
  src/cli/crd/generate/messages.ts
  src/cli/crd/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Store create in index
  src/cli/crd/create/index.ts
Due: prettier --config .prettierrc --write

Update imports
  src/cli/crd/generate/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Rename file
  src/cli/crd/create/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add tests for generate command
  src/cli/crd/generate/asdf.test.ts
  src/cli/crd/generate/asdf.ts
  src/cli/crd/generate/index.test.ts
  src/cli/crd/generate/index.ts
  src/cli/crd/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

rename file
  src/cli/crd/generate/generators.test.ts
  src/cli/crd/generate/generators.ts
  src/cli/crd/generate/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

update the way cmd name is set
  src/cli/crd/create/index.ts
  src/cli/crd/generate/index.test.ts
  src/cli/crd/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Refactor implementation of crd command
  src/cli/crd/index.test.ts
  src/cli/crd/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update how crd is added as a command
  src/cli.ts
Due: prettier --config .prettierrc --write

Update test for docs on CLI
  docs/030_user-guide/010_pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add SPDX headers
  src/cli.ts
  src/cli/crd/create/createCRDscaffold.ts
  src/cli/crd/generate/index.test.ts
  src/cli/crd/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add wrapper
  src/cli.ts
  src/cli/crd/crdwrapper.ts
Due: prettier --config .prettierrc --write

Add env header
  src/cli.ts
Due: prettier --config .prettierrc --write

remove unnecessary crd wrapper
  docs/030_user-guide/010_pepr-cli.md
  src/cli.ts
  src/cli/crd/crdwrapper.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs assertion
  docs/030_user-guide/010_pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: monitor
  .prettierrc
  src/cli/monitor.test.ts
  src/cli/monitor.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: improve unit tests for cli crd commands (#2468)
  docs/030_user-guide/010_pepr-cli.md
  docs/030_user-guide/140_generating-crds.md
  src/cli.ts
  src/cli/crd/create.test.ts
  src/cli/crd/create/createCRDscaffold.test.ts
  src/cli/crd/create/createCRDscaffold.ts
  src/cli/crd/create/index.test.ts
  src/cli/crd/create/index.ts
  src/cli/crd/generate/generators.test.ts
  src/cli/crd/generate/generators.ts
  src/cli/crd/generate/index.test.ts
  src/cli/crd/generate/index.ts
  src/cli/crd/generate/messages.ts
  src/cli/crd/index.test.ts
  src/cli/crd/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Define cache settings in UDS registry build
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
Due: none

fix: define cache settings in UDS registry build (#2477)
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
Due: none

Follow consistent npm steps across release jobs
  .github/workflows/release.yml
  .github/workflows/scripts/release.sh
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: apply consistent npm steps in all release jobs (#2478)
  .github/workflows/release.yml
  .github/workflows/scripts/release.sh
  scripts/nightlies.sh
Due: shellcheck -f tty

Remove some dead code or unused exports
  src/cli/build.ts
  src/cli/crd/generate/generators.ts
  src/lib/assets/yaml/generateAllYaml.ts
  src/lib/filter/adjudicators/kubernetesObject.ts
Due: prettier --config .prettierrc --write

Remove more unnecessary exports
  src/cli/build.helpers.ts
  src/cli/build.ts
  src/cli/deploy.ts
  src/cli/types.ts
  src/lib/core/storage.ts
  src/lib/filter/adjudicators/binding.ts
  src/lib/processors/mutate-processor.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write

chore: remove config files from root
  .prettierrc
  tsconfig.json
Due: prettier --config .prettierrc --write

chore: monitor unit test (#2473)
  src/cli/monitor.test.ts
  src/cli/monitor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove unnecessary exports (#2479)
  src/cli/build.helpers.ts
  src/cli/build.ts
  src/cli/crd/generate/generators.ts
  src/cli/deploy.ts
  src/cli/types.ts
  src/lib/assets/yaml/generateAllYaml.ts
  src/lib/core/storage.ts
  src/lib/filter/adjudicators/binding.ts
  src/lib/filter/adjudicators/kubernetesObject.ts
  src/lib/processors/mutate-processor.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write

fix: variable-width table output for pepr uuid
  journey/pepr-deploy.ts
  src/cli/uuid.test.ts
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: integration test for update
  integration/cli/update.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

fix: variable-width table output for pepr uuid (#2481)
  journey/pepr-deploy.ts
  src/cli/uuid.test.ts
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Create build directory
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/build.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Finish moving funcs to temp file
  src/cli/build/asdf.test.ts
  src/cli/build/asdf.ts
  src/cli/build/build.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Split module load & build to separate functions
  src/cli/build/buildModule.test.ts
  src/cli/build/buildModule.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
  src/cli/build/loadModule.test.ts
  src/cli/build/loadModule.ts
  src/cli/deploy.ts
  src/cli/dev.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add output dir path as dist
  src/cli/build/loadModule.ts
  src/cli/deploy.ts
  src/cli/dev.ts
Due: prettier --config .prettierrc --write

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
