Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty

Update .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
Due: none

Update .github/workflows/pepr-excellent-examples-ironbank-arm.yml
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
Due: none

feat: expose log level during npx pepr dev
  src/cli/dev.ts
Due: prettier --write, eslint --fix

Remove unused import
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

feat: expose log level during npx pepr dev (#1910)
  src/cli/dev.ts
Due: prettier --write, eslint --fix

chore: configure project for eslint@9.21.0 (#1893)
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Update import path
  src/lib/assets/defaultTestObjects.ts
Due: prettier --write, eslint --fix

Linter fixes
  src/lib/controller/storeCache.test.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/telemetry/logger.test.ts
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

chore: update contributor guide
  docs/120_contribute/README.md
Due: none

chore: remove circular dependency by introducing common-type (#1877)
  .github/workflows/dependency-review.yml
  src/fixtures/loader.ts
  src/lib/assets/defaultTestObjects.ts
  src/lib/common-types.ts
  src/lib/controller/index.ts
  src/lib/controller/index.util.test.ts
  src/lib/controller/index.util.ts
  src/lib/controller/storeCache.test.ts
  src/lib/core/capability.test.ts
  src/lib/filter/adjudicators/admissionRequest.test.ts
  src/lib/filter/adjudicators/admissionRequest.ts
  src/lib/filter/adjudicators/bindingAdjudicators.test.ts
  src/lib/filter/adjudicators/defaultTestObjects.ts
  src/lib/filter/adjudicators/mismatch.test.ts
  src/lib/filter/adjudicators/mismatch.ts
  src/lib/filter/adjudicators/postCollection.test.ts
  src/lib/filter/filter.test.ts
  src/lib/filter/filter.ts
  src/lib/finalizer.test.ts
  src/lib/finalizer.ts
  src/lib/mutate-request.test.ts
  src/lib/mutate-request.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.test.ts
  src/lib/processors/validate-processor.ts
  src/lib/telemetry/logger.test.ts
  src/lib/telemetry/metrics.ts
  src/lib/types.ts
  src/lib/validate-request.test.ts
  src/lib/validate-request.ts
Due: prettier --write, eslint --fix

chore: nightly e2es for ib dockerfiles (#1908)
  .github/ironbank-setup/action.yaml
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
  docs/120_contribute/README.md
  hack/build-iron-bank.sh
Due: shellcheck -f tty

Remove DOM lib
  src/templates/tsconfig.module.json
Due: prettier --write

Fix list indentation
  docs/120_contribute/README.md
Due: none

Resolve circular dep by updating import
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

Tighten circular dep threshold
  .github/workflows/dependency-review.yml
Due: none

chore: add script to tsconfig.json
  .github/dependabot.yml
  Dockerfile
  config/unicorn.yaml
  package.json
  scripts/read-unicorn-build-args.js
  tsconfig.json
Due: prettier --write, eslint --fix

chore: remove circular dependency between `module.ts` and `lib.ts` (#1912)
  .github/workflows/dependency-review.yml
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

Apply linter fixes
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/read-unicorn-build-args.js
Due: prettier --write, eslint --fix

chore: consolidate down to a single dockerfile to avoid drift (#1913)
  .github/dependabot.yml
  Dockerfile
  config/unicorn.yaml
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/read-unicorn-build-args.js
  tsconfig.json
Due: prettier --write, eslint --fix

chore: dependabot token for cgr
  .github/dependabot.yml
Due: none

chore: move ironbank-setup to actions
  .github/actions/ironbank-setup/action.yaml
Due: none

chore: remove old folder
  .github/ironbank-setup/action.yaml
Due: none

chore: move ironbank-setup to actions (#1921)
  .github/actions/ironbank-setup/action.yaml
Due: none

chore: update image tar
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
Due: none

chore: update tar image for arm (#1922)
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
Due: none

Create CI log processing script
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

Expect .log files instead of .txt files
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

Add downloader script
  scripts/download-e2e-logs.sh
Due: shellcheck -f tty

Use gh api to pull logs
  scripts/download-e2e-logs.sh
Due: shellcheck -f tty

Expect - in filename
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

Remove debug log statements
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

chore: dependabot token for cgr (#1920)
  .github/dependabot.yml
Due: none

Pull 30 days of logs
  scripts/download-e2e-logs.sh
Due: shellcheck -f tty

Update pull limit and failure count calculation
  scripts/download-e2e-logs.sh
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

chore: reduce complexity in mutate-processor
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

chore: avoid type coercion
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

chore: testing
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

chore: test ci
  README.md
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
