Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

.lintstagedrc.json:

{
  "*.js": ["prettier --config .prettierrc --write", "eslint --fix"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.md": [
    "markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ],
  "*.sh": ["shellcheck -f tty"],
  "*.ts": ["prettier --config .prettierrc --write", "eslint --fix"],
  ".husky/pre-*": ["shellcheck -f tty"]
}

Update src/cli/init/walkthrough.ts
  src/cli/init/walkthrough.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update journey/pepr-upgrade.test.ts
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: address PR comments
  src/cli/init/index.ts
  src/cli/init/walkthrough.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: cli output added extra period
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: describe length constraints in cli output
  docs/030_user-guide/010_pepr-cli.md
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Create unit tests to examine build output
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Add a basic check to see changes in package size
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update warning message
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

CI troubleshooting
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Add verbose to CI
  .github/workflows/on-demand-workflows.yaml
Due: none

Run artifact verification as a separate job
  .github/workflows/on-demand-workflows.yaml
  package.json
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

whitespace
  .github/workflows/on-demand-workflows.yaml
Due: none

Consolidate declaration tests
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: override uuid during init (#1963)
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  docs/030_user-guide/010_pepr-cli.md
  docs/030_user-guide/120_customization.md
  docs/120_contribute/README.md
  integration/cli/build.configequality.test.ts
  integration/cli/build.defaults.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/build.version.test.ts
  integration/cli/init.test.ts
  journey/pepr-upgrade.test.ts
  src/cli/init/index.ts
  src/cli/init/templates.ts
  src/cli/init/walkthrough.test.ts
  src/cli/init/walkthrough.ts
  src/cli/types.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

feat: allow warnings on validation response
  src/lib/common-types.ts
  src/lib/controller/index.util.test.ts
  src/lib/controller/index.util.ts
  src/lib/validate-request.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: include doc update
  docs/030_user-guide/030_actions/020_validate.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Changes from PR review
  .github/workflows/on-demand-workflows.yaml
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: add testing around build metadata (#1971)
  .github/workflows/on-demand-workflows.yaml
  .npmignore
  package.json
  src/build-artifact.test.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix

Update mocking to resolve test warning
  src/lib/controller/store.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove duplicate mock declaration
  src/lib/controller/store.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Mock logging and assert on expected calls
  src/lib/controller/store.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Restate conditional logic
  src/lib/controller/store.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove unused mocks
  src/lib/controller/store.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Resolve circular dep in assets/pods
  src/cli/build.helpers.ts
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/environment.test.ts
  src/lib/assets/envrionment.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/pods.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --fix

Consolidate test-scaffolding
  src/lib/assets/assets.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove tolerance for circular deps
  .github/workflows/dependency-review.yml
Due: none

Add agent-generated resolution to circular dep
  src/lib/assets/assets.ts
  src/lib/assets/pods.ts
Due: prettier --config .prettierrc --write, eslint --fix

Use uuidv4() when user does not provide a module UUID
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

Apply BDD organization to test names
  src/lib/filter/filter.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Move adjudication test cases away from filter test cases
  src/lib/filter/adjudication.test.ts
  src/lib/filter/filter.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Keep filtering code and adjudication code in separate files
  src/lib/filter/adjudication.test.ts
  src/lib/filter/adjudication.ts
  src/lib/filter/filter.ts
Due: prettier --config .prettierrc --write, eslint --fix

Move type to resolve circular dep
  src/lib/filter/adjudication.ts
  src/lib/filter/filter.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update mocking to resolve test warning (#1977)
  src/lib/controller/store.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: resolve circular dependency between `assets.ts` and `pods.ts` (#1978)
  .github/workflows/dependency-review.yml
  src/cli/build.helpers.ts
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/environment.test.ts
  src/lib/assets/envrionment.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/pods.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: use uuidv4() when user does not provide a module UUID (#1979)
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: resolve max-statements in `filter.test.ts` (#1980)
  src/lib/filter/adjudication.test.ts
  src/lib/filter/adjudication.ts
  src/lib/filter/filter.test.ts
  src/lib/filter/filter.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: add flag for testing pepr library code
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: we have this dockerfile in the config dir
  Dockerfile.unicorn
Due: none

chore: include anchor
  docs/120_contribute/README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update sha256 hashes for unicorn image
  config/Dockerfile
Due: none
