Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: bump version comment
  .github/workflows/codeql.yml
Due: none

Update .github/workflows/grype-suppression-audit.yaml
  .github/workflows/grype-suppression-audit.yaml
Due: none

chore: variables as parameters
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/scripts/grype-suppression-summary.sh
Due: shellcheck -f tty

chore: better failure message
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/scripts/grype-suppression-summary.sh
  .github/workflows/scripts/open-grype-suppression-pr.sh
Due: shellcheck -f tty

chore: update version comment scorecard
  .github/workflows/scorecard.yml
Due: none

Bump KFC to 3.11.7
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: bump KFC to 3.11.7 (#3073)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: propagate watch callback errors to KFC for cache reliability (#3052)
  .github/workflows/soak.yaml
  scripts/soak-summary.sh
  scripts/soak-test.sh
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, shellcheck -f tty

Notes added by 'git notes add'
  8f84addbad3152e41051922d43080026b9e0414b
Due: none

docs: add ADR 0022 for PEXEX CI/CD efficiency
  adr/0022-pexex-ci-cd-efficiency.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: greptile suggestion conditional PR
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/scripts/grype-suppression-summary.sh
Due: shellcheck -f tty

chore: convert bash to ts
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/scripts/audit-grype-suppressions.sh
  .github/workflows/scripts/audit-grype-suppressions.ts
  .github/workflows/scripts/grype-suppression-summary.sh
  .github/workflows/scripts/open-grype-suppression-pr.sh
  .github/workflows/scripts/tsconfig.json
  config/eslint.root.config.mjs
Due: prettier --config .prettierrc --write, shellcheck -f tty

chore: address greptile comments
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: skip success path
  .github/workflows/scripts/audit-grype-suppressions.ts
Due: prettier --config .prettierrc --write

chore: cve suppression
  .grype.yaml
Due: none

chore: regenerate package lock
  package-lock.json
Due: prettier --config .prettierrc --write

chore: bump workflows to node 24
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/container-scan.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/load.yml
  .github/workflows/nightlies.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/soak.yaml
Due: none

chore: bump workflows to node 24 (#3085)
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/container-scan.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/load.yml
  .github/workflows/nightlies.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/soak.yaml
Due: none

chore: cleaned up output noise
  scripts/soak-summary.ts
Due: prettier --config .prettierrc --write

chore: don't bump ts-morph
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: restore codecov functionality
  config/vitest.root.config.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: uninstall temp debugging dep
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: regenerate package-lock
  package-lock.json
Due: prettier --config .prettierrc --write

chore: brutal review changes
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/scripts/audit-grype-suppressions.lib.ts
  .github/workflows/scripts/audit-grype-suppressions.test.ts
  .github/workflows/scripts/audit-grype-suppressions.ts
  config/vitest.root.config.ts
  docs/contribute/contributor-guide.md
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: simplified functions for eslint rules
  .github/workflows/scripts/audit-grype-suppressions.ts
Due: prettier --config .prettierrc --write

chore: add .gitattributes and .git-blame-ignore-revs (#3089)
  .git-blame-ignore-revs
  .gitattributes
  LICENSE
Due: none

chore: drop .git-blame-ignore-revs from baseline
  .git-blame-ignore-revs
Due: none

chore: pr comment changes
  scripts/soak-record-metrics.ts
  scripts/soak-summary.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: brutal review fix
  scripts/soak-record-metrics.ts
  scripts/soak-summary.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: update peerDependencies
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: greptile fixes
  scripts/soak-summary.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: relax peerDependencies to caret ranges
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Update .github/workflows/scripts/audit-grype-suppressions.lib.ts
  .github/workflows/scripts/audit-grype-suppressions.lib.ts
Due: prettier --config .prettierrc --write

fix: restore dump-based removeStaleEntries to fix format and test failures
  .github/workflows/scripts/audit-grype-suppressions.lib.ts
Due: prettier --config .prettierrc --write

chore: greptile updatePodMap
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: extend root tsconfig
  .github/workflows/scripts/tsconfig.json
Due: prettier --config .prettierrc --write

chore: use GitHub Contents API for verified commits in grype audit
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/scripts/audit-grype-suppressions.ts
Due: prettier --config .prettierrc --write

chore: greptile fixes
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/scripts/audit-grype-suppressions.ts
Due: prettier --config .prettierrc --write

chore: greptile fix hard coded main
  .github/workflows/scripts/audit-grype-suppressions.ts
Due: prettier --config .prettierrc --write

chore: dont update ts-morph
  docs/contribute/contributor-guide.md
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
