Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.sh|.husky/pre-*": ["shellcheck -f tty"]
}

Switch docker image to 22-alpine
  Dockerfile
Due: none

chore: revert back to original
  package-lock.json
  package.json
Due: prettier --write

chore: strict versions
  package-lock.json
  package.json
Due: prettier --write

Suppress CVE-2025-0395 while we wait on an upstream fix
  .github/workflows/container-scan.yaml
Due: none

fix: update grype configuration (#1777)
  .github/workflows/container-scan.yaml
Due: none

chore: resolve max statement in watch-processor (#1770)
  package-lock.json
  package.json
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
  src/lib/telemetry/metrics.test.ts
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

Promote explicit-function-return-type to a linting error
  .eslintrc.json
Due: prettier --write

chore: require explicit-function-return-type (#1781)
  .eslintrc.json
Due: prettier --write

chore: error on max-params
  .eslintrc.json
Due: prettier --write

chore: refactor watch processor test to reduce redundancy (#1763)
  src/lib/processors/watch-processor.test.ts
Due: prettier --write, eslint --fix

chore: walk - it.each
  src/lib/processors/watch-processor.test.ts
Due: prettier --write, eslint --fix

chore: fix formating issue at sdk.ts
  src/sdk/sdk.test.ts
  src/sdk/sdk.ts
Due: prettier --write, eslint --fix

chore: removing digestabot update workflow (#1686)
  .github/workflows/digestabot.yml
Due: none

chore: watch_failure template for reporting watch failures (#1682)
  .github/ISSUE_TEMPLATE/watch_failure.md
Due: none

chore: give best practices around mutations (#1672)
  docs/060_best-practices/README.md
Due: none

chore: add return types to build.ts (#1687)
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: update soak-interrupts test (#1702)
  .github/workflows/soak-interrupts.yaml
Due: none

chore: deployments for soak for new image (#1689)
  hack/soak.ci.yaml
Due: none

chore: validate build arguments that are used together add docs (#1678)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.helpers.ts
  src/cli/build.test.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

fix: local integration testing setup/timeouts (#1705)
  integration/cli/build.defaults.test.ts
  integration/cli/build.help.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/build.version.test.ts
  integration/helpers/pepr.ts
  integration/prep.sh
Due: prettier --write, eslint --fix

chore: remove soak-interrupts.yaml (#1714)
  .github/workflows/soak-interrupts.yaml
Due: none

chore: docs refresher (#1683)
  docs/030_user-guide/020_pepr-modules.md
  docs/030_user-guide/040_capabilities.md
Due: none

feat: webhook analytics timeouts (#1717)
  src/cli/dev.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.ts
  src/lib/telemetry/timeUtils.test.ts
  src/lib/telemetry/timeUtils.ts
  src/lib/telemetry/webhookTimeout.test.ts
  src/lib/telemetry/webhookTimeouts.ts
Due: prettier --write, eslint --fix

chore: backwards compat - open to team ideas! (#1707)
  BACKWARDS_COMPATABILITY.md
Due: none

test: demonstrate that 'pepr build' outputs comparable config-derived values (#1688)
  integration/cli/build.configequality.test.ts
Due: prettier --write, eslint --fix

chore: restore early exit on build no-embed (#1731)
  integration/cli/build.noembed.test.ts
  src/cli/build.helpers.ts
  src/cli/build.test.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

fix: tolerate optional fields from external pepr module definitions (#1732)
  src/cli/init/templates.ts
  src/lib/assets/index.test.ts
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

chore: nightly releases of pepr cli and controller image (#1738)
  .github/workflows/nightlies.yml
  scripts/nightlies.sh
Due: none

chore: quick fix on npm install and npm build for nightly (#1743)
  scripts/nightlies.sh
Due: none

chore: rename npm version command for nightlies to work (#1742)
  .github/workflows/release.yml
  package.json
  scripts/nightlies.sh
Due: prettier --write

fix: show customLabels in helm chart after build (#1736)
  integration/cli/build.configequality.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --write, eslint --fix

chore: max-params warning for src/lib/telemetry/metrics.ts (#1735)
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

chore: add unit test for webhooks (#1744)
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --write, eslint --fix

chore: add shellcheck to lint .sh files (#1730)
  .husky/pre-push
  .lintstagedrc.json
  integration/prep.sh
  package-lock.json
  package.json
Due: prettier --write

chore: clarify some rhetoric in the readme (#1741)
  README.md
Due: none

chore: resolve max params for controller constructor (#1747)
  src/lib/controller/index.ts
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

chore: override glob and remove inflight which were deprecated (#1749)
  package-lock.json
  package.json
Due: prettier --write

chore: update peer deps (#1757)
  package-lock.json
  package.json
  scripts/peerDeps.sh
  src/cli/build.ts
  src/cli/deploy.ts
  src/cli/init/index.ts
  src/cli/init/walkthrough.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/rbac.ts
  src/lib/controller/index.ts
  src/lib/core/schedule.ts
  src/lib/core/storage.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/watch-processor.ts
  src/sdk/cosign.e2e.test.ts
  src/sdk/heredoc.ts
Due: prettier --write, eslint --fix

chore: update npm script name from package.json (#1765)
  .github/workflows/release.yml
Due: none
