Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add options required by crd generate
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write

Update test expectations
  src/cli/build.helpers.ts
  src/cli/build.test.ts
  src/lib/assets/loader.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update mocking for log calls
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Revert to old logging method
  src/cli/build.helpers.ts
  src/cli/build.ts
  src/lib/assets/loader.test.ts
  src/lib/assets/loader.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Re-add deleted docstring
  src/cli/build.helpers.ts
Due: prettier --config .prettierrc --write

chore: cli consistency in crd commands (#2453)
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/docs/cli.helper.test.ts
  src/cli/crd/create.ts
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: cli consistency in build command (#2452)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.helpers.ts
  src/cli/build.test.ts
  src/cli/build.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update flag name in help menu text (#2451)
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write

chore: build and tag the library in release
  .github/workflows/release.yml
Due: none

Update src/cli/uuid.test.ts
  src/cli/uuid.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: build and tag the library in release (#2457)
  .github/workflows/release.yml
Due: none

Update test criteria to ensure filtering at the unit-test level
  src/cli/uuid.test.ts
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add support for pod labels in helm chart
  src/lib/assets/helm.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write

add test case for no results from format command
  src/cli/format/format.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add test case for exception
  src/cli/format/index.test.ts
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add support for pod labels in helm chart (#2459)
  src/lib/assets/helm.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write

Use -v and --validate-only in integration tests
  integration/cli/format.format.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Remove deprecated journey-style tests for format
  journey/entrypoint.test.ts
  journey/pepr-format.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: test updates for PR 2403 (#2458)
  src/cli/uuid.test.ts
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: release patch - npm i
  .github/workflows/release.yml
Due: none

chore: release patch - npm i (#2466)
  .github/workflows/release.yml
Due: none

chore: increase coverage for uuid (#2430)
  src/cli/uuid.test.ts
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: improve test coverage for `pepr format` (#2460)
  integration/cli/format.format.test.ts
  journey/entrypoint.test.ts
  journey/pepr-format.ts
  src/cli/format/format.test.ts
  src/cli/format/index.test.ts
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: unit test for kfc
  src/cli/kfc.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update src/cli/kfc.test.ts
  src/cli/kfc.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: unit test for kfc (#2467)
  src/cli/kfc.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove TEST_MODE environment variable (#2449)
  journey/pepr-build.ts
  journey/pepr-deploy.ts
  journey/pepr-init.ts
  src/cli/init/index.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write

Apply bdd styling to generate test structure
  src/cli/crd/create.ts
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add SPDX header
  src/cli/crd/messages.ts
Due: prettier --config .prettierrc --write

Add test file for crd index
  src/cli/crd/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Use older test format for better coverage
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add test coverage for when a key is invalid
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Break test case into several smaller cases
  src/cli/crd/create.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add test for required option
  src/cli/crd/create.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add more checks for required flags
  src/cli/crd/create.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add test for successful command without file IO
  src/cli/crd/create.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Use pepr@latest in upgrade test
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Update test skips while working on PR
  src/cli/crd/create.test.ts
  src/cli/crd/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: use pepr@latest in upgrade test (#2469)
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Update opt in docs
  docs/030_user-guide/140_generating-crds.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
