Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

fix: retry dev integration health check on connection errors
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

fix: constrain the @types/node version for packages using wildcards
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write

fix: use matching undici client in dev integration test to avoid incompatibility issues
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

feat: add configurable/overridable startup probes to deployments
  docs/user-guide/customization.md
  src/lib/assets/helm.ts
  src/lib/assets/k8sObjects.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: align undici with KFC fetch implementation
  integration/cli/dev.dev-test.test.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

test: add probe coverage for deployment templates and overrides
  src/lib/assets/helm.test.ts
  src/lib/assets/k8sObjects.test.ts
  src/lib/assets/yaml/overridesFile.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: align KFC and undici dependency versions
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: align upgrade test Node types with project version
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

fix: align CodeQL action versions
  .github/workflows/codeql.yml
Due: none

fix: update unavailable Node runtime image pin
  Dockerfile
  config/Dockerfile
Due: none

Revert changes
  Dockerfile
  config/Dockerfile
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

fix: align minimum Node version with dependency requirements
  .github/workflows/peer-deps-update.yml
  docs/contribute/contributor-guide.md
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: CVEs
  package-lock.json
Due: prettier --config .prettierrc --write

Apply suggestions from code review
  .github/workflows/peer-deps-update.yml
Due: none

feat: add configurable/overridable startup probes to deployments (#3192)
  .github/workflows/codeql.yml
  docs/contribute/contributor-guide.md
  docs/user-guide/customization.md
  integration/cluster/upgrade.test.ts
  package-lock.json
  src/cli/init/templates.ts
  src/lib/assets/helm.test.ts
  src/lib/assets/helm.ts
  src/lib/assets/k8sObjects.test.ts
  src/lib/assets/k8sObjects.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix(ci): exclude generated CHANGELOG.md from markdownlint
  package.json
Due: prettier --config .prettierrc --write

fix(ci): exclude generated CHANGELOG.md from markdownlint (#3215)
  package.json
Due: prettier --config .prettierrc --write

perf: avoid redundant pepr downloads in tests and CI
  .github/workflows/commitlint.yml
  .github/workflows/dependency-review.yml
  hack/load.cli.ts
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: change crd tets to load instead of yaml
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: regen package lock
  package-lock.json
Due: prettier --config .prettierrc --write

fix!: remove pepr format (#3176)
  docs/reference/best-practices.md
  docs/tutorials/create-pepr-operator.md
  docs/user-guide/pepr-cli.md
  integration/cli/docs/cli.helper.test.ts
  integration/cli/docs/docs.test.ts
  integration/cli/docs/markdown.helper.test.ts
  integration/cli/format.format.test.ts
  package-lock.json
  package.json
  src/cli.ts
  src/cli/build/buildModule.ts
  src/cli/format/format.helpers.ts
  src/cli/format/format.test.ts
  src/cli/format/index.test.ts
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

feat: expose all probe properties with Kubernetes defaults
  src/lib/assets/k8sObjects.test.ts
  src/lib/assets/k8sObjects.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

feat: expose all probe properties with Kubernetes defaults (#3247)
  src/lib/assets/k8sObjects.test.ts
  src/lib/assets/k8sObjects.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Create docs tests to document all exposed helm values
  .gitignore
  docs/user-guide/customization.md
  integration/cli/docs/helmValuesDocs.helper.ts
  integration/cli/docs/helmValuesDocs.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Upgrade to eslint 10, make it a dev dependency
  integration/helpers/time.ts
  package-lock.json
  package.json
  src/cli/init/utils.ts
  src/lib/assets/assets.ts
  src/lib/controller/migrateStore.ts
  src/lib/helpers.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config integration/eslint.config.mjs

Update template generation for new pepr modules
  src/cli/init/templates.test.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Fix error message formatting
  src/lib/assets/assets.ts
Due: prettier --config .prettierrc --write

fix helm docs doctest coverage
  .github/workflows/docs.yml
  integration/cli/docs/helmValuesDocs.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Ignore LLM-assistant config directories
  .gitignore
Due: none

chore: exclude LLM-assistant config directories from project (#3261)
  .gitignore
Due: none

Use ms instead of hand-rolled implementation
  integration/cli/build.configequality.test.ts
  integration/cli/build.envvars.test.ts
  integration/cli/build.formats.test.ts
  integration/cli/build.help.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.rbacmode.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/crd.test.ts
  integration/cli/dev.dev-test.test.ts
  integration/cli/init.test.ts
  integration/cli/update.test.ts
  integration/cluster/upgrade.test.ts
  integration/helpers/pepr.test.ts
  integration/helpers/pepr.ts
  integration/helpers/time.test.ts
  integration/helpers/time.ts
  integration/helpers/workdir.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

group codeql dependabot updates
  .github/dependabot.yml
Due: none

docs: add doctest for helm chart values (#3253)
  .github/workflows/docs.yml
  .gitignore
  docs/user-guide/customization.md
  integration/cli/docs/helmValuesDocs.helper.ts
  integration/cli/docs/helmValuesDocs.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Resolve prettier failure
  src/cli/dev.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore(deps): use `ms` instead of hand-rolled implementation (#3262)
  integration/cli/build.configequality.test.ts
  integration/cli/build.envvars.test.ts
  integration/cli/build.formats.test.ts
  integration/cli/build.help.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.rbacmode.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/crd.test.ts
  integration/cli/dev.dev-test.test.ts
  integration/cli/init.test.ts
  integration/cli/update.test.ts
  integration/cluster/upgrade.test.ts
  integration/helpers/pepr.test.ts
  integration/helpers/pepr.ts
  integration/helpers/time.test.ts
  integration/helpers/time.ts
  integration/helpers/workdir.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore(deps): group codeql dependabot updates (#3263)
  .github/dependabot.yml
Due: none

Upgrade to eslint 10, make it a dev dependency
  package-lock.json
  package.json
  src/cli/init/utils.ts
  src/lib/assets/assets.ts
  src/lib/controller/migrateStore.ts
  src/lib/helpers.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write
