Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

Update ip-address dependency to avoid CI failure
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: upgrade to eslint v10 (#3254)
  package-lock.json
  package.json
  src/cli/init/templates.test.ts
  src/cli/init/templates.ts
  src/cli/init/utils.ts
  src/lib/assets/assets.ts
  src/lib/controller/migrateStore.ts
  src/lib/helpers.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

update container image
  Dockerfile
  config/Dockerfile
Due: none

Update KFC
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Remove unnecessary sh command in dockerfile
  Dockerfile
  scripts/read-unicorn-build-args.mjs
Due: prettier --config .prettierrc --write

Try 26-slim now that sh command is removed
  Dockerfile
  config/Dockerfile
Due: none

chore: update container image (#3274)
  Dockerfile
  config/Dockerfile
  package-lock.json
  package.json
  scripts/read-unicorn-build-args.mjs
Due: prettier --config .prettierrc --write

fix: clarify that --registry-info supports bare hostnames (#3196)
  docs/user-guide/pepr-cli.md
  src/cli/build/build.test.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update broken doc link
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: updated broken links in docs
  docs/contribute/contributor-guide.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update broken doc link (#3289)
  README.md
  docs/contribute/contributor-guide.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix no-binding chart admission deployment
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add module specific Zarf Helm releaseName
  src/lib/assets/yaml/generateZarfYaml.test.ts
  src/lib/assets/yaml/generateZarfYaml.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: added releaseName to nonconflixt test
  integration/cli/build.nonconflict.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: remove 2 stale CVE suppressions from .grype.yaml
  .github/grype-audit-log.md
  .grype.yaml
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: remove 2 stale CVE suppressions from .grype.yaml (#3296)
  .github/grype-audit-log.md
  .grype.yaml
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update pino with patch-package
  .github/workflows/on-demand-workflows.yaml
  package-lock.json
  package.json
  patches/thread-stream+4.0.0.patch
Due: prettier --config .prettierrc --write

Create ADR to note use of patch-package
  adr/0023-temporary-dependency-patches.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add patches/ to dockerfile
  Dockerfile
Due: none

Add apply-patch script to manage node lifecycle
  package.json
  patches/apply-patches.mjs
Due: prettier --config .prettierrc --write

Exclude patches/ from built artifact
  Dockerfile
  package.json
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Fix build failure
  .github/workflows/deploy.yml
  package-lock.json
  patches/thread-stream+4.2.0.patch
  src/cli/build/buildModule.ts
Due: prettier --config .prettierrc --write

Update return type of handleModuleBuildError to reflect error state
  src/cli/build/buildModule.ts
Due: prettier --config .prettierrc --write

fix: apply dependency patch for generated modules
  .github/workflows/deploy.yml
  adr/0023-temporary-dependency-patches.md
  config/Dockerfile
  package-lock.json
  package.json
  patches/apply-patches.mjs
  patches/thread-stream+4.2.0.patch
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Simplify ADR
  adr/0023-temporary-dependency-patches.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: avoid install-time dependency patching
  .github/workflows/deploy.yml
  Dockerfile
  adr/0023-temporary-dependency-patches.md
  config/Dockerfile
  package-lock.json
  package.json
  src/build-artifact.test.ts
  src/cli/build/applyCompatibilityPatches.ts
  src/cli/build/buildModule.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: align controller Dockerfiles
  Dockerfile
  config/Dockerfile
Due: none

fix: preserve unicorn Dockerfile image parsing
  config/Dockerfile
Due: none

fix: consume KFC watcher types from package root
  src/lib/controller/storeCache.test.ts
  src/lib/core/capability.test.ts
  src/lib/core/queue.test.ts
  src/lib/core/queue.ts
  src/lib/deploymentChecks.test.ts
  src/lib/finalizer.test.ts
  src/lib/kfc-public-api.test.ts
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

deps: upgrade kubernetes-fluent-client to 3.12.1
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

test: remove redundant KFC public API coverage
  src/lib/kfc-public-api.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: consume KFC watcher types from package root (#3307)
  package-lock.json
  package.json
  src/lib/controller/storeCache.test.ts
  src/lib/core/capability.test.ts
  src/lib/core/queue.test.ts
  src/lib/core/queue.ts
  src/lib/deploymentChecks.test.ts
  src/lib/finalizer.test.ts
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: increased upgrade test timeout
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore(deps): upgrade KFC to 3.12.2
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Update to kfc 3.12.3
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore(deps): update to kfc 3.12.3 (#3313)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: updated docs and removed boolean
  README.md
  docs/reference/best-practices.md
  docs/user-guide/capabilities.md
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: doc update
  docs/user-guide/pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: add module specific Zarf Helm releaseName (#3293)
  docs/user-guide/pepr-cli.md
  integration/cli/build.nonconflict.test.ts
  integration/cluster/upgrade.test.ts
  src/lib/assets/yaml/generateZarfYaml.test.ts
  src/lib/assets/yaml/generateZarfYaml.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
