Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Apply suggestion from @samayer12
  CHANGELOG.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

validate registry-info format in pepr build
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: restore public base images as default Dockerfile ARGs
  Dockerfile
Due: none

chore: adjusted base image
  Dockerfile
Due: none

chore: added merge group to workflows
  .github/workflows/container-scan.yaml
  .github/workflows/deploy.yml
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

fix: remove pepr format
  docs/reference/best-practices.md
  docs/tutorials/create-pepr-operator.md
  docs/user-guide/pepr-cli.md
  integration/cli/format.format.test.ts
  package.json
  src/cli.ts
  src/cli/build/buildModule.ts
  src/cli/format/format.helpers.ts
  src/cli/format/format.test.ts
  src/cli/format/index.test.ts
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: greptile fixes
  integration/cli/docs/cli.helper.test.ts
  integration/cli/docs/docs.test.ts
  integration/cli/docs/markdown.helper.test.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: remove format reference
  docs/user-guide/pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: added merge group to workflows (#3175)
  .github/workflows/container-scan.yaml
  .github/workflows/deploy.yml
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore: removed stale cve from .grype.yaml
  .github/grype-audit-log.md
  .grype.yaml
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: skip workflows for forks
  .github/workflows/container-scan.yaml
  .github/workflows/deploy.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore: skip workflows for forks (#3180)
  .github/workflows/container-scan.yaml
  .github/workflows/deploy.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore: added deps for init scaffold
  package.json
Due: prettier --config .prettierrc --write

chore: fix failing doc test
  integration/cli/docs/markdown.helper.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: brutal review cleanup
  package.json
Due: prettier --config .prettierrc --write

chore: removed stale cve from .grype.yaml (#3179)
  .github/grype-audit-log.md
  .grype.yaml
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

feat: add configurable/overridable startup probes to deployments
  docs/user-guide/customization.md
  src/lib/assets/helm.ts
  src/lib/assets/k8sObjects.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: constrain the @types/node version for packages using wildcards
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write

fix: use matching undici client in dev integration test to avoid incompatibility issues
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

fix: retry dev integration health check on connection errors
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Use @types/node:26.1.1
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Use @types/node:24.13.3
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: clarify that --registry-info supports bare hostnames
  docs/user-guide/pepr-cli.md
  src/cli/build/build.test.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: remove backticks from docs examples to match CLI help output
  docs/user-guide/pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: address container scan CVEs with dependency overrides and base image update
  .grype.yaml
  Dockerfile
  config/Dockerfile
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

ci: add resilient setup-k3d composite and harden transient CI flakes
  .github/actions/setup-k3d/action.yaml
  .github/workflows/deploy.yml
  .github/workflows/load.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/soak.yaml
  .github/workflows/tutorials-test.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

ci: use nick-fields/retry for k3d install in setup-k3d composite
  .github/actions/setup-k3d/action.yaml
Due: none

ci: remove redundant pepr checkout in uds workflow
  .github/workflows/uds.yml
Due: none

deps(deps): bump kubernetes-fluent-client from 3.11.7 to 3.11.8
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Update to 3.11.10
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: bump engines.node to >=22.19.0 to match KFC and undici minimums
  package.json
Due: prettier --config .prettierrc --write

chore(deps): bump kubernetes-fluent-client from 3.11.7 to 3.11.10 (#3203)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

ci: align CodeQL analyze action and bump peer-deps workflow to Node 22
  .github/workflows/codeql.yml
  .github/workflows/peer-deps-update.yml
Due: none

chore: remove no-op npm overrides (tar, rollup, glob)
  package.json
Due: prettier --config .prettierrc --write

ci: add resilient setup-k3d composite and harden transient CI flakes (#3208)
  .github/actions/setup-k3d/action.yaml
  .github/workflows/deploy.yml
  .github/workflows/load.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/soak.yaml
  .github/workflows/tutorials-test.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore: remove no-op npm overrides (tar, rollup, glob) (#3212)
  package.json
Due: prettier --config .prettierrc --write

ci: align CodeQL analyze action and bump peer-deps workflow to Node 22 (#3211)
  .github/workflows/codeql.yml
  .github/workflows/peer-deps-update.yml
Due: none

fix: pin @types/node and add fast-uri override for CVE remediation
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Apply suggestions from code review
  package.json
Due: prettier --config .prettierrc --write

fix: pin @types/node and add fast-uri override for CVE remediation (#3210)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
