Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: find packfile
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore: reorder
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

Remove brace-expansion override
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: npx for ci
  package.json
Due: prettier --config .prettierrc --write

chore: npx vitest
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
  package.json
Due: prettier --config .prettierrc --write

chore: update to package.json
  package.json
Due: prettier --config .prettierrc --write

chore: final test
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: integration test
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore: remove brace-expansion override (#2428)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Order scripts
  package.json
Due: prettier --config .prettierrc --write

Remove old exclusions
  .dockerignore
  config/.lintstagedrc.json
Due: prettier --config .prettierrc --write

Use shared implementation for installs with better error handling
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Remove dangling exclusion
  config/.lintstagedrc.json
Due: prettier --config .prettierrc --write

Potential fix for code scanning alert no. 195: Shell command built from environment values
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Use updated script name
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore: integration upgrade test (#2416)
  .dockerignore
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
  .gitignore
  config/.lintstagedrc.json
  config/vitest.integration.config.ts
  integration/cluster/upgrade.test.ts
  journey/pepr-upgrade.test.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: increase coverage for uuid
  src/cli/uuid.test.ts
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove unnecessary RootCmd class
  src/cli.ts
  src/cli/build.ts
  src/cli/crd/index.ts
  src/cli/deploy.ts
  src/cli/dev.ts
  src/cli/format/index.ts
  src/cli/init/index.ts
  src/cli/kfc.ts
  src/cli/monitor.ts
  src/cli/root.ts
  src/cli/update/index.ts
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write

chore: remove unnecessary RootCmd class (#2432)
  src/cli.ts
  src/cli/build.ts
  src/cli/crd/index.ts
  src/cli/deploy.ts
  src/cli/dev.ts
  src/cli/format/index.ts
  src/cli/init/index.ts
  src/cli/kfc.ts
  src/cli/monitor.ts
  src/cli/root.ts
  src/cli/update/index.ts
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write

chore: update cli test
  src/cli/update/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: identify failure
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

chore: identify failure try and catch
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

Update argparse command
  src/cli/update/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update cli test (#2437)
  src/cli/update/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Mock log messages in update unit tests
  src/cli/update/index.test.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Mock log messages in pepr format tests
  src/cli/format/index.test.ts
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove hardcoded error during pepr update
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write

Update assertion during update
  src/cli/update/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: remove hardcoded error during pepr update (#2440)
  src/cli/update/index.test.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs
