Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: extend timeouts
  .github/workflows/on-demand-workflows.yaml
  config/vitest.integration.config.ts
Due: prettier --config .prettierrc --write

chore: test timeouts and container scan
  .github/workflows/container-scan.yaml
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: find flagged cve
  .github/workflows/container-scan.yaml
Due: none

chore: ignore cve that do not affect us
  .github/workflows/container-scan.yaml
Due: none

chore: timeouts
  .github/workflows/container-scan.yaml
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: timeout
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: bump undici
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: update kfc to latest
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: update kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  9f3cef14ffd607f883ebf51f2f636fe5e549f526
Due: none

feat: add ES Module build option for Pepr modules
  build.mjs
  integration/cli/build.esm.test.ts
  package.json
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/buildModule.ts
  src/cli/build/index.ts
  src/cli/deploy/buildAndDeploy.test.ts
  src/cli/deploy/buildAndDeploy.ts
  src/cli/dev.test.ts
  src/cli/dev.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

refactor: simplify ESM detection by removing --format CLI option
  integration/cli/build.esm.test.ts
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

refactor: return Assets from generateDeploymentAssets instead of void
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write

refactor: replace non-null assertions with proper null check
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write

refactor: simplify build options by removing commonBuildOpts
  build.mjs
Due: prettier --config .prettierrc --write

refactor: remove unnecessary ESM library build
  build.mjs
Due: prettier --config .prettierrc --write

refactor: remove unused ESM exports from package.json
  package.json
Due: prettier --config .prettierrc --write

fix: use bundler moduleResolution for ESM compatibility
  src/templates/tsconfig.module.json
Due: prettier --config .prettierrc --write

docs: add ADR for TypeScript module resolution strategy
  adr/0003-use-commonjs-and-esbuild.md
  adr/0021-typescript-module-resolution-for-pepr-modules.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update package-lock.json
  package-lock.json
Due: prettier --config .prettierrc --write

docs: add bundling documentation and module loading tests
  docs/user-guide/pepr-modules.md
  integration/cli/build.esm.test.ts
  integration/cli/build.noembed.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Apply suggestion from @samayer12
  docs/user-guide/pepr-modules.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

docs: simplify ADR-0021 for clarity
  adr/0021-typescript-module-resolution-for-pepr-modules.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update tsconfig to use NodeNext module resolution
  adr/0022-typescript-module-resolution-for-pepr-library.md
  config/tsconfig.integration.json
  config/tsconfig.root.json
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

test: add TLS stub for module loading integration tests
  integration/cli/build.esm.test.ts
  integration/cli/build.noembed.test.ts
  integration/helpers/tls.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

docs: merge ADR-0021 and ADR-0022 into single module resolution ADR
  adr/0003-use-commonjs-and-esbuild.md
  adr/0021-typescript-module-resolution-for-pepr-modules.md
  adr/0021-typescript-module-resolution.md
  adr/0022-typescript-module-resolution-for-pepr-library.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs to recommend nodenext
  adr/0021-typescript-module-resolution.md
  docs/user-guide/pepr-modules.md
  src/templates/tsconfig.module.json
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove unused template file
  src/templates/package.json
Due: prettier --config .prettierrc --write

Use esm syntax when building template data
  hack/build-template-data.mjs
  package.json
Due: prettier --config .prettierrc --write

Use Pino for logging instead of console
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

revert change to tsconfig.module.json
  src/templates/tsconfig.module.json
Due: prettier --config .prettierrc --write

Use bundler for built modules, consistent with ADR
  docs/user-guide/pepr-modules.md
  src/templates/tsconfig.module.json
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Suppress false positive finding in devdep
  .github/workflows/container-scan.yaml
Due: none

Include better output in CI for failures
  .github/workflows/container-scan.yaml
Due: none

Use tabular output
  .github/workflows/container-scan.yaml
Due: none

Suppress high findings
  .github/workflows/container-scan.yaml
Due: none

Only upload JSON artifacts when scan fails
  .github/workflows/container-scan.yaml
Due: none

Update check for scan outcome
  .github/workflows/container-scan.yaml
Due: none

Bump retention period to 30d
  .github/workflows/container-scan.yaml
Due: none

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
