Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove some suppressions
  .github/workflows/container-scan.yaml
Due: none

Revert "Remove some suppressions"
  .github/workflows/container-scan.yaml
Due: none

Add additional suppression
  .github/workflows/container-scan.yaml
Due: none

chore: suppress false positive finding in devdep (#2930)
  .github/workflows/container-scan.yaml
Due: none

chore: created grype yaml and updated workflow
  .github/workflows/container-scan.yaml
  .grype.yaml
Due: none

test: add integration test for embedded ESM build
  integration/cli/build.esm-embed.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Rename default test to cjs test
  integration/cli/build.cjs.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

fix: force CJS format and .cjs extension for embedded ESM builds
  integration/cli/build.formats.test.ts
  src/cli/build/buildModule.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: created grype yaml and updated workflow (#2934)
  .github/workflows/container-scan.yaml
  .grype.yaml
Due: none

refactor: unify assertions in build.formats.test.ts
  integration/cli/build.formats.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Organize test assertions with conditional logic
  integration/cli/build.formats.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Remove test files that were refactored into build.formats.test.ts
  integration/cli/build.cjs.test.ts
  integration/cli/build.esm-embed.test.ts
  integration/cli/build.esm.test.ts
  integration/cli/build.noembed.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: revert changes to nightly kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: new watch event (#2901)
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  ce4a5b9fbe0d9b7e609a04bb0a6bf95c25bd5ef4
Due: none

feat: add ES Module build option for Pepr modules (#2926)
  adr/0003-use-commonjs-and-esbuild.md
  adr/0021-typescript-module-resolution.md
  build.mjs
  config/tsconfig.integration.json
  config/tsconfig.root.json
  docs/user-guide/pepr-modules.md
  hack/build-template-data.mjs
  integration/cli/build.defaults.test.ts
  integration/cli/build.formats.test.ts
  integration/cli/build.noembed.test.ts
  integration/helpers/tls.ts
  package-lock.json
  package.json
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/buildModule.ts
  src/cli/build/index.ts
  src/cli/deploy/buildAndDeploy.test.ts
  src/cli/deploy/buildAndDeploy.ts
  src/cli/dev.test.ts
  src/cli/dev.ts
  src/templates/package.json
  src/templates/tsconfig.module.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Notes added by 'git notes add'
  9bc9963227284e11ca503072607c3f4c64b2c82e
Due: none

chore: added 7 day cooldown to dependabot
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

chore: added 7 day cooldown to dependabot (#2945)
  .github/dependabot.yml
Due: none

chore: updated typescript-eslint peerDep
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: update grype ignore
  .grype.yaml
Due: none

chore: candidate kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

pin version'
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: patch nightlies for a release
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: update grype ignore (#2954)
  .grype.yaml
Due: none

fix: prevent npx from pulling eslint latest
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

change version back
  package.json
Due: prettier --config .prettierrc --write

chore: turn into dependency
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: dev dep eslint
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: eslint deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: prevent npx from pulling eslint latest (#2955)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  2dce43cb50ebc404d08d6ddf1db00dc885ee1534
Due: none

chore: corrected link for contributor guide
  CONTRIBUTING.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove old workflow files
  docs/blog-post-typescript-peer-dependency-conflict.md
  pepr-the-version-that-refused-to-rest.pdf
  scorecard-chart.html
  scorecard-history.sh
  scorecard-results.csv
Due: shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Create unified file for deploy test
  .github/workflows/deploy.yml
Due: none

chore: consolidate deploy-helm and deploy-zarf workflows into unified deploy.yml
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  .github/workflows/deploy.yml
  docs/blog-post-typescript-peer-dependency-conflict.md
  pepr-the-version-that-refused-to-rest.pdf
  scorecard-chart.html
  scorecard-history.sh
  scorecard-results.csv
Due: shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: consolidate files for deploy tests in CI (#2706)
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  .github/workflows/deploy.yml
Due: none

chore: corrected link for contributor guide (#2959)
  CONTRIBUTING.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
