Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: remove console logs and add SPDX comments (#2554)
  src/build-artifact.test.ts
  src/cli.ts
  src/cli/dev.test.ts
  src/cli/dev.ts
  src/cli/init/createProjectFiles.ts
  src/cli/init/doPostInitActions.ts
  src/cli/kfc.test.ts
  src/cli/kfc.ts
  src/cli/monitor.test.ts
  src/cli/monitor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

feat: values.schema.yaml feature (#2548)
  integration/cli/dev.dev-test.test.ts
  package-lock.json
  package.json
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

feat: additinonal webnhook configuration
  docs/030_user-guide/110_customization.md
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: only bump kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: only bump kfc (#2561)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

feat: additionalwebhook configurations (#2555)
  docs/030_user-guide/110_customization.md
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: curl with retries and backoff
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  .github/workflows/load.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
  .github/workflows/soak.yaml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore: curl with retries and backoff (#2564)
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  .github/workflows/load.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
  .github/workflows/soak.yaml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

chore: updates
  src/lib/assets/webhooks.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write

chore: loosen package json types (#2565)
  src/lib/assets/webhooks.ts
  src/lib/types.ts
Due: prettier --config .prettierrc --write

chore: validate failurepolicy
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix unit test
  src/lib/assets/webhooks.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: use node 24
  .github/workflows/container-scan.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  .github/workflows/load.yml
  .github/workflows/nightlies.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
  .github/workflows/release.yml
  .github/workflows/soak.yaml
  package.json
Due: prettier --config .prettierrc --write

chore:: update node
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/release.yml
Due: none

chore: npm i
  package-lock.json
Due: prettier --config .prettierrc --write

chore: validate failurepolicy (#2569)
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: test optional deps
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: include optional
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: include optional
  .github/workflows/pepr-excellent-examples.yml
  Dockerfile
Due: none

chore: test with installing esbuild
  .github/workflows/pepr-excellent-examples.yml
  Dockerfile
Due: none

chore: install esbuild in pexex
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: test install again
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: debug runner
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: revert and test
  .github/workflows/pepr-excellent-examples.yml
  package.json
Due: prettier --config .prettierrc --write

chore: node v22
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: switch to 22
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/container-scan.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  .github/workflows/load.yml
  .github/workflows/nightlies.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
  .github/workflows/release.yml
  .github/workflows/soak.yaml
Due: none

Lower warn threshold for changed files after release
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: lower warn threshold for changed files after release (#2576)
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Revert "Remove demo for feature flag use"
  src/cli.ts
  src/cli/feature-demo/index.ts
Due: prettier --config .prettierrc --write

Use feature flag store in controller
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

Remove dangling code in sdk/
  hack/heredoc.unit.test.ts
  hack/load.cli.ts
  hack/load.lib.ts
  hack/load.unit.test.ts
  src/cli/build/build.helpers.ts
  src/lib.ts
  src/lib/helpers.test.ts
  src/lib/helpers.ts
  src/lib/sanitizeResourceName.ts
  src/sdk/heredoc.ts
  src/sdk/sdk.test.ts
  src/sdk/sdk.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: validate operator tutorial
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/040_pepr-tutorials/tests/030_create-pepr-operator.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: change back to and
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Pull feature-flags from a known enum
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

rename variable
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add workflow
  .github/workflows/release.yml
  .github/workflows/tutorials-test.yml
Due: none

Add a more complex data structure to represent more feature flag data
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: debug format error
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
