Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty

chore: sync with Jeff and Pepr Controls Repo
  adr/0016-compliance-in-pepr.md
Due: none

fix: capabilities build files not being generated
  src/cli/init/index.ts
Due: prettier --write, eslint --fix

chore: resolve max-statements warning in src/cli/init/index.ts (#1871)
  src/cli/init/index.ts
  src/cli/init/templates.ts
Due: prettier --write, eslint --fix

Add eslint:v9.21.0 to project
  package-lock.json
  package.json
Due: prettier --write

chore: lint rule explanation
  src/lib/processors/validate-processor.test.ts
Due: prettier --write, eslint --fix

Add eslint to project
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

chore: account for early exit and stop timer
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

Move tests from test data file
  src/lib/assets/defaultTestObjects.ts
  src/lib/assets/rbac.test.ts
Due: prettier --write, eslint --fix

Reorganize tests according to BDD naming scheme
  src/lib/assets/rbac.test.ts
Due: prettier --write, eslint --fix

Store expected policyRule arrays in variable
  src/lib/assets/rbac.test.ts
Due: prettier --write, eslint --fix

chore: increase coverage in validate processor (#1891)
  src/lib/processors/validate-processor.test.ts
Due: prettier --write, eslint --fix

choreL WIP
  src/lib/processors/mutate-processor.test.ts
Due: prettier --write, eslint --fix

Create generator functions for test data
  src/lib/assets/defaultTestObjects.test.ts
  src/lib/assets/defaultTestObjects.ts
  src/lib/assets/rbac.test.ts
Due: prettier --write, eslint --fix

chore: mutate-processor calls time start and stop
  src/lib/processors/mutate-processor.test.ts
Due: prettier --write, eslint --fix

Mirror variable with generator function
  src/lib/assets/defaultTestObjects.test.ts
  src/lib/assets/defaultTestObjects.ts
Due: prettier --write, eslint --fix

Convert test data to use generator function
  src/lib/assets/defaultTestObjects.test.ts
  src/lib/assets/defaultTestObjects.ts
Due: prettier --write, eslint --fix

Move old data to legacy folder for removal
  src/lib/assets/defaultTestObjects.test.ts
  src/lib/assets/defaultTestObjects.ts
  src/lib/assets/legacy-data/defaultTestObjects.ts
Due: prettier --write, eslint --fix

Swap old test structure with new test structure
  src/lib/assets/rbac.test.ts
Due: prettier --write, eslint --fix

Use old variable names to be consistent with old implementation
  src/lib/assets/defaultTestObjects.test.ts
  src/lib/assets/defaultTestObjects.ts
  src/lib/assets/rbac.test.ts
Due: prettier --write, eslint --fix

Move file
  src/lib/assets/legacy-data/defaultTestObjects.test.ts
Due: prettier --write, eslint --fix

Remove old data after sync discussion on conversion
  src/lib/assets/legacy-data/defaultTestObjects.test.ts
  src/lib/assets/legacy-data/defaultTestObjects.ts
Due: prettier --write, eslint --fix

chore: move around files in order to mock
  src/lib/decode-utils.test.ts
  src/lib/decode-utils.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

Avoid param warning
  src/lib/assets/defaultTestObjects.ts
Due: prettier --write, eslint --fix

chore(tests): refactor test data generation for RBAC tests (#1898)
  src/lib/assets/defaultTestObjects.ts
  src/lib/assets/rbac.test.ts
Due: prettier --write, eslint --fix

chore: account for early exit and stop timer (#1895)
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

Move deep-partial type to common-types
  src/lib/common-types.ts
  src/lib/filter/adjudicators/bindingAdjudicators.test.ts
  src/lib/filter/adjudicators/mismatch.test.ts
  src/lib/filter/adjudicators/postCollection.test.ts
  src/lib/finalizer.ts
  src/lib/mutate-request.ts
  src/lib/utility-types.ts
Due: prettier --write, eslint --fix

chore: address PR comments
  src/lib/assets/defaultTestObjects.ts
  src/lib/processors/decode-utils.test.ts
  src/lib/processors/decode-utils.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

chore: webhook timer coverage in mutate-processor test (#1897)
  src/lib/assets/defaultTestObjects.ts
  src/lib/processors/decode-utils.test.ts
  src/lib/processors/decode-utils.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

Add .js files to config prior to migrating them to .ts
  tsconfig.json
Due: prettier --write

Remove bypass rule
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore(ci): remove bypass rule when dependabot triggers CI (#1904)
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: setup action and init
  .github/actions/ironbank-setup/action.yaml
Due: none

chore: test on fork
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
Due: none

chore: step titles, needs some SED and GRED for Dockerfiles
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
Due: none

chore: uses incorrect path
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
Due: none

chore: account for untar in IB Dockerfiles
  .github/actions/ironbank-setup/action.yaml
Due: none

chore: lower the tolerance threshold for circular deps to 2
  .github/workflows/dependency-review.yml
Due: none

chore: nightly e2es for ib dockerfiles
  .github/ironbank-setup/action.yaml
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
  hack/build-iron-bank.sh
Due: shellcheck -f tty

Update .github/workflows/pepr-excellent-examples-ironbank-amd.yml
  .github/workflows/pepr-excellent-examples-ironbank-amd.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
