Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update rapidfort digests
  config/Dockerfile
Due: none

chore: format code
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: mock the logs in controller (#2366)
  config/Dockerfile
  src/lib/controller/index.test.ts
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: adr for vitest
  adr/0019-from-jest-to-vitest.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: replaces-bases in dependabot.yml
  .github/dependabot.yml
Due: none

chore: replaces-bases in dependabot.yml (#2369)
  .github/dependabot.yml
Due: none

fix: dependabot secrets ref
  .github/dependabot.yml
Due: none

fix: dependabot secrets ref (#2371)
  .github/dependabot.yml
Due: none

chore: journey
  journey/pepr-build.ts
Due: prettier --config .prettierrc --write

chore: adr for vitest (#2368)
  adr/0019-from-jest-to-vitest.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: restore journey test
  journey/pepr-build.ts
Due: prettier --config .prettierrc --write

chore: run with node 24
  .github/workflows/uds.yml
Due: none

chore: resolve modules to nodenext
  src/templates/tsconfig.module.json
Due: prettier --config .prettierrc --write

Apply proposed options for 'crd generate'
  docs/030_user-guide/010_pepr-cli.md
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add comma to CLI options
  docs/030_user-guide/010_pepr-cli.md
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Apply proposed CLI options for 'pepr deploy'
  docs/030_user-guide/010_pepr-cli.md
  journey/pepr-deploy.ts
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add proposed CLI changes for pepr build
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Note conflicts in CLI
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Use commander for default in rbac-mode
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: account of the capability is neither count nor binding
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/deploy.ts
  src/lib/assets/k8sObjects.test.ts
  src/lib/assets/k8sObjects.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Use new options in test
  journey/entrypoint-wasm.test.ts
  journey/pepr-build-wasm.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove esbuild
  Dockerfile
  config/Dockerfile
Due: none

chore: remove esbuild from dockerfile
  Dockerfile
  config/Dockerfile
Due: none

chore: remove esbuild from Dockerfiles (#2389)
  Dockerfile
  config/Dockerfile
Due: none

chore: push to uds registry on nightly and release
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
  scripts/nightlies.sh
  scripts/push-controller-images.sh
Due: shellcheck -f tty

chore: build after setting version
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: oras installation
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
Due: none

chore: oras installation script
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
Due: none

chore: library already packed
  .github/workflows/release.yml
Due: none

chore: library already packed
  scripts/nightlies.sh
Due: shellcheck -f tty

Update other docs references
  docs/030_user-guide/040_capabilities.md
  docs/030_user-guide/110_webassembly.md
  integration/cli/build.nonconflict.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Use full flag name
  docs/060_best-practices/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: increase timeout for pods to come up
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: uds core smoke test with most recent stable node version (#2378)
  .github/workflows/uds.yml
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Apply proposed options for init command
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  docs/030_user-guide/010_pepr-cli.md
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  integration/cli/build.configequality.test.ts
  integration/cli/build.defaults.test.ts
  integration/cli/build.envvars.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.rbacmode.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/dev.dev-test.test.ts
  integration/cli/format.format.test.ts
  integration/cli/init.test.ts
  journey/pepr-upgrade.test.ts
  src/cli/init/index.ts
  src/cli/init/walkthrough.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Use --yes flag
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

feat: consider whether bindings are watch or admission during manifests generation (#2359)
  config/Dockerfile
  src/cli/build.helpers.ts
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/deploy.ts
  src/lib/assets/environment.test.ts
  src/lib/assets/environment.ts
  src/lib/assets/helm.test.ts
  src/lib/assets/helm.ts
  src/lib/assets/k8sObjects.test.ts
  src/lib/assets/k8sObjects.ts
  src/lib/assets/networking.ts
  src/lib/assets/yaml/generateAllYaml.test.ts
  src/lib/assets/yaml/generateAllYaml.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove default value of rbac-mode
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
