Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

Update init command
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update module config command
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove old instructions
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update syntax
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Grammatical fixes
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove unsupported syntax
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add visual progress indicators
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update reference syntax
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove unnecessary config changes
  .eslintrc.json
  tsconfig.eslint.json
Due: prettier --config .prettierrc --write

chore: infra agnostic artifact distribution doc
  infra-agnostic-artifact-distribution.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

docs: update operator creation tutorial (#2054)
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/dark.png
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/light.png
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: infra agnostic artifact distribution doc (#2059)
  infra-agnostic-artifact-distribution.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

docs: update 2025 roadmap (#1860)
  docs/090_roadmap/README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Reorg tests
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Organize test to follow BDD naming pattern
  src/lib/core/module.test.ts
  src/templates/eslint.config.mjs
Due: prettier --config .prettierrc --write, eslint --fix

move functions out of constructor for testability
  src/lib/core/module.ts
Due: prettier --config .prettierrc --write, eslint --fix

test progress
  src/lib/core/module.test.ts
  src/lib/core/module.ts
Due: prettier --config .prettierrc --write, eslint --fix

Get error message test to pass
  src/lib/core/asdf.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
Due: prettier --config .prettierrc --write, eslint --fix

use describe.each to test multiple modes
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Manage conditional toggle for mode switch
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

remove comment
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Use ternary for envars
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Move hook creation to file in src/lib/controller
  src/lib/controller/createHooks.test.ts
  src/lib/controller/createHooks.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update error message format
  src/lib/controller/createHooks.test.ts
  src/lib/controller/createHooks.ts
Due: prettier --config .prettierrc --write, eslint --fix

Increase test coverage
  src/lib/controller/createHooks.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove unnecessary comment about test setup
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove accidental addition
  src/templates/eslint.config.mjs
Due: none

update function description
  src/lib/controller/createHooks.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: replace process.exit() with graceful error handling (#2062)
  src/lib/controller/createHooks.test.ts
  src/lib/controller/createHooks.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: log that the feature is in alpha
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update src/cli/crd/generate.test.ts
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: fix broken test
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: pepr to scaffold and generate crds from typescript types (#2033)
  integration/cli/crd.test.ts
  package-lock.json
  package.json
  src/cli.ts
  src/cli/crd/create.test.ts
  src/cli/crd/create.ts
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
  src/cli/crd/index.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: custom name
  integration/cli/build.nonconflict.test.ts
  journey/pepr-build.helpers.ts
  src/cli/build.helpers.ts
  src/cli/build.ts
  src/lib/assets/assets.ts
  src/lib/assets/helm.test.ts
  src/lib/assets/helm.ts
  src/lib/assets/yaml/generateZarfYaml.test.ts
  src/lib/assets/yaml/generateZarfYaml.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: remove unused helper function
  src/cli/build.helpers.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: use process.env to preserve existing functionality
  integration/cli/build.nonconflict.test.ts
  src/cli/build.ts
  src/lib/assets/assets.ts
  src/lib/assets/helm.test.ts
  src/lib/assets/yaml/generateZarfYaml.test.ts
  src/lib/assets/yaml/generateZarfYaml.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update service monitor test
  src/lib/assets/helm.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: fix journey
  journey/pepr-build.helpers.ts
Due: prettier --config .prettierrc --write, eslint --fix

Path conditions:
  prettier --config .prettierrc --write: ((any of: *.js) or (any of: *.json)) or (any of: *.ts)
  eslint --fix: (any of: *.js) or (any of: *.ts)
  markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
