Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

chore: function comments
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: updates for CRD descriptions
  crds/memcache.yaml
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: cleaning up - demo
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  integration/cli/crd.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: regex101 links
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: make uds test use library
  .github/workflows/uds.yml
Due: none

chore: use lib candidate to run uds core
  .github/workflows/uds.yml
Due: none

chore: move tgz file to correct location
  .github/workflows/uds.yml
Due: none

chore: migrate store extraction
  src/lib/controller/migrateStore.test.ts
  src/lib/controller/migrateStore.ts
  src/lib/controller/store.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update .github/workflows/uds.yml
  .github/workflows/uds.yml
Due: none

chore: make uds test use library (#2024)
  .github/workflows/uds.yml
Due: none

Add .mdp slides for lunch & learn
  lunch-n-learn.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: break apart migrate function
  src/lib/controller/migrateStore.test.ts
  src/lib/controller/migrateStore.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: remove impossible case and update units
  src/lib/controller/migrateStore.test.ts
  src/lib/controller/migrateStore.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: document crd commands
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: cleanup PR
  src/lib/controller/migrateStore.test.ts
  src/lib/controller/migrateStore.ts
  src/lib/controller/store.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update src/lib/controller/migrateStore.test.ts
  src/lib/controller/migrateStore.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: removes the `migrateAndSetupWatch` out of `store.ts` for improved testability (#2027)
  src/lib/controller/migrateStore.test.ts
  src/lib/controller/migrateStore.ts
  src/lib/controller/store.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: fix pr
  README.md
  package-lock.json
Due: prettier --config .prettierrc --write, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update README.md
  README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update chainguard image and kfc
  config/Dockerfile
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: fix version
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: WIP
  TODO.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: rebasing main over
  TODO.md
  src/cli.ts
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
  src/cli/crd/index.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: create/generate
  TODO.md
  src/cli/crd/create.test.ts
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: complexity in processVersion
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: nested types
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: strip _required fields
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update unit test
  src/cli/crd/create.test.ts
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: TODO
  TODO.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: integration test harness
  crds/memcache.yaml
  integration/cli/crd.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: create test
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: bending the code around the overzealous linter rules
  TODO.md
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: WIP
  TODO.md
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: objects
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: basic e2e and unit
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update test
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: generating correct crds
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix condition status
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Path conditions:
  prettier --config .prettierrc --write: ((any of: *.js) or (any of: *.json)) or (any of: *.ts)
  eslint --fix: (any of: *.js) or (any of: *.ts)
  markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
