Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: revert update for undici
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: keep uindici at 7.x
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: use GitHub Contents API for verified commits in grype audit (#3095)
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/scripts/audit-grype-suppressions.ts
Due: prettier --config .prettierrc --write

Update src/lib/assets/loader.ts
  src/lib/assets/loader.ts
Due: prettier --config .prettierrc --write

chore: update message
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write

chore: added deprecation warning to docs
  docs/reference/best-practices.md
  docs/user-guide/pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: edited warning
  docs/reference/best-practices.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs/user-guide/pepr-cli.md
  docs/user-guide/pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs/reference/best-practices.md
  docs/reference/best-practices.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: edited warning
  docs/reference/best-practices.md
  docs/user-guide/pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: add deprecation warning for pepr format (#3067)
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write

fix: clone `config.env` in `genEnv` to prevent shared-object mutation
  src/lib/assets/environment.test.ts
  src/lib/assets/environment.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: add missing `adjudicateMisboundNamespace` check to admission webhook filter
  src/lib/filter/adjudicators/postCollection.test.ts
  src/lib/filter/adjudicators/postCollection.ts
  src/lib/filter/filter.test.ts
  src/lib/filter/filter.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

feat: support annotations and labels on webhooks
  src/lib/assets/index.test.ts
  src/lib/assets/index.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: added deprecation warning to docs (#3102)
  docs/reference/best-practices.md
  docs/user-guide/pepr-cli.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

feat: support annotations and labels on webhooks (#3107)
  src/lib/assets/index.test.ts
  src/lib/assets/index.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Notes added by 'git notes add'
  5af6537308b743b532b6cc491350030d8afee279
Due: none

chore: remove ts-morph
  Dockerfile
  package-lock.json
  package.json
  src/cli/crd/generate/generators.test.ts
  src/cli/crd/generate/generators.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update to chainguard images
  .github/dependabot.yml
  .github/workflows/nightlies.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-unicorn.yml
  config/Dockerfile
Due: none

chore: add sha
  config/Dockerfile
Due: none

chore: update to chainguard images (#3118)
  .github/dependabot.yml
  .github/workflows/nightlies.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-unicorn.yml
  config/Dockerfile
Due: none

chore: widen prettier peer dependency range
  package.json
Due: prettier --config .prettierrc --write

chore: regen package lock
  package-lock.json
Due: prettier --config .prettierrc --write

chore: caret esbuild
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: widen prettier peer dependency range (#3119)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: don't bump uuid and ts major versions
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: automate peerDependencies maintenance
  .github/workflows/peer-deps-update.yml
  docs/contribute/contributor-guide.md
  scripts/peerDeps.sh
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

refactor: separate pure logic from I/O in update-peer-deps.mjs
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

Update scripts/update-peer-deps.mjs
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

refactor: hoist constants and centralize duplicated checks in update-peer-deps.mjs
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

Apply suggestion from @greptile-apps[bot]
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

docs: drop peerDeps.sh reference from contributor guide
  docs/contribute/contributor-guide.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

refactor: open PRs via gh + git instead of peter-evans/create-pull-request
  .github/workflows/peer-deps-update.yml
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

refactor: use commander and move workflow shell logic into the CLI
  .github/workflows/peer-deps-update.yml
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

Apply suggestion from @greptile-apps[bot]
  .github/workflows/peer-deps-update.yml
Due: none

fix: restore writePackageJson, drop duplicate readPackageJson
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
