Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix pipeline breaks
  .github/workflows/container-scan.yaml
  README.md
  docs/010_user-guide/060_customization.md
  docs/040_reference/030_faq.md
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove pepr stars note from readme
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update
  Dockerfile.kfc
Due: none

chore: remove outdated stars note from readme (#2784)
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: format errors and security warning
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: removed readmes
  docs/010_user-guide/README.md
  docs/030_tutorials/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: removed readmes (#2788)
  docs/010_user-guide/README.md
  docs/030_tutorials/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: move @types/ramda to devDependencies
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: test moving ramda to peer deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: peer deps update
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: bring ts down
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: standardized step formatting
  docs/010_user-guide/130_rbac.md
  docs/030_tutorials/010_create-pepr-module.md
  docs/030_tutorials/020_create-pepr-dashboard.md
  docs/030_tutorials/030_create-pepr-operator.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: standardized step formatting (#2799)
  docs/010_user-guide/130_rbac.md
  docs/030_tutorials/010_create-pepr-module.md
  docs/030_tutorials/020_create-pepr-dashboard.md
  docs/030_tutorials/030_create-pepr-operator.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: added markdownlint step format rule
  .gitignore
  config/markdownlint-step-format-rule.js
  package.json
Due: prettier --config .prettierrc --write

chore: release hash of slsa3 workflow
  .github/workflows/release.yml
Due: none

chore: added lint rule to precommit hook
  config/.lintstagedrc.json
Due: prettier --config .prettierrc --write

chore: bump node-forge to fix cve
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: bump node-forge to fix cve
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: bump node-forge to fix cve (#2808)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  ff2092bccb21b0b7e885881612ffe1b64e51070d
Due: none

chore: typescript bump
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: remove ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

remove extra space
  .github/workflows/release.yml
Due: none

chore: pre-install dependencies in update test
  integration/cli/update.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: pre-install pepr@latest
  integration/cli/update.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: stdio to pipe
  src/cli/update/index.test.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: removed install step
  integration/cli/update.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: pre-install dependencies in update test (#2816)
  src/cli/update/index.test.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: added testing coverage for step lint rule
  config/markdownlint-step-format-rule.js
  config/markdownlint-step-format-rule.test.ts
  config/vitest.root.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: docs custom mark down lint rule for steps (#2802)
  .gitignore
  config/.lintstagedrc.json
  config/markdownlint-step-format-rule.js
  config/markdownlint-step-format-rule.test.ts
  config/vitest.root.config.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove number prefix from docs
  docs/actions/README.md
  docs/actions/finalize.md
  docs/actions/mutate.md
  docs/actions/reconcile.md
  docs/actions/using-alias-child-logger.md
  docs/actions/validate.md
  docs/actions/watch.md
  docs/community/community.md
  docs/community/pepr-media.md
  docs/contribute/contributor-guide.md
  docs/reference/best-practices.md
  docs/reference/faq.md
  docs/reference/module-examples.md
  docs/roadmap.md
  docs/tutorials/create-pepr-dashboard.md
  docs/tutorials/create-pepr-module.md
  docs/tutorials/create-pepr-operator.md
  docs/tutorials/pepr-gitops-workflow.md
  docs/tutorials/resources/create-pepr-operator/dark.png
  docs/tutorials/resources/create-pepr-operator/light.png
  docs/tutorials/tests/create-pepr-operator.test.ts
  docs/user-guide/capabilities.md
  docs/user-guide/custom-resources.md
  docs/user-guide/customization.md
  docs/user-guide/feature-flags.md
  docs/user-guide/filters.md
  docs/user-guide/generating-crds.md
  docs/user-guide/generating-custom-metrics.md
  docs/user-guide/metrics-endpoints.md
  docs/user-guide/onschedule.md
  docs/user-guide/pepr-cli.md
  docs/user-guide/pepr-modules.md
  docs/user-guide/rbac.md
  docs/user-guide/sdk.md
  docs/user-guide/store.md
  integration/cli/docs/markdown.helper.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update path in tutorial test
  docs/tutorials/tests/create-pepr-operator.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update path in workflow tutorial test
  .github/workflows/tutorials-test.yml
Due: none

chore: added console logs
  integration/cli/update.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: removed console logs
  integration/cli/update.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: remove number prefix from docs (#2820)
  .github/workflows/tutorials-test.yml
  docs/actions/README.md
  docs/actions/finalize.md
  docs/actions/mutate.md
  docs/actions/reconcile.md
  docs/actions/using-alias-child-logger.md
  docs/actions/validate.md
  docs/actions/watch.md
  docs/community/community.md
  docs/community/pepr-media.md
  docs/contribute/contributor-guide.md
  docs/reference/best-practices.md
  docs/reference/faq.md
  docs/reference/module-examples.md
  docs/roadmap.md
  docs/tutorials/create-pepr-dashboard.md
  docs/tutorials/create-pepr-module.md
  docs/tutorials/create-pepr-operator.md
  docs/tutorials/pepr-gitops-workflow.md
  docs/tutorials/resources/create-pepr-operator/dark.png
  docs/tutorials/resources/create-pepr-operator/light.png
  docs/tutorials/tests/create-pepr-operator.test.ts
  docs/user-guide/capabilities.md
  docs/user-guide/custom-resources.md
  docs/user-guide/customization.md
  docs/user-guide/feature-flags.md
  docs/user-guide/filters.md
  docs/user-guide/generating-crds.md
  docs/user-guide/generating-custom-metrics.md
  docs/user-guide/metrics-endpoints.md
  docs/user-guide/onschedule.md
  docs/user-guide/pepr-cli.md
  docs/user-guide/pepr-modules.md
  docs/user-guide/rbac.md
  docs/user-guide/sdk.md
  docs/user-guide/store.md
  integration/cli/docs/markdown.helper.ts
  integration/cli/update.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
