Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f diff

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.sh": ["shellcheck -f diff"]
}

test: demonstrate that 'pepr build' outputs comparable config-derived values (#1688)
  integration/cli/build.configequality.test.ts
Due: prettier --write, eslint --fix

Resolve shellcheck warning
  integration/prep.sh
Due: shellcheck -f diff

chore: eslint config compliance
  src/cli/build.helpers.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: restore decomposed includedFiles
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: eslint configs
  src/cli/build.helpers.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

Use terminal-friendly output
  .lintstagedrc.json
Due: prettier --write

Update integration/cli/build.noembed.test.ts
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

Remove unnecessary parameter
  src/cli/init/index.ts
  src/cli/init/templates.ts
Due: prettier --write, eslint --fix

chore: address pr comments and lint configs
  src/cli/build.helpers.ts
  src/cli/build.test.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: updates
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: assert values will be present in build
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: cleanup
  src/cli/build.test.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: more cleanup
  src/cli/build.helpers.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: add shellcheck to lint .sh files
  .lintstagedrc.json
Due: prettier --write

fix: max-statement on cli init
  src/cli/init/index.ts
  src/cli/init/templates.ts
Due: prettier --write, eslint --fix

refactor: param name to 4 for writeEvent at sdk
  src/sdk/sdk.test.ts
  src/sdk/sdk.ts
Due: prettier --write, eslint --fix

chore: resolve max-params for metric.ts
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

Create brittle test script for initial troubleshooting
  throwaway.sh
Due: shellcheck -f diff

Make CustomLabels field mandatory
  src/cli/init/templates.ts
  src/lib/assets/index.test.ts
  src/lib/assets/pods.test.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
  src/lib/processors/mutate-processor.test.ts
Due: prettier --write, eslint --fix

chore: format fix for metrics.ts
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

Update typedef for CustomLabels for pexex tests
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

Compose ModuleConfig with some partial options
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

Remove changes to test inputs
  src/lib/assets/pods.test.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
  src/lib/processors/mutate-processor.test.ts
Due: prettier --write, eslint --fix

Remove throwaway test script
  throwaway.sh
Due: shellcheck -f diff

Update src/cli/build.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: restore early exit on build no-embed (#1731)
  integration/cli/build.noembed.test.ts
  src/cli/build.helpers.ts
  src/cli/build.test.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: nightly releases of pepr cli and controller image
  .github/workflows/nightlies.yml
Due: none

chore: update_readme
  README.md
Due: none

chore: nightlies in sh
  .github/workflows/nightlies.yml
  scripts/nightlies.sh
Due: shellcheck -f diff

fix: tolerate optional fields from external pepr module definitions (#1732)
  src/cli/init/templates.ts
  src/lib/assets/index.test.ts
  src/lib/core/module.ts
Due: prettier --write, eslint --fix

chore: nightly releases of pepr cli and controller image (#1738)
  .github/workflows/nightlies.yml
  scripts/nightlies.sh
Due: shellcheck -f diff

chore: update package.json shell version name
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: add v to gh nightly image
  scripts/nightlies.sh
Due: shellcheck -f diff

chore: rename npm version command for nightlies to work (#1742)
  .github/workflows/release.yml
  package.json
  scripts/nightlies.sh
Due: prettier --write, shellcheck -f diff

chore: install and build
  scripts/nightlies.sh
Due: shellcheck -f diff

chore: quick fix on npm install and npm build for nightly (#1743)
  scripts/nightlies.sh
Due: shellcheck -f diff

Make CustomLabels field mandatory
  src/lib/assets/pods.test.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
  src/lib/processors/mutate-processor.test.ts
Due: prettier --write, eslint --fix
