Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: mock console log in createhooks (#2300)
  src/lib/controller/createHooks.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix lint errors during npm run format:check
  config/tsconfig.integration.json
  config/tsconfig.test.json
  eslint.test.config.mjs
  integration/eslint.config.mjs
  package.json
Due: prettier --config .prettierrc --write

chore: eslint dockerfile
  config/.lintstagedrc.json
  config/eslint.test.config.mjs
  eslint.config.mjs
  package.json
  tsconfig.json
Due: prettier --config .prettierrc --write

chore: remove unused config and move used config to config dir
  .adr-dir
  .github/codecov.yaml
  osv-scanner.toml
Due: none

chore: finish config for integration dir
  config/.lintstagedrc.json
  config/eslint.integration.config.mjs
  package.json
Due: prettier --config .prettierrc --write

chore: move root level tsconfig and eslint configs
  config/.lintstagedrc.json
  config/eslint.root.config.mjs
  config/tsconfig.root.json
  osv-scanner.yaml
  package.json
Due: prettier --config .prettierrc --write

chore: update dependabot and docker shas
  .github/dependabot.yml
  config/Dockerfile
Due: none

chore: fix rootDir and outDir in root tsconfig
  config/tsconfig.root.json
Due: prettier --config .prettierrc --write

chore: fix osv-scanner.toml
  osv-scanner.toml
Due: none

chore: add commitlint.config.js
  config/commitlint.config.js
Due: prettier --config .prettierrc --write

chore: update dockerfiles
  Dockerfile
  Dockerfile.kfc
  config/Dockerfile
Due: none

chore: pdate circular dep and iron bank script
  .github/workflows/dependency-review.yml
  hack/build-iron-bank.sh
Due: shellcheck -f tty

chore: update templates test
  src/cli/init/templates.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix journey test use tsx
  journey/pepr-upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add back .adr-dir to be safe
  .adr-dir
Due: none

Increase test timeout
  integration/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: consolidate config files (#2333)
  .github/codecov.yaml
  .github/dependabot.yml
  .github/workflows/commitlint.yml
  .github/workflows/dependency-review.yml
  .husky/pre-commit
  .lintstagedrc.json
  Dockerfile
  Dockerfile.kfc
  config/.lintstagedrc.json
  config/.markdownlint.json
  config/.prettierrc
  config/Dockerfile
  config/commitlint.config.js
  config/eslint.integration.config.mjs
  config/eslint.root.config.mjs
  config/eslint.test.config.mjs
  config/tsconfig.integration.json
  config/tsconfig.root.json
  config/tsconfig.test.json
  config/vitest.integration.config.ts
  config/vitest.journey.config.ts
  config/vitest.root.config.ts
  hack/build-iron-bank.sh
  journey/pepr-upgrade.test.ts
  package.json
  src/cli/init/templates.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, shellcheck -f tty

Use tsx in docs test
  integration/cli/docs/docs.test.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: parallelize CLI doc tests (#2324)
  config/vitest.root.config.ts
  integration/cli/docs/cli.helper.test.ts
  integration/cli/docs/cli.helper.ts
  integration/cli/docs/docs.test.ts
  integration/cli/docs/markdown.helper.test.ts
  integration/cli/docs/markdown.helper.ts
  package-lock.json
  package.json
  src/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

feat(crd): align create command options with proposal #2317 #2318
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write

feat(build): align CLI flags with proposal #2316
  src/cli/build.ts
Due: prettier --config .prettierrc --write

feat(dev): align CLI flags with proposal #2320
  src/cli/dev.ts
Due: prettier --config .prettierrc --write

feat(deploy): align CLI flags with proposal #2319
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write

feat(format): align CLI flags with proposal #2321
  src/cli/format/index.ts
Due: prettier --config .prettierrc --write

feat(init): align CLI flags with proposal #2322
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write

chhore(kfc,update,uuid,monitor,pepr): align CLI flags with proposal #2323
  src/cli.ts
  src/cli/build.ts
  src/cli/kfc.ts
  src/cli/monitor.ts
  src/cli/update/index.ts
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write

chore: faq around pepr_watch_mode
  docs/080_faq/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: faq around pepr_watch_mode (#2341)
  docs/080_faq/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Resolve logging in test
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Organize test to BDD format
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update test names
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

remove comments
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Reorganize failure block
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Consolidate mock setup
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Manage type coercion
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: address logging in StoreCache tests (#2342)
  src/lib/controller/storeCache.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Improve coverage in validate-processor
  src/lib/processors/validate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add paths-ignore for e2e tests on a markdown update
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
Due: none

chore: include units
  .github/workflows/node.js.yml
Due: none

Apply BDD test names
  src/lib/processors/validate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs
