Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

Increase timeout
  src/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Install ts-node on runner
  .github/workflows/on-demand-workflows.yaml
Due: none

Reintroduce docs rework
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Rename file to match pepr/#2104
  src/cli/docs/cli.helper.test.ts
  src/cli/docs/cli.helper.ts
  src/cli/docs/docs.test.ts
  src/cli/docs/markdown.helper.test.ts
  src/cli/docs/markdown.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: create test harness for documentation parity check (#2104)
  .github/workflows/on-demand-workflows.yaml
  docs/030_user-guide/010_pepr-cli.md
  package.json
  src/cli/docs/cli.helper.test.ts
  src/cli/docs/cli.helper.ts
  src/cli/docs/docs.test.ts
  src/cli/docs/markdown.helper.test.ts
  src/cli/docs/markdown.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add full tests for build & crd commands
  src/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Parametrized test for doc comparison
  src/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Match help menu output
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update match post-processing
  src/cli/docs/markdown.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix

Whitespace normalization for comparison
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs/cli.helper.test.ts
  src/cli/docs/cli.helper.ts
  src/cli/docs/markdown.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update whitespace processing with option input
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs/cli.helper.test.ts
  src/cli/docs/cli.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs for dev & format
  docs/030_user-guide/010_pepr-cli.md
  src/cli/format.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Handle pepr deploy
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Partial work on pepr build
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update peer deps
  package.json
Due: prettier --config .prettierrc --write

Update package-lock.json
  package-lock.json
Due: prettier --config .prettierrc --write

chore: update sanitized name (#2097)
  src/sdk/sdk.test.ts
  src/sdk/sdk.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: separate config for admission and watch (#2099)
  docs/030_user-guide/120_customization.md
  src/cli/init/templates.ts
  src/lib/assets/assets.ts
  src/lib/assets/ignoredNamespaces.test.ts
  src/lib/assets/ignoredNamespaces.ts
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
  src/lib/assets/yaml/overridesFile.ts
  src/lib/controller/createHooks.ts
  src/lib/core/module.ts
  src/lib/helpers.test.ts
  src/lib/helpers.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.ts
  src/lib/types.ts
  src/templates/package.json
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Fix issues with npx pepr build docs
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove unnecessary test case
  src/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Fix issue with multiline option output
  src/cli/docs/cli.helper.test.ts
  src/cli/docs/cli.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix

fix crd generate & crd create commands
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Run docs tests in separate CI job for time-savings
  .github/workflows/on-demand-workflows.yaml
  package.json
Due: prettier --config .prettierrc --write

Generate prereq file
  .github/workflows/on-demand-workflows.yaml
Due: none

Move ts-node install to other job
  .github/workflows/on-demand-workflows.yaml
Due: none

Add --verbose flag to job
  package.json
Due: prettier --config .prettierrc --write

Reorder docs
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: audit CLI options & CLI documentation (#2096)
  .github/workflows/on-demand-workflows.yaml
  docs/030_user-guide/010_pepr-cli.md
  package.json
  src/cli/build.ts
  src/cli/docs/cli.helper.test.ts
  src/cli/docs/cli.helper.ts
  src/cli/docs/docs.test.ts
  src/cli/docs/markdown.helper.test.ts
  src/cli/docs/markdown.helper.ts
  src/cli/format.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: validate namespaces on deploy
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: load capabilities
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: validate namespaces on deploy (#2108)
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: rbac config requires v1PolicyRule[]
  docs/030_user-guide/120_customization.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: rbac config requires v1PolicyRule[] (#2119)
  docs/030_user-guide/120_customization.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update path in CI to avoid unnecessary nesting
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/soak.yaml
Due: none

chore: update path in CI to avoid unnecessary nesting (#2122)
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/soak.yaml
Due: none

chore: sync remove dom lib
  src/build-artifact.test.ts
  src/lib/processors/validate-processor.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix

chore: `npx pepr dev` integration test
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: sync remove dom lib (#2125)
  src/build-artifact.test.ts
  src/lib/processors/validate-processor.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix

chore: add k3d to integration test
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: add missing metrics to test
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Path conditions:
  prettier --config .prettierrc --write: ((any of: *.js) or (any of: *.json)) or (any of: *.ts)
  eslint --fix: (any of: *.js) or (any of: *.ts)
  markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
