Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

chore: CI is stuck in GitHub
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: audit runner configs
  .github/workflows/nightlies.yml
Due: none

chore: check for always-auth
  .github/workflows/nightlies.yml
Due: none

chore: dump config list
  .github/workflows/nightlies.yml
Due: none

chore: npm 20
  .github/workflows/nightlies.yml
Due: none

Revert "chore: revert eslint and update unicorn image (#1967)"
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --config .prettierrc --write

Update file path for eslint definition
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

Swap out eslint template for v9 format
  src/cli/init/templates.ts
  src/templates/.eslintrc.json
  src/templates/eslint.config.mjs
Due: prettier --config .prettierrc --write, eslint --fix

Resolve template by reading contents
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

Use eslint v9
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Add .mjs files to lintstaged
  .lintstagedrc.json
Due: prettier --config .prettierrc --write

Update path processing for different directory contexts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove eslint JSON template
  src/templates/.eslintrc.template.json
Due: prettier --config .prettierrc --write

Format file with prettier
  src/templates/eslint.config.mjs
Due: none

Update path handling for pepr/pepr/
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

Add troubleshooting lines
  .github/workflows/on-demand-workflows.yaml
Due: none

Update dependencies
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Update tsconfig to include lint template
  tsconfig.json
Due: prettier --config .prettierrc --write

Undo changes to tsconfig
  tsconfig.json
Due: prettier --config .prettierrc --write

Update path to reference template file
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove CI logging lines
  .github/workflows/on-demand-workflows.yaml
Due: none

Add test to compare templates
  src/cli/init/templates.test.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove unnecessary prettier ignore rule
  .prettierignore
Due: none

Update test case
  src/cli/init/templates.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove non-pepr specific contents from eslint template
  src/templates/eslint.config.mjs
Due: none

Remove non-pepr specific contents from eslint template
  eslint.config.mjs
Due: none

Use consistent implementaitons in test for template check
  src/cli/init/templates.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update log messages
  src/cli/init/templates.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Add return type to example
  src/templates/capabilities/hello-pepr.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove unnecessary file
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --config .prettierrc --write

Move template to new file for TS processing
  src/cli/init/templates.test.ts
  src/cli/init/templates.ts
  src/templates/eslint.config.mjs.bak
  src/templates/eslint.config.mjs.txt
Due: prettier --config .prettierrc --write, eslint --fix

Update tsconfig ignore rules
  tsconfig.json
Due: prettier --config .prettierrc --write

Remove backup file
  src/templates/eslint.config.mjs.bak
Due: none

Remove temp override to templates.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

Exclude template config file from linter
  .lintstagedrc.json
  package.json
  src/templates/eslint.config.mjs
Due: prettier --config .prettierrc --write

Update warning handling on lint
  .lintstagedrc.json
  package.json
Due: prettier --config .prettierrc --write

Increase warn threshold
  .lintstagedrc.json
  package.json
Due: prettier --config .prettierrc --write

Remove max-warning threshold
  .lintstagedrc.json
  package.json
Due: prettier --config .prettierrc --write

Remove use of .txt kludge
  src/cli/init/templates.test.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: `npx pepr dev` integration test (#2126)
  .github/workflows/on-demand-workflows.yaml
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Path conditions:
  prettier --config .prettierrc --write: ((any of: *.js) or (any of: *.json)) or (any of: *.ts)
  eslint --fix: (any of: *.js) or (any of: *.ts)
  markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
