Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: remove process.env
  src/cli.ts
  src/lib/assets/assets.ts
  src/lib/assets/loader.ts
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write

chore: fix unit tests
  src/lib/assets/loader.test.ts
  src/lib/assets/webhooks.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: contributor guide
  docs/120_contribute/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: set appropriate logging levels so the info log-level is module-level logs (#2494)
  docs/120_contribute/README.md
  integration/cli/format.format.test.ts
  src/lib/assets/deploy.ts
  src/lib/assets/environment.test.ts
  src/lib/assets/environment.ts
  src/lib/assets/loader.test.ts
  src/lib/assets/loader.ts
  src/lib/controller/index.ts
  src/lib/controller/store.test.ts
  src/lib/controller/store.ts
  src/lib/core/capability.test.ts
  src/lib/core/capability.ts
  src/lib/core/module.test.ts
  src/runtime/controller.test.ts
  src/runtime/controller.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add tests for -e
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add tests for -z
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add tests for -o
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add tests for --registry
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update rbac-mode tests
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Improve matching implementation for error conditions
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update assertion logic for invalid options
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Consolidate test implementation for shared behavior
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update test name for conflict tests
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: deploy test
  src/cli/deploy.test.ts
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: deploy test
  src/cli/deploy.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update check for error in -P
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Wrap act block of tests in helper function
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Continue refactor
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Use helper in timeout test
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove unnecessary mock
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

update todo comment
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Stub out crypto used in Assets
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: only verified
  .github/workflows/secret-scan.yml
Due: none

Check for secrets of any type since 1 Aug 2025
  .github/workflows/secret-scan.yml
Due: none

chore: remove duplicate log messages caused by controller builds (#2492)
  src/lib/assets/assets.ts
  src/lib/assets/loader.test.ts
  src/lib/assets/loader.ts
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: create new test for program.parseAsync due to mocks
  src/cli/deploy.cmd.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove conditional from test setup
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update test name
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix program parse commands
  src/cli/dev.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Rename tests
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: test hostname
  src/cli/dev.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Declare a test type for common test cases
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update test assertion & use Log
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update src/cli/build/index.test.ts
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: parseAsync from user
  src/cli/dev.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: parseAsync from user
  src/cli/deploy.cmd.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update base
  Dockerfile
Due: none

chore: 2184
  .github/workflows/container-scan.yaml
Due: none

chore: improve 'pepr build' unit tests (#2496)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/buildModule.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Split deploy files
  src/cli/deploy.test.ts
  src/cli/deploy.ts
  src/cli/deploy/buildAndDeploy.test.ts
  src/cli/deploy/buildAndDeploy.ts
  src/cli/deploy/deploy.test.ts
  src/cli/deploy/deploy.ts
  src/cli/deploy/imagePullSecret.test.ts
  src/cli/deploy/imagePullSecret.ts
  src/cli/deploy/userConfirmation.test.ts
  src/cli/deploy/userConfirmation.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs
