Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"]
}

Update Dockerfile
  Dockerfile
Due: none

Update Dockerfile.kfc
  Dockerfile.kfc
Due: none

Define uuid-based variables in beforeAll()
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

Fix issue with uuid-interpolation
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

Run build command in before
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

Rework assertion of successful build
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

Resolve variables in beforeAll()
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

Check for files that include uuid with a regex
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

Rename variable
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

Derive regexes in test case for more concise test titles
  integration/cli/build.noembed.test.ts
Due: prettier --write, eslint --fix

chore: reduce duplication between pepr-build and pepr-build-wasm in journey tests (#1804)
  journey/entrypoint-wasm.test.ts
  journey/entrypoint.test.ts
  journey/pepr-build-wasm.ts
  journey/pepr-build.helpers.ts
  journey/pepr-build.ts
  package.json
Due: prettier --write, eslint --fix

chore: remove write to repo access for sbom and container scan (#1808)
  .github/workflows/container-scan.yaml
Due: none

chore: pin hash on Dockerfiles (#1810)
  Dockerfile
  Dockerfile.kfc
Due: none

chore: bump esbuild version (#1807)
  integration/cli/build.noembed.test.ts
  integration/helpers/resource.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Add test case for when assets.host exists
  src/lib/assets/webhooks.test.ts
Due: prettier --write, eslint --fix

chore: improve test coverage for webhook generation (#1815)
  src/lib/assets/webhooks.test.ts
Due: prettier --write, eslint --fix

Prefer it() over test() for BDD-style test names
  src/lib/assets/helm.test.ts
  src/lib/assets/pods.test.ts
  src/lib/core/module.test.ts
  src/lib/deploymentChecks.test.ts
  src/lib/errors.test.ts
  src/lib/included-files.test.ts
  src/lib/telemetry/metrics.test.ts
  src/lib/tls.test.ts
  src/lib/utils.test.ts
  src/sdk/sdk.test.ts
Due: prettier --write, eslint --fix

chore: increase unit test coverage in store through constructor
  src/lib/controller/store.test.ts
Due: prettier --write, eslint --fix

chore: prefer it() over test() for BDD-style test names (#1818)
  src/lib/assets/helm.test.ts
  src/lib/assets/pods.test.ts
  src/lib/core/module.test.ts
  src/lib/deploymentChecks.test.ts
  src/lib/errors.test.ts
  src/lib/included-files.test.ts
  src/lib/telemetry/metrics.test.ts
  src/lib/tls.test.ts
  src/lib/utils.test.ts
  src/sdk/sdk.test.ts
Due: prettier --write, eslint --fix

chore(wip): refactor test string in webhook.test.ts
  src/lib/assets/webhooks.test.ts
Due: prettier --write, eslint --fix

chore: create instance of assets to pass on test-cases webhook
  src/lib/assets/webhooks.test.ts
Due: prettier --write, eslint --fix

chore: WIP compliance inPepr ADR
  adr/0016-compliance-in-pepr.md
Due: none

chore: on demand keywork
  adr/0016-compliance-in-pepr.md
Due: none

chore: cons list
  adr/0016-compliance-in-pepr.md
Due: none

chore: controller constructor calls store on ready
  src/lib/controller/index.test.ts
Due: prettier --write, eslint --fix

chore: updates to store test
  src/lib/controller/store.test.ts
Due: prettier --write, eslint --fix

chore: strict types
  src/lib/assets/loader.test.ts
Due: prettier --write, eslint --fix

chore: rename api-token to api-path
  integration/cli/build.configequality.test.ts
  journey/pepr-dev.ts
  src/cli/dev.ts
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/deploy.ts
  src/lib/assets/destroy.ts
  src/lib/assets/helm.ts
  src/lib/assets/index.ts
  src/lib/assets/networking.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/pods.ts
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
  src/lib/assets/yaml/generateAllYaml.ts
  src/lib/assets/yaml/overridesFile.ts
  src/lib/controller/index.ts
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

chore: soak test
  hack/soak.ci.yaml
Due: none

chore: chainguard image
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
  Dockerfile.unicorn
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: chainguard image to ghcr (#1832)
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
  Dockerfile.unicorn
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: add test coverage for loading capabilities into controller (#1828)
  src/lib/assets/loader.test.ts
Due: prettier --write, eslint --fix

chore: increase unit test coverage in store through constructor (#1819)
  src/lib/controller/store.test.ts
Due: prettier --write, eslint --fix

chore: controller constructor calls store on ready (#1825)
  src/lib/controller/index.test.ts
Due: prettier --write, eslint --fix

chore: WIP - test matrix with unicorn flavor
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  package.json
Due: prettier --write

chore: address PR comments
  adr/0016-compliance-in-pepr.md
Due: none

chore: add chainguard creds to workflows before build
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: debug CG token is set
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none
