Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty

chore: comment request is allowed
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

Add more detailed failure data
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

Bump chainguard versions
  config/unicorn.yaml
Due: none

chore: pass structed response object to patches
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

chore: add @ and use require
  config/unicorn.yaml
Due: none

chore: add @ and use require
  scripts/read-unicorn-build-args.js
Due: prettier --write, eslint --fix

chore: rename script
  scripts/read-unicorn-build-args.mjs
Due: none

chore(deps): bump unicorn-flavor base image (#1929)
  config/unicorn.yaml
Due: none

chore: reduce complexity in mutate-processor (#1925)
  config/unicorn.yaml
  scripts/read-unicorn-build-args.mjs
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --write, eslint --fix

Include more detailed stats around run tracking
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

chore: increase coverage in KubernetesObject adjudicator functions
  src/lib/filter/adjudicators/kubernetesObject.test.ts
  src/lib/filter/adjudicators/kubernetesObject.ts
Due: prettier --write, eslint --fix

chore: new org username and password
  .github/dependabot.yml
Due: none

chore: increase coverage in overrides function
  src/lib/assets/yaml/overridesFile.test.ts
Due: prettier --write, eslint --fix

chore: remove console log
  src/lib/assets/yaml/overridesFile.test.ts
Due: prettier --write, eslint --fix

chore: export type
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --write, eslint --fix

chore: increase coverage in KubernetesObject adjudicator functions (#1933)
  src/lib/filter/adjudicators/kubernetesObject.test.ts
  src/lib/filter/adjudicators/kubernetesObject.ts
Due: prettier --write, eslint --fix

chore: new org username and password (#1934)
  .github/dependabot.yml
Due: none

chore: increase coverage in overrides function (#1938)
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --write, eslint --fix

Refactor download script
  scripts/download-e2e-logs.sh
Due: shellcheck -f tty

Set failure max for reporting based off retries
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

Pull logs from past 30 days
  scripts/download-e2e-logs.sh
Due: shellcheck -f tty

Modularize process script
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

chore: update setup zarf
  .github/workflows/deploy-zarf.yml
Due: none

Add script to chart parsed data
  scripts/chart-e2e-data.sh
Due: shellcheck -f tty

chore: pin hash
  .github/workflows/deploy-zarf.yml
Due: none

chore: zarf setup action update (#1943)
  .github/workflows/deploy-zarf.yml
Due: none

Remove useless guard-clause
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

Revert "Remove useless guard-clause"
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

chore: update script to read Dockerfile
  .github/workflows/release.yml
  config/Dockerfile
  config/unicorn.yaml
  package.json
  scripts/read-unicorn-build-args.mjs
Due: prettier --write

Note when jobs don't retry
  scripts/process-e2e-data.sh
Due: shellcheck -f tty

replace shell implementation with Python
  scripts/process-e2e-data.sh
  scripts/process_e2e_data.py
Due: shellcheck -f tty

strip leading prefix for better result data
  scripts/process_e2e_data.py
Due: none

Replace charting with python implementation
  scripts/chart-e2e-data.sh
  scripts/chart_e2e_data.py
Due: shellcheck -f tty

Chart failure data on horizontal histogram
  scripts/chart_e2e_data.py
Due: none

chore: new creds
  .github/dependabot.yml
Due: none

Add comment to explain hardcoded value
  scripts/process_e2e_data.py
Due: none

Extract additional fields from parsed log
  scripts/chart_e2e_data.py
Due: none

chore: fix dependabot for chainguard (#1944)
  .github/dependabot.yml
  .github/workflows/release.yml
  config/Dockerfile
  config/unicorn.yaml
  package.json
  scripts/read-unicorn-build-args.mjs
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
