Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: workflow failure fix
  scripts/soak-test-kubectl.test.ts
  scripts/soak-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update scripts/soak-test.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: test to table
  scripts/soak-constants.test.ts
  scripts/soak-record-metrics.ts
  scripts/soak-summary.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: greptile loop visibility concern
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: configure release-please
  .github/workflows/release.yml
  .release-please-manifest.json
  package-lock.json
  package.json
  release-please-config.json
Due: prettier --config .prettierrc --write

chore: cleaned up tests
  scripts/soak-record-metrics.test.ts
  scripts/soak-summary.test.ts
  scripts/soak-test-kubectl.test.ts
  scripts/soak-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: tests
  scripts/soak-constants.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: soak test scripts to typescript (#3062)
  .github/workflows/soak.yaml
  config/eslint.root.config.mjs
  config/tsconfig.scripts.json
  scripts/soak-constants.test.ts
  scripts/soak-constants.ts
  scripts/soak-record-metrics.sh
  scripts/soak-record-metrics.test.ts
  scripts/soak-record-metrics.ts
  scripts/soak-summary.sh
  scripts/soak-summary.test.ts
  scripts/soak-summary.ts
  scripts/soak-test-kubectl.test.ts
  scripts/soak-test.sh
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, shellcheck -f tty

Update release-please-config.json
  release-please-config.json
Due: prettier --config .prettierrc --write

chore: update email in docs
  SECURITY.md
  SUPPORT.md
  docs/reference/faq.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update email in docs (#3129)
  SECURITY.md
  SUPPORT.md
  docs/reference/faq.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: greptile fix
  .github/workflows/release.yml
Due: none

chore: brutal review corrections
  .github/workflows/release.yml
  release-please-config.json
  scripts/set-version.js
Due: prettier --config .prettierrc --write

chore: brutal review
  .github/workflows/release.yml
Due: none

chore: adr
  adr/0011-semantic-release.md
  adr/0022-release-please.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: filter paths instead of ignore
  .github/workflows/node.js.yml
Due: none

chore: add maxbuffer and async wrapper
  scripts/soak-summary.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: configure release-please (#3126)
  .github/workflows/release.yml
  .release-please-manifest.json
  adr/0011-semantic-release.md
  adr/0022-release-please.md
  package-lock.json
  package.json
  release-please-config.json
  scripts/set-version.js
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: filter paths instead of ignore (#3132)
  .github/workflows/node.js.yml
Due: none

chore: add maxbuffer and async wrapper (#3134)
  scripts/soak-summary.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: soak test add update pod map
  scripts/soak-test-kubectl.test.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: greptile fix
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write

chore: soak test add update pod map (#3141)
  scripts/soak-test-kubectl.test.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add deps as a prefix
  .github/dependabot.yml
  config/commitlint.config.js
  release-please-config.json
Due: prettier --config .prettierrc --write

chore: greptile change
  config/commitlint.config.js
Due: prettier --config .prettierrc --write

chore: add deps as a prefix (#3142)
  .github/dependabot.yml
  config/commitlint.config.js
  release-please-config.json
Due: prettier --config .prettierrc --write

chore: fix dependabot scope
  .github/dependabot.yml
Due: none

fix(ci): unbreak peer-deps-update workflow with App-token auth
  .github/workflows/peer-deps-update.yml
Due: none

fix(ci): use app-token auth in peer-deps-update workflow (#3151)
  .github/workflows/peer-deps-update.yml
Due: none

fix(ci): point peer-deps-update at the App secrets that actually exist
  .github/workflows/peer-deps-update.yml
Due: none

fix(ci): point peer-deps-update at the App secrets that actually exist (#3152)
  .github/workflows/peer-deps-update.yml
Due: none

feat: add helm templating for service account annotations
  src/lib/assets/assets.ts
  src/lib/assets/helm.test.ts
  src/lib/assets/helm.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

deps: bump chainguard node images from 24 to 26
  Dockerfile
  config/Dockerfile
Due: none

ci: add Chainguard auth to workflows that build the controller image
  .github/workflows/container-scan.yaml
  .github/workflows/deploy.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-upstream.yml
Due: none

Lint CHANGELOG
  CHANGELOG.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

ci: update node-version from 24 to 26 across all workflows
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/container-scan.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/load.yml
  .github/workflows/nightlies.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/release.yml
  .github/workflows/soak.yaml
  .github/workflows/tutorials-test.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

ci: extend unit-test matrix to [22, 24, 26]
  .github/workflows/on-demand-workflows.yaml
Due: none

fix(security): mitigate grype findings outside open dependabot PRs
  .grype.yaml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

deps: bump chainguard node images from 24 to 26 and suppress irrelevant grype findings (#3166)
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/container-scan.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/load.yml
  .github/workflows/nightlies.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples-upstream.yml
  .github/workflows/release.yml
  .github/workflows/soak.yaml
  .github/workflows/tutorials-test.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
  .grype.yaml
  CHANGELOG.md
  Dockerfile
  config/Dockerfile
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
