Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

Notes added by 'git notes add'
  ceae07b1cf6320dd9985eb24ee82cd9245bd50b4
Due: none

chore: testing ci
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

testing
  src/lib/utils.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: account for early exit
  .github/workflows/release.yml
Due: none

chore: account for early exit (#2727)
  .github/workflows/release.yml
Due: none

chore: early exit 0
  .github/workflows/release.yml
Due: none

chore: early exit 0 (#2728)
  .github/workflows/release.yml
Due: none

chore: conditionals
  .github/workflows/release.yml
Due: none

chore: conditionals (#2729)
  .github/workflows/release.yml
Due: none

chore: conditional logic cleanup
  .github/workflows/release.yml
Due: none

chore: conditional logic cleanup (#2730)
  .github/workflows/release.yml
Due: none

chore: corrected broken links
  docs/010_user-guide/040_capabilities.md
  docs/030_tutorials/030_create-pepr-operator.md
  docs/040_reference/010_best-practices.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: corrected broken links (#2731)
  docs/010_user-guide/040_capabilities.md
  docs/030_tutorials/030_create-pepr-operator.md
  docs/040_reference/010_best-practices.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: semantic release adr update
  adr/0011-semantic-release.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Apply suggestion from @cmwylie19
  adr/0011-semantic-release.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: semantic release adr update (#2733)
  adr/0011-semantic-release.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix linter errors
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write

refactor(mutateProcessor): modularize and simplify mutation processing logic
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

refactor(core): resolve ESLint and type issues in Capability
  src/lib/core/capability.test.ts
  src/lib/core/capability.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

refactor(overridesFile) complexity
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

test(cli): refactor CRD integration test helpers and add explicit return types
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

refactor(validateProcessor): reduce complexity and modularize validation flow
  src/lib/core/module.test.ts
  src/lib/core/module.ts
  src/lib/processors/validate-processor.test.ts
  src/lib/processors/validate-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

webhook.ts complexity refactor
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write

test(cli): refactor build.configequality.test.ts for stronger typing and lint compliance
  integration/cli/build.configequality.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

resolved merge conflicts
  src/lib/assets/webhooks.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

refactor(index.ts) complexity
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

test(validateProcessor): update test coverage
  src/lib/processors/validate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

unit tests for mutate-processor
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

unit tests for mutate-processor
  src/lib/processors/mutate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

unit tests for mutate-processor
  src/lib/controller/index.test.ts
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

try fewer changes on mutate to avoid regressions
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: disable max-statements for Capability.When with explanation
  src/lib/core/capability.test.ts
  src/lib/core/capability.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

webhooks code coverage
  src/lib/assets/webhooks.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

refactor namespace helper out to ignoredNamespaces file
  src/lib/assets/ignoredNamespaces.test.ts
  src/lib/assets/ignoredNamespaces.ts
  src/lib/assets/yaml/overridesFile.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.test.ts
  src/lib/processors/validate-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

more webhooks config
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

additional webhooks tests
  src/lib/assets/webhooks.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

test(overridesFile): update code coverage
  src/lib/assets/yaml/overridesFile.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

minor cleanup
  src/lib/assets/yaml/overridesFile.ts
  src/lib/controller/index.ts
  src/lib/processors/mutate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

test: refactor build.configequality.test.ts to use table-driven tests with it.each()
  integration/cli/build.configequality.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

pr review feedback (overridesFile)
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs
