Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"]
}

chore: chainctl
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: chainctl headless
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: id token
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: headless skip-browser
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  README.md
Due: none

chore: headless skip-browser
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: login chainctl
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: login chainctl
  .github/workflows/node.js.yml
Due: none

chore: id-token permissions
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

Update README.md
  README.md
Due: none

chore: fix matrix
  .github/workflows/node.js.yml
Due: none

chore: try running matrix in a shell
  .github/workflows/node.js.yml
Due: none

chore: test matrix with unicorn flavor (#1837)
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  README.md
  package.json
Due: prettier --write

chore: remove version from build
  src/cli/build.helpers.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: rename api-token to api-path (#1830)
  hack/soak.ci.yaml
  integration/cli/build.configequality.test.ts
  journey/pepr-dev.ts
  src/cli/dev.ts
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
  src/lib/assets/deploy.ts
  src/lib/assets/destroy.ts
  src/lib/assets/helm.ts
  src/lib/assets/index.ts
  src/lib/assets/networking.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/pods.ts
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
  src/lib/assets/yaml/generateAllYaml.ts
  src/lib/assets/yaml/overridesFile.ts
  src/lib/controller/index.ts
  src/lib/telemetry/metrics.ts
Due: prettier --write, eslint --fix

chore: remove version from build (#1842)
  src/cli/build.helpers.ts
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: ensure generateAllYaml generates all kube manifests
  src/lib/assets/yaml/generateAllYaml.test.ts
Due: prettier --write, eslint --fix

chore: ensure correctness of ZarfConfig
  src/lib/assets/yaml/generateZarfYaml.test.ts
Due: prettier --write, eslint --fix

chore: override jsonpath-plus cve
  package-lock.json
  package.json
Due: prettier --write

chore: override jsonpath-plus cve (#1847)
  package-lock.json
  package.json
Due: prettier --write

chore: dependabot prs are read-only
  .github/workflows/node.js-unicorn.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none

chore: remove unintended change
  .github/workflows/node.js.yml
Due: none

chore: rename uses workflow
  .github/workflows/node.js-unicorn.yml
  .github/workflows/node.js.yml
Due: none

chore: unicorn ci rename
  .github/workflows/node.js-unicorn.yml
Due: none

inputs
  .github/workflows/node.js-unicorn.yml
  .github/workflows/node.js.yml
  .github/workflows/on-demand-workflows.yaml
Due: none

Create a minimally-viable set of mocks for tests to pass
  src/lib/assets/yaml/generateAllYaml.test.ts
Due: prettier --write, eslint --fix

do not ignore on but do not need to pass on journey-unicorn
  .github/workflows/node.js-unicorn.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
Due: none
