Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

docs: explain the fan-out matrix in the auto-generated PR body
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

fix: address greptile review feedback (greploop iteration 1)
  docs/contribute/contributor-guide.md
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove old shell script
  scripts/peerDeps.sh
Due: shellcheck -f tty

Update scripts/update-peer-deps.mjs
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

revert: drop fan-out context from renderPrBody
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

chore: update
  docs/contribute/contributor-guide.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: use semver to handle range-prefixed peerDep versions
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

chore: add SPDX license headers to update-peer-deps.mjs
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

chore: update peerDependencies (#3093)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: sanitize scoped package names in git branch refs
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

fix: avoid redundant npm re-query in runApply
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

fix: use gh pr list to detect existing PR instead of stderr match
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

fix: scope git config to local repo in runOpenPr
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

fix: link workflow run in PR body instead of hardcoding status assertions
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

fix: clean up temp body directory and prefer RUNNER_TEMP
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

nit: add stdout channel discipline comment and harden requireMajorPkg
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

perf: parallelize npm view calls with Promise.all
  scripts/update-peer-deps.mjs
Due: prettier --config .prettierrc --write

ci: add harden-runner to peer-deps-update workflow
  .github/workflows/peer-deps-update.yml
Due: none

ci: add concurrency group to prevent schedule/dispatch races
  .github/workflows/peer-deps-update.yml
Due: none

ci: harden lockfile refresh with --package-lock-only --ignore-scripts
  .github/workflows/peer-deps-update.yml
Due: none

ci: add timeout-minutes to discover and propose jobs
  .github/workflows/peer-deps-update.yml
Due: none

ci: warn when PEER_DEPS_PR_TOKEN is absent
  .github/workflows/peer-deps-update.yml
Due: none

ci: pass --run-url to open-pr so PR body links to the workflow run
  .github/workflows/peer-deps-update.yml
Due: none

ci: pin Node.js to 20 to match project minimum engine requirement
  .github/workflows/peer-deps-update.yml
Due: none

docs: fix blank-line formatting around Peer-Dependency Updates section
  docs/contribute/contributor-guide.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

test: add unit tests for update-peer-deps.mjs pure functions
  config/eslint.root.config.mjs
  config/vitest.root.config.ts
  scripts/tsconfig.json
  scripts/update-peer-deps.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

refactor: simplify ghPrUpsert signature and remove WHAT comments
  scripts/update-peer-deps.mjs
  scripts/update-peer-deps.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: major bumps excluded from group prs
  .github/dependabot.yml
Due: none

chore: automate peerDependencies maintenance (#3094)
  .github/workflows/peer-deps-update.yml
  config/eslint.root.config.mjs
  config/vitest.root.config.ts
  docs/contribute/contributor-guide.md
  scripts/peerDeps.sh
  scripts/tsconfig.json
  scripts/update-peer-deps.mjs
  scripts/update-peer-deps.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: major bumps excluded from group prs (#3120)
  .github/dependabot.yml
Due: none

chore: review changes
  scripts/soak-constants.test.ts
  scripts/soak-constants.ts
  scripts/soak-record-metrics.test.ts
  scripts/soak-record-metrics.ts
  scripts/soak-summary.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: greptile review
  src/cli/crd/generate/generators.ts
Due: prettier --config .prettierrc --write

chore: ci fix
  src/cli/crd/generate/generators.test.ts
  src/cli/crd/generate/generators.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: brutal review changes
  src/cli/crd/generate/generators.test.ts
  src/cli/crd/generate/generators.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: added tests
  src/cli/crd/generate/generators.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: add tests
  src/cli/crd/generate/generators.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove ts-morph (#3117)
  Dockerfile
  package-lock.json
  package.json
  src/cli/crd/generate/generators.test.ts
  src/cli/crd/generate/generators.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: added tests and brutal fixes
  scripts/soak-record-metrics.test.ts
  scripts/soak-record-metrics.ts
  scripts/soak-summary.test.ts
  scripts/soak-summary.ts
  scripts/soak-test-kubectl.test.ts
  scripts/soak-test.test.ts
  scripts/soak-test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: workflow failure fix
  scripts/soak-test-kubectl.test.ts
  scripts/soak-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
