Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: identify failure try and catch
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

Update src/cli/uuid.test.ts
  src/cli/uuid.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix broken test and format
  src/cli/uuid.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove resource limits
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

chore: remove resource limits and wait
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

chore: clean up and wait after patch
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

chore: try catch
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

chore: clean up code
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

chore: clean up
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

chore: fix load test (#2444)
  hack/load.cli.ts
Due: prettier --config .prettierrc --write

Update pino log calls
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write

Match param call in logging function
  src/cli/update/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: remove log messages from stdout during unit tests (#2441)
  src/cli/format/index.test.ts
  src/cli/format/index.ts
  src/cli/update/index.test.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Use args for pepr build
  journey/pepr-deploy.ts
  journey/pepr-init.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write

chore: exclude build-artifacts test in unit tests
  config/vitest.root.config.ts
Due: prettier --config .prettierrc --write

Only switch version when TEST_MODE is set
  src/cli/init/index.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write

chore: PR comments
  src/cli/uuid.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: exclude build-artifacts test in unit tests (#2448)
  config/vitest.root.config.ts
Due: prettier --config .prettierrc --write

Define required envars in build test
  journey/pepr-build.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write

Remove TEST_MODE envar
  journey/pepr-build.ts
  journey/pepr-init.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write

Remove package override parameter
  src/cli/init/index.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write

Add support for --yes to kfc command
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/docs/docs.test.ts
  integration/cli/docs/markdown.helper.test.ts
  src/cli/kfc.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: add --yes to pepr kfc command (#2450)
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/docs/docs.test.ts
  integration/cli/docs/markdown.helper.test.ts
  src/cli/kfc.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Use pino logger instead of console.log
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write

Dynamically calculate table size off of output
  src/cli/uuid.ts
Due: prettier --config .prettierrc --write

Update flag name in help menu
  src/cli/deploy.ts
Due: prettier --config .prettierrc --write

Set dist as default output directory
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build.helpers.ts
  src/cli/build.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Use pino logging in pepr build
  src/cli/build.helpers.ts
  src/cli/build.ts
  src/lib/assets/loader.ts
Due: prettier --config .prettierrc --write

Update expected doc strings for crd generate
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/docs/cli.helper.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
