Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: correct test
  src/lib/assets/assets.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

feat(ci): automate Chainguard image update PRs
  .github/dependabot.yml
  .github/workflows/container-scan.yaml
  Dockerfile
  config/Dockerfile
  package.json
  scripts/check-chainguard-image-equality.test.ts
  scripts/check-chainguard-image-equality.ts
  scripts/push-controller-images.sh
  scripts/read-unicorn-build-args.mjs
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, shellcheck -f tty

chore: fix no-binding chart admission deployment (#3292)
  README.md
  docs/reference/best-practices.md
  docs/user-guide/capabilities.md
  src/lib/assets/assets.test.ts
  src/lib/assets/assets.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore(ci): automate Chainguard image update PRs (#3320)
  .github/dependabot.yml
  .github/workflows/container-scan.yaml
  Dockerfile
  config/Dockerfile
  package.json
  scripts/check-chainguard-image-equality.test.ts
  scripts/check-chainguard-image-equality.ts
  scripts/push-controller-images.sh
  scripts/read-unicorn-build-args.mjs
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, shellcheck -f tty

fix(dependabot): use Chainguard pull-token credentials
  .github/dependabot.yml
Due: none

fix(dependabot): use Chainguard pull-token credentials (#3324)
  .github/dependabot.yml
Due: none

ci: add Digestabot digest refresh workflow
  .github/workflows/digestabot.yml
Due: none

Update variable name for CGR login
  .github/dependabot.yml
Due: none

chore(ci): update variable name for CGR login (#3328)
  .github/dependabot.yml
Due: none

chore: clarify Docker Dependabot commits
  .github/dependabot.yml
Due: none

chore: clarify Docker Dependabot commit titles (#3329)
  .github/dependabot.yml
Due: none

fix(ci): publish verified npm releases with OIDC
  .github/workflows/release.yml
Due: none

fix(ci): use npm 12 for trusted publishing
  .github/workflows/release.yml
Due: none

fix(ci): remove obsolete release token
  .github/workflows/release.yml
Due: none

fix(ci): attest release packages with GitHub OIDC
  .github/workflows/release.yml
  adr/0022-release-please.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix(ci): publish npm releases with trusted publishing
  .github/workflows/release.yml
Due: none

fix(ci): replace ORAS installers with setup action
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
Due: none

fix(ci): migrate provenance to GitHub artifact attestations
  .github/workflows/release.yml
  adr/0022-release-please.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

refactor(ci): reuse the release package across registries
  .github/workflows/release.yml
  adr/0022-release-please.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix(ci): publish npm releases with trusted publishing (#3330)
  .github/workflows/release.yml
Due: none

fix(ci): replace ORAS installers with setup action (#3338)
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
Due: none

fix(ci): migrate provenance to GitHub artifact attestations (#3339)
  .github/workflows/release.yml
  adr/0022-release-please.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

refactor(ci): reuse the release package across registries (#3340)
  .github/workflows/release.yml
  adr/0022-release-please.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

ci: verify published release provenance
  .github/workflows/release.yml
Due: none

docs: add release provenance guidance
  docs/reference/best-practices.md
  docs/reference/provenance.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

ci: verify published release provenance (#3344)
  .github/workflows/release.yml
Due: none

docs: add release provenance guidance (#3343)
  docs/reference/best-practices.md
  docs/reference/provenance.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix(cli): warn on broad admin RBAC
  src/cli/build/index.ts
  src/cli/deploy/buildAndDeploy.ts
  src/cli/dev.ts
  src/cli/init/index.ts
  src/cli/rbacModeWarning.ts
Due: prettier --config .prettierrc --write

test(cli): cover admin RBAC warnings
  integration/cli/build.rbacmode.test.ts
  src/cli/build/index.test.ts
  src/cli/deploy/index.test.ts
  src/cli/dev.test.ts
  src/cli/init/index.test.ts
  src/cli/rbacModeWarning.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

test(cli): consolidate RBAC warning cases
  integration/cli/build.rbacmode.test.ts
  src/cli/deploy/index.test.ts
  src/cli/dev.test.ts
  src/cli/rbacModeWarning.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

refactor(cli): inline RBAC mode resolution
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write

test(cli): remove helper implementation test
  src/cli/rbacModeWarning.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

test(integration): inline RBAC expectations
  integration/cli/build.rbacmode.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore(deps): run Dependabot twice weekly
  .github/dependabot.yml
Due: none

chore(deps): run Dependabot twice weekly (#3355)
  .github/dependabot.yml
Due: none

fix(cli): warn when using admin RBAC (#3353)
  integration/cli/build.rbacmode.test.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
  src/cli/deploy/buildAndDeploy.ts
  src/cli/deploy/index.test.ts
  src/cli/dev.test.ts
  src/cli/dev.ts
  src/cli/init/index.test.ts
  src/cli/init/index.ts
  src/cli/rbacModeWarning.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore(docs): fix broken links
  docs/reference/best-practices.md
  docs/reference/provenance.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore(docs): use relative path
  docs/reference/best-practices.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore(docs): fix broken links (#3364)
  docs/reference/best-practices.md
  docs/reference/provenance.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
