Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: remove journey test dir (#2527)
  .github/pull_request_template.md
  .github/workflows/node.js-unicorn.yml
  .github/workflows/node.js.yml
  config/eslint.integration.config.mjs
  config/eslint.root.config.mjs
  config/eslint.test.config.mjs
  config/vitest.journey.config.ts
  docs/120_contribute/README.md
  journey/before.ts
  journey/entrypoint-wasm.test.ts
  journey/entrypoint.test.ts
  journey/k8s.ts
  journey/pepr-build-wasm.ts
  journey/pepr-build.helpers.ts
  journey/pepr-build.ts
  journey/pepr-deploy.ts
  journey/pepr-dev.ts
  journey/pepr-init.ts
  journey/resources/clusterrole.yaml
  journey/resources/non-migrated-peprstore.yaml
  journey/resources/pepr-store-crd.yaml
  journey/resources/values.yaml
  journey/utils.ts
  package.json
  src/cli/build/index.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove ADR since other PR includes it
  adr/0020-use-of-feature-flag-store-for-experimental-features.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove demo for feature flag use
  src/cli.ts
  src/cli/feature-demo/index.ts
Due: prettier --config .prettierrc --write

chore: use regex
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: ignore pino 9.8.0
  .github/dependabot.yml
Due: none

chore: write ADR for feature flagging (#2529)
  adr/0020-use-of-feature-flag-store-for-experimental-features.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: use proper group for private image
  src/lib/assets/k8sObjects.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write

fix: use proper group for private image (#2534)
  src/lib/assets/k8sObjects.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write

Start testing for init command
  src/cli/init/asdf.ts
  src/cli/init/index.ts
  src/cli/init/init.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix table and remove wasm docs
  docs/030_user-guide/110_customization.md
  docs/030_user-guide/110_webassembly.md
  docs/030_user-guide/120_filters.md
  docs/030_user-guide/130_generating-crds.md
  docs/030_user-guide/140_generating_custom_metrics.md
  docs/030_user-guide/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix table in tutorial readme
  docs/040_pepr-tutorials/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Refactor init command creation for testability
  src/cli.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write

Create tests for opts with values
  src/cli/init/init.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add tests around --yes
  src/cli/init/init.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update test assertions
  src/cli/init/init.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add tests for valid UUIDs
  src/cli/init/init.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Create a way to replace args on the fly
  src/cli/init/init.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Ensure uuid always has a value
  src/cli/init/index.ts
  src/cli/init/init.test.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Split util files into separate files for clarity
  src/cli/init/createProjectFiles.ts
  src/cli/init/doPostInitActions.ts
  src/cli/init/index.ts
  src/cli/init/init.test.ts
  src/cli/init/setupProjectStructure.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

rename file
  src/cli/init/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update mocking for failure case
  src/cli/init/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Resolve issue between use of long and short args
  src/cli/init/index.test.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Switch to pino logger
  src/cli/init/index.test.ts
  src/cli/init/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Refactor test file structure
  src/cli/init/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

bump warn threshold for now
  src/build-artifact.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: improve unit tests for `pepr init` command (#2541)
  src/build-artifact.test.ts
  src/cli.ts
  src/cli/init/createProjectFiles.ts
  src/cli/init/doPostInitActions.ts
  src/cli/init/index.test.ts
  src/cli/init/index.ts
  src/cli/init/setupProjectStructure.ts
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Ensure user input is at least one character long
  src/cli/init/walkthrough.ts
Due: prettier --config .prettierrc --write

fix: ensure user input is at least one character long for the module uuid (#2542)
  src/cli/init/walkthrough.ts
Due: prettier --config .prettierrc --write

chore: specific uuid test (#2525)
  integration/cli/format.format.test.ts
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: log controller configuration
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

Update src/lib/controller/index.ts
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

chore: ignore pino 9.8.0 (#2532)
  .github/dependabot.yml
Due: none

chore: remove wasm tutorial and clean up tables for existing docs (#2538)
  docs/030_user-guide/110_customization.md
  docs/030_user-guide/110_webassembly.md
  docs/030_user-guide/120_filters.md
  docs/030_user-guide/130_generating-crds.md
  docs/030_user-guide/140_generating_custom_metrics.md
  docs/030_user-guide/README.md
  docs/040_pepr-tutorials/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: log controller configuration (#2543)
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

chore: values.schema.yaml feature
  package-lock.json
  package.json
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: install missing types
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: final fixes
  integration/cli/dev.dev-test.test.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: remove console logs and add SPDX comments
  src/build-artifact.test.ts
  src/cli.ts
  src/cli/dev.test.ts
  src/cli/dev.ts
  src/cli/init/createProjectFiles.ts
  src/cli/init/doPostInitActions.ts
  src/cli/kfc.test.ts
  src/cli/kfc.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: unit tests
  src/cli/monitor.test.ts
  src/cli/monitor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
