Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: move policy calculation inside test functions to prevent undefined moduleConfig
  integration/cli/build.configequality.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Determine webhook type inside rule generation function
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write

refactor(index.ts) pr feedback
  src/lib/controller/index.test.ts
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: split up tests
  integration/cli/build.configequality.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

refactors
  integration/cli/build.configequality.test.ts
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: extract param types into type declaration
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: refactor test to verify different config paths produce different results
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: fix type coercions
  src/lib/processors/validate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

pr feedback - table testing for ignoredNamespaces
  src/lib/assets/ignoredNamespaces.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

removing tests for already covered code
  src/lib/assets/ignoredNamespaces.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

refactoring the refactor
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

dont export helpers
  src/lib/processors/validate-processor.test.ts
  src/lib/processors/validate-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

simplify the changes to validate-processor
  src/lib/processors/validate-processor.test.ts
  src/lib/processors/validate-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

additional tests
  src/lib/processors/validate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

validate-processor.test.ts refactoring
  src/lib/processors/validate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

mutate processor simplify
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

additional test for mutate-processor
  src/lib/processors/mutate-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

get rid of unnecessary comment
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write

newline cleanup
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write

pr feedback
  integration/cli/build.configequality.test.ts
  src/lib/assets/webhooks.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

grouping tests
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: eslint warning cleanup (#2712)
  integration/cli/build.configequality.test.ts
  integration/cli/crd.test.ts
  src/lib/assets/ignoredNamespaces.ts
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
  src/lib/controller/index.ts
  src/lib/core/capability.ts
  src/lib/core/module.test.ts
  src/lib/core/module.ts
  src/lib/processors/mutate-processor.test.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.test.ts
  src/lib/processors/validate-processor.ts
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: fix test and remove peer dependency conflict
  package-lock.json
  package.json
  src/cli/build/buildModule.test.ts
  src/cli/build/loadModule.test.ts
  src/cli/deploy/buildAndDeploy.test.ts
  src/cli/deploy/index.test.ts
  src/cli/dev.test.ts
  src/cli/format/index.test.ts
  src/cli/monitor.test.ts
  src/lib/controller/index.test.ts
  src/lib/core/capability.test.ts
  src/lib/core/module.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: test ci
  file.txt
Due: none

chore: workaround for missing npm lib
  Dockerfile
Due: none

promote lint warnings to errors
  config/eslint.integration.config.mjs
  config/eslint.root.config.mjs
  config/eslint.test.config.mjs
Due: prettier --config .prettierrc --write

chore: promote lint warnings to errors (#2750)
  config/eslint.integration.config.mjs
  config/eslint.root.config.mjs
  config/eslint.test.config.mjs
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  a865098eec0ba6f0afd438ef0ad4410f3e249f5a
Due: none

chore: updated styling for pepr logo and badges on read me
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: allow looser type checking in values.schema.yaml
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: set additional properties to true to make values usable
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

fix: schema post render (#2771)
  src/lib/assets/yaml/overridesFile.test.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Notes added by 'git notes add'
  412cd3d2b4eb6d772028fe353bc1e912017eb292
Due: none

docs: update badges
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

docs: update badges (#2772)
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Apply suggestion from @cmwylie19
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

package downloads
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: updated styling for pepr logo and badges on read me (#2765)
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
