Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

feat: update with confirm (#2601)
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/docs/markdown.helper.test.ts
  src/cli/update/index.test.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: prepare nightly
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/build.configequality.test.ts
  integration/cli/build.defaults.test.ts
  integration/cli/build.envvars.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.rbacmode.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/dev.dev-test.test.ts
  integration/cli/format.format.test.ts
  src/templates/capabilities/hello-pepr.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: try nightly
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: upgrade test
  README.md
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix integrations
  integration/cli/build.configequality.test.ts
  integration/cli/build.defaults.test.ts
  integration/cli/build.envvars.test.ts
  integration/cli/build.noembed.test.ts
  integration/cli/build.nonconflict.test.ts
  integration/cli/build.rbacmode.test.ts
  integration/cli/build.registryinfo.test.ts
  integration/cli/dev.dev-test.test.ts
  integration/cli/format.format.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: extend timeouts
  docs/040_pepr-tutorials/tests/030_create-pepr-operator.test.ts
  integration/cli/build.configequality.test.ts
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

feat!: update logging to get on pino 9.9.x breaking change (#2599)
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
  docs/030_user-guide/030_actions/040_watch.md
  docs/030_user-guide/030_actions/050_finalize.md
  docs/030_user-guide/030_actions/README.md
  docs/040_pepr-tutorials/tests/030_create-pepr-operator.test.ts
  docs/060_best-practices/README.md
  integration/cluster/upgrade.test.ts
  package-lock.json
  package.json
  src/lib/core/capability.ts
  src/lib/core/queue.ts
  src/lib/telemetry/metrics.ts
  src/templates/capabilities/hello-pepr.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: override vulnerable npm libs
  package.json
Due: prettier --config .prettierrc --write

chore: ignore vulnerable npm packages
  .github/dependabot.yml
  package.json
Due: prettier --config .prettierrc --write

chore: override vulnerable npm libs (#2611)
  .github/dependabot.yml
Due: none

feat!: change default reconcile strategy
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write

feat: change default reconcile strategy (#2613)
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write

chore: replaced pepr arch svg with png version in docs
  README.md
  _images/pepr-arch.png
  _images/pepr-arch.svg
  docs/040_pepr-tutorials/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: removed whitespace
  docs/040_pepr-tutorials/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: format
  docs/040_pepr-tutorials/README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: replaced pepr arch svg with png version in docs (#2619)
  README.md
  _images/pepr-arch.png
  _images/pepr-arch.svg
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: codecov fix
  .github/workflows/on-demand-workflows.yaml
  config/vitest.root.config.ts
Due: prettier --config .prettierrc --write

chore: codecov fix (#2622)
  .github/workflows/on-demand-workflows.yaml
  config/vitest.root.config.ts
Due: prettier --config .prettierrc --write

chore: organized docs for new navigation
  docs/010_user-guide/010_pepr-cli.md
  docs/010_user-guide/020_sdk.md
  docs/010_user-guide/030_pepr-modules.md
  docs/010_user-guide/040_capabilities.md
  docs/010_user-guide/050_custom-resources.md
  docs/010_user-guide/060_customization.md
  docs/010_user-guide/070_feature-flags.md
  docs/010_user-guide/080_filters.md
  docs/010_user-guide/090_generating-custom-metrics.md
  docs/010_user-guide/100_generating-crds.md
  docs/010_user-guide/110_metrics-endpoints.md
  docs/010_user-guide/120_onschedule.md
  docs/010_user-guide/130_rbac.md
  docs/010_user-guide/140_store.md
  docs/010_user-guide/README.md
  docs/020_actions/010_mutate.md
  docs/020_actions/020_validate.md
  docs/020_actions/030_reconcile.md
  docs/020_actions/040_watch.md
  docs/020_actions/050_using-alias-child-logger.md
  docs/020_actions/060_finalize.md
  docs/020_actions/README.md
  docs/030_tutorials/010_create-pepr-module.md
  docs/030_tutorials/020_create-pepr-dashboard.md
  docs/030_tutorials/030_create-pepr-operator.md
  docs/030_tutorials/040_pepr-gitops-workflow.md
  docs/030_tutorials/README.md
  docs/030_tutorials/resources/030_create-pepr-operator/dark.png
  docs/030_tutorials/resources/030_create-pepr-operator/light.png
  docs/030_tutorials/tests/030_create-pepr-operator.test.ts
  docs/040_reference/010_best-practices.md
  docs/040_reference/020_module-examples.md
  docs/040_reference/030_faq.md
  docs/050_community/010_community.md
  docs/050_community/020_pepr-media.md
  docs/060_contribute/010_contributor-guide.md
  docs/070_roadmap.md
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: updated internal links
  CODE-OF-CONDUCT.md
  README.md
  docs/010_user-guide/020_sdk.md
  docs/010_user-guide/040_capabilities.md
  docs/010_user-guide/060_customization.md
  docs/010_user-guide/README.md
  docs/020_actions/010_mutate.md
  docs/020_actions/020_validate.md
  docs/020_actions/030_reconcile.md
  docs/020_actions/050_using-alias-child-logger.md
  docs/020_actions/060_finalize.md
  docs/020_actions/README.md
  docs/030_tutorials/010_create-pepr-module.md
  docs/030_tutorials/020_create-pepr-dashboard.md
  docs/030_tutorials/README.md
  docs/040_reference/010_best-practices.md
  docs/040_reference/030_faq.md
  docs/050_community/010_community.md
  docs/060_contribute/010_contributor-guide.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: additional link updates
  README.md
  docs/040_reference/010_best-practices.md
  docs/050_community/010_community.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: corrected a test error
  integration/cli/docs/markdown.helper.ts
Due: prettier --config .prettierrc --write, eslint --config integration/eslint.config.mjs

chore: corrected tutorial test error
  .github/workflows/tutorials-test.yml
Due: none

chore: corrected tutorial path test error
  config/.lintstagedrc.json
  config/tsconfig.test.json
  docs/030_tutorials/tests/030_create-pepr-operator.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: corrected misspellings
  README.md
  docs/020_actions/010_mutate.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: remove tutorials test for now
  .github/workflows/release.yml
Due: none

chore: remove tutorials test for now (#2630)
  .github/workflows/release.yml
Due: none

chore: remove reference to tutorials test
  .github/workflows/release.yml
Due: none

chore: remove reference to tutorials test (#2632)
  .github/workflows/release.yml
Due: none

chore: updated to kindNsName and fixed spelling typo
  docs/010_user-guide/060_customization.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: added tutorials testing back to release workflow
  .github/workflows/release.yml
Due: none

chore: added tutorials testing back to release workflow (#2642)
  .github/workflows/release.yml
Due: none

chore: updated to kindNsName and fixed spelling typo (#2641)
  docs/010_user-guide/060_customization.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update mock
  src/lib/core/queue.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update link for contributing guide
  CONTRIBUTING.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: updated vidoe callout syntax and spelling
  CODE-OF-CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  config/.markdownlint.json
  docs/010_user-guide/010_pepr-cli.md
  docs/010_user-guide/040_capabilities.md
  docs/010_user-guide/070_feature-flags.md
  docs/010_user-guide/090_generating-custom-metrics.md
  docs/010_user-guide/100_generating-crds.md
  docs/010_user-guide/130_rbac.md
  docs/010_user-guide/README.md
  docs/020_actions/050_using-alias-child-logger.md
  docs/030_tutorials/020_create-pepr-dashboard.md
  docs/030_tutorials/030_create-pepr-operator.md
  docs/040_reference/030_faq.md
  docs/060_contribute/010_contributor-guide.md
  docs/070_roadmap.md
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: updated video callout syntax and spelling (#2646)
  CODE-OF-CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  config/.markdownlint.json
  docs/010_user-guide/010_pepr-cli.md
  docs/010_user-guide/040_capabilities.md
  docs/010_user-guide/070_feature-flags.md
  docs/010_user-guide/090_generating-custom-metrics.md
  docs/010_user-guide/100_generating-crds.md
  docs/010_user-guide/130_rbac.md
  docs/010_user-guide/README.md
  docs/020_actions/050_using-alias-child-logger.md
  docs/030_tutorials/020_create-pepr-dashboard.md
  docs/030_tutorials/030_create-pepr-operator.md
  docs/040_reference/030_faq.md
  docs/060_contribute/010_contributor-guide.md
  docs/070_roadmap.md
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update peer deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write
