Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

chore: regenerate package lock
  package-lock.json
Due: prettier --config .prettierrc --write

chore: import operations from kfc instead of fast json patch
  package-lock.json
  src/lib/controller/migrateStore.ts
  src/lib/controller/store.ts
  src/lib/controller/storeCache.ts
  src/lib/telemetry/logger.ts
Due: prettier --config .prettierrc --write

fix: fast json import (#3011)
  package-lock.json
  package.json
  src/lib/controller/migrateStore.ts
  src/lib/controller/store.ts
  src/lib/controller/storeCache.ts
  src/lib/telemetry/logger.ts
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  2b62be2f24abde316ee32bebafe8101b0c9f1aeb
Due: none

fix: clone `config.env` in `genEnv` to prevent shared-object mutation
  src/lib/assets/environment.test.ts
  src/lib/assets/environment.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Notes added by 'git notes add'
  557fa05aa7ce4158c1cbdae78a5c2335b87901c3
Due: none

chore: suppress CVE-2026-2673
  .grype.yaml
Due: none

chore: suppress CVE-2026-2673 (#3016)
  .grype.yaml
Due: none

Update peer deps
  package.json
Due: prettier --config .prettierrc --write

downgrade typescript due to peer deps requirements
  package.json
Due: prettier --config .prettierrc --write

Update node build & base images
  .grype.yaml
  Dockerfile
Due: none

Update kfc docker images
  Dockerfile.kfc
Due: none

Add Dockerfile.kfc to ignore
  .gitignore
Due: none

fix: update node build & base images in dockerfile (#3025)
  .gitignore
  .grype.yaml
  Dockerfile
  Dockerfile.kfc
Due: none

Notes added by 'git notes add'
  da42b7beca2920c5331486d7f532c2afa1550831
Due: none

Remove old file, see #1223 and #2345
  Dockerfile.kfc
Due: none

chore: remove old file, see #1223 and #2345 (#3026)
  Dockerfile.kfc
Due: none

chore: upgrade node-forge to 1.4.0
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: ignore path to regexp cve
  .grype.yaml
Due: none

chore: upgrade node-forge to 1.4.0 (#3032)
  .grype.yaml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: upgrade handlebars
  package-lock.json
Due: prettier --config .prettierrc --write

chore: removed unnecessary deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: fix ci
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: removed unnecessary deps (#3033)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

remove heredoc and use test fixture files
  Dockerfile
  hack/fixtures/octave-graph-template.m
  hack/fixtures/pod-resource-usage-log.txt
  hack/fixtures/resource-injection-log.txt
  hack/load.cli.ts
  hack/load.unit.test.ts
  integration/helpers/fixtures/many.json
  integration/helpers/fixtures/many.yaml
  integration/helpers/fixtures/one.json
  integration/helpers/fixtures/one.yaml
  integration/helpers/fixtures/select.yaml
  integration/helpers/resource.test.ts
  package.json
  src/sdk/heredoc.ts
  src/sdk/heredoc.unit.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: remove heredoc implementation and update templates (#3036)
  Dockerfile
  hack/fixtures/octave-graph-template.m
  hack/fixtures/pod-resource-usage-log.txt
  hack/fixtures/resource-injection-log.txt
  hack/load.cli.ts
  hack/load.unit.test.ts
  integration/helpers/fixtures/many.json
  integration/helpers/fixtures/many.yaml
  integration/helpers/fixtures/one.json
  integration/helpers/fixtures/one.yaml
  integration/helpers/fixtures/select.yaml
  integration/helpers/resource.test.ts
  package.json
  src/sdk/heredoc.ts
  src/sdk/heredoc.unit.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

feat: add env vars to configure HTTPS server keepAliveTimeout and headersTimeout
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

chore: add documentation
  docs/user-guide/customization.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: added metrics summary and metrics csv
  .github/workflows/soak.yaml
Due: none

chore: cleaned up summary table details
  .github/workflows/soak.yaml
Due: none

chore: extracted scripts
  .github/workflows/soak.yaml
  scripts/soak-record-metrics.sh
  scripts/soak-summary.sh
  scripts/soak-test.sh
Due: shellcheck -f tty

chore: renamed variables
  scripts/soak-record-metrics.sh
  scripts/soak-summary.sh
Due: shellcheck -f tty

chore: added metrics summary (#3049)
  .github/workflows/soak.yaml
  scripts/soak-record-metrics.sh
  scripts/soak-summary.sh
  scripts/soak-test.sh
Due: shellcheck -f tty

chore: fix soak test scripts
  .github/workflows/soak.yaml
  scripts/soak-summary.sh
  scripts/soak-test.sh
Due: shellcheck -f tty

chore: fix soak test scripts (#3053)
  .github/workflows/soak.yaml
  scripts/soak-summary.sh
  scripts/soak-test.sh
Due: shellcheck -f tty

fix: webhook keepalive and timeout
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

chore: add workflow to check for stale cve suppressions
  .github/workflows/grype-suppression-audit.yaml
  .github/workflows/scripts/audit-grype-suppressions.sh
  .github/workflows/scripts/grype-suppression-summary.sh
  .github/workflows/scripts/open-grype-suppression-pr.sh
Due: shellcheck -f tty

Update .github/workflows/scripts/audit-grype-suppressions.sh
  .github/workflows/scripts/audit-grype-suppressions.sh
Due: shellcheck -f tty

chore: gaurd against multi-line entries and flexible indentation
  .github/workflows/scripts/audit-grype-suppressions.sh
Due: shellcheck -f tty

docs: add
  docs/user-guide/customization.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
