Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

Remove spurious mock
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Add await for async call
  src/lib/core/module.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove excessive async calls
  src/lib/core/module.ts
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: strip _required fields
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix condition status
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: complexity in processVersion
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove skipped tests
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: remove possible premature program exit from watch-processor (#2010)
  src/lib/core/module.ts
  src/lib/processors/watch-processor.test.ts
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write, eslint --fix

Move tests before refactoring them
  src/lib/processors/watch-processor-queue.test.ts
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Add omitted test cases
  src/lib/processors/watch-processor-queue.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Keep event handler tests in watch-processor.test.ts
  src/lib/processors/watch-processor-queue.test.ts
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

perform test refactor
  src/lib/processors/watch-processor-queue.test.ts
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Linter resolution
  src/lib/processors/watch-processor-queue.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Linter fixes
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: e2e test for create
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  integration/cli/crd.test.ts
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: create test
  integration/cli/build.version.test.ts
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update unit test
  src/cli/crd/create.test.ts
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: basic e2e and unit
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: integration test harness
  crds/memcache.yaml
  integration/cli/crd.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update test
  integration/cli/crd.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: finalize example
  docs/030_user-guide/030_actions/050_finalize.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: action docs
  docs/030_user-guide/030_actions/030_reconcile.md
  docs/030_user-guide/030_actions/040_watch.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: split watch-processor tests to separate test concerns (#2014)
  src/lib/processors/watch-processor-queue.test.ts
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update ADR for external library
  adr/0016-compliance-in-pepr.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: reconcile and watch examples in action docs (#2019)
  docs/030_user-guide/030_actions/030_reconcile.md
  docs/030_user-guide/030_actions/040_watch.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: finalize example in actions docs (#2018)
  docs/030_user-guide/030_actions/050_finalize.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update adr/0016-compliance-in-pepr.md
  adr/0016-compliance-in-pepr.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: compliance reporting ADR (#1824)
  adr/0016-compliance-in-pepr.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: refactor watch-processor tests for clarity (#2013)
  src/lib/processors/watch-processor-queue.test.ts
  src/lib/processors/watch-processor.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: nested types
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: deeper nested objects
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: better handling of nested objects
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: condition updates
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: required fields in status
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update TODO
  TODO.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: deeper e2e test on recursive objects
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  integration/cli/crd.test.ts
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: unit test for generate
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update comments
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

Path conditions:
  prettier --config .prettierrc --write: ((any of: *.js) or (any of: *.json)) or (any of: *.ts)
  eslint --fix: (any of: *.js) or (any of: *.ts)
  markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
