Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

.lintstagedrc.json:

{
  "*.js": ["prettier --config .prettierrc --write", "eslint --fix"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.md": [
    "markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ],
  "*.sh": ["shellcheck -f tty"],
  "*.ts": ["prettier --config .prettierrc --write", "eslint --fix"],
  ".husky/pre-*": ["shellcheck -f tty"]
}

chore: unit test
  src/lib/helpers.test.ts
  src/lib/helpers.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: document configuration
  docs/030_user-guide/120_customization.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Add test to scrape 'npx pepr' help
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update docs for consistency across commands
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Work on standardizing markdown
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Make docs adhere to regex pattern
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Failing tests: dev & deploy
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: add to webhook config
  src/lib/assets/webhooks.ts
  src/lib/assets/yaml/overridesFile.ts
Due: prettier --config .prettierrc --write, eslint --fix

fix issue with dev test
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: handle newly introduced circular dep
  src/lib/assets/ignoredNamespaces.test.ts
  src/lib/assets/ignoredNamespaces.ts
  src/lib/assets/webhooks.test.ts
  src/lib/assets/webhooks.ts
  src/lib/assets/yaml/overridesFile.ts
  src/lib/controller/createHooks.ts
  src/lib/processors/mutate-processor.ts
  src/lib/processors/validate-processor.ts
Due: prettier --config .prettierrc --write, eslint --fix

Fix crd generate
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Fix issue with npx pepr crd
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

update test title
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Bodge to pass tests
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs/030_user-guide/120_customization.md
  docs/030_user-guide/120_customization.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Refactor string processing logic
  src/cli/docs.helper.test.ts
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Refactor string processing logic
  src/cli/docs.helper.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Shorten docs processing helpers
  src/cli/docs.helper.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

More refactors of helper
  src/cli/docs.helper.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Create CLI parser for easy comparisons
  src/cli/docs.helper.test.ts
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Handle multiline descriptions
  src/cli/docs.helper.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Move doc processing helpers to different file
  src/cli/docs.helper.test.ts
  src/cli/docs.helper.ts
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Compare CLI help to docs site for 'npx pepr --help'
  src/cli/docs.helper.ts
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Refactor helpers
  src/cli/docs.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove manual index tracking
  src/cli/docs.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix

Decompose unrelated helper functions to new files
  src/cli/docs.cli.helper.test.ts
  src/cli/docs.cli.helper.ts
  src/cli/docs.helper copy.ts
  src/cli/docs.markdown.helper.test.ts
  src/cli/docs.markdown.helper.ts
  src/cli/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Move doc-cli tests to new dir
  src/cli/docs/docs.cli.helper.test.ts
  src/cli/docs/docs.cli.helper.ts
  src/cli/docs/docs.helper copy.ts
  src/cli/docs/docs.markdown.helper.test.ts
  src/cli/docs/docs.markdown.helper.ts
  src/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Do not include doc tests in build
  tsconfig.json
Due: prettier --config .prettierrc --write

Update tsconfig
  tsconfig.json
Due: prettier --config .prettierrc --write

Update imports
  src/cli/docs/docs.cli.helper.test.ts
  src/cli/docs/docs.markdown.helper.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Omit doc check files from build
  package.json
Due: prettier --config .prettierrc --write

Restore old docs
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

remove old file
  src/cli/docs/docs.helper copy.ts
Due: prettier --config .prettierrc --write, eslint --fix

Remove proposed CLI opts
  proposed-cli-opts.txt
Due: none

Remove test cases to demo test harness with minimal complexity
  docs/030_user-guide/010_pepr-cli.md
  src/cli/docs/docs.markdown.helper.test.ts
  src/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Rename files
  src/cli/docs/cli.helper.test.ts
  src/cli/docs/cli.helper.ts
  src/cli/docs/docs.test.ts
  src/cli/docs/markdown.helper.test.ts
  src/cli/docs/markdown.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix

Add commands to docs
  docs/030_user-guide/010_pepr-cli.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove comments
  src/cli/docs/cli.helper.ts
Due: prettier --config .prettierrc --write, eslint --fix

Potential fix for code scanning alert no. 180: Shell command built from environment values
  src/cli/docs/docs.test.ts
Due: prettier --config .prettierrc --write, eslint --fix
