Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Rename file
  src/cli/deploy/buildAndDeploy.ts
  src/cli/deploy/index.test.ts
  src/cli/deploy/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Move function
  src/cli/deploy/buildAndDeploy.ts
  src/cli/deploy/index.ts
Due: prettier --config .prettierrc --write

Update mocking
  src/cli/deploy/buildAndDeploy.test.ts
  src/cli/deploy/userConfirmation.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: chown /app for node
  Dockerfile
Due: none

2396 review (#2518)
  src/cli/deploy.test.ts
  src/cli/deploy.ts
  src/cli/deploy/buildAndDeploy.test.ts
  src/cli/deploy/buildAndDeploy.ts
  src/cli/deploy/imagePullSecret.test.ts
  src/cli/deploy/imagePullSecret.ts
  src/cli/deploy/index.test.ts
  src/cli/deploy/index.ts
  src/cli/deploy/userConfirmation.test.ts
  src/cli/deploy/userConfirmation.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: comment
  Dockerfile
Due: none

chore: deploy test (#2508)
  src/cli/deploy.ts
  src/cli/deploy/buildAndDeploy.test.ts
  src/cli/deploy/buildAndDeploy.ts
  src/cli/deploy/imagePullSecret.test.ts
  src/cli/deploy/imagePullSecret.ts
  src/cli/deploy/index.test.ts
  src/cli/deploy/index.ts
  src/cli/deploy/userConfirmation.test.ts
  src/cli/deploy/userConfirmation.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: build arg
  Dockerfile
  scripts/read-unicorn-build-args.mjs
Due: prettier --config .prettierrc --write

chore: requirechown
  Dockerfile
Due: none

chore: use args in both stages
  Dockerfile
Due: none

chore: update base for upstream to for an image with zero high severity vulns (#2516)
  .github/workflows/container-scan.yaml
  Dockerfile
  scripts/read-unicorn-build-args.mjs
Due: prettier --config .prettierrc --write

chore: update banner size for smaller terminal-width (#2489)
  src/cli/banner.ts
Due: prettier --config .prettierrc --write

Mock crypto operations in unit test
  src/lib/assets/assets.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: optimize performance of `Assets` unit tests (#2521)
  src/lib/assets/assets.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update digest manually since image is not pullable
  config/Dockerfile
Due: none

chore: pino is default import - ci fix
  src/lib/telemetry/logger.ts
Due: prettier --config .prettierrc --write

chore: dev unit test (#2502)
  src/cli/dev.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Initial prototype of feature-flagging with singleton
  src/cli.ts
  src/cli/feature-demo/index.ts
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add error handling for too many flags
  src/cli.ts
  src/cli/feature-demo/index.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

Refactor input tests
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Refactor feature retrieval tests
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update tests
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Populate feature flag store from one entry point
  src/cli.ts
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove unused code
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove old variable from store
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

Make featureFlagLimit tunable
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add detailed error message
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

chore: specific uuid test
  integration/cli/format.format.test.ts
  integration/cluster/upgrade.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

Remove unnecessary describe()
  src/lib/features/store.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Name featureStore as featureFlagStore
  src/cli.ts
  src/cli/feature-demo/index.ts
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Add ADR for feature-flagging
  adr/0020-use-of-feature-flag-store-for-experimental-features.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: remove journey test dir
  .github/workflows/node.js-unicorn.yml
  .github/workflows/node.js.yml
  journey/before.ts
  journey/entrypoint-wasm.test.ts
  journey/entrypoint.test.ts
  journey/k8s.ts
  journey/pepr-build-wasm.ts
  journey/pepr-build.helpers.ts
  journey/pepr-build.ts
  journey/pepr-deploy.ts
  journey/pepr-dev.ts
  journey/pepr-init.ts
  journey/resources/clusterrole.yaml
  journey/resources/non-migrated-peprstore.yaml
  journey/resources/pepr-store-crd.yaml
  journey/resources/values.yaml
  journey/utils.ts
  package.json
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: update cluster commands
  package.json
Due: prettier --config .prettierrc --write

chore: upgrade scripts
  package.json
Due: prettier --config .prettierrc --write

chore: unicorn import
  package.json
Due: prettier --config .prettierrc --write

chore: fix cluster command
  src/cli/init/templates.ts
Due: prettier --config .prettierrc --write

chore: remove journey references
  .github/pull_request_template.md
  config/eslint.integration.config.mjs
  config/eslint.root.config.mjs
  config/eslint.test.config.mjs
  config/vitest.journey.config.ts
  docs/120_contribute/README.md
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: on-demand-tests
  .github/workflows/node.js.yml
Due: none

Write ADR for feature flagging
  adr/0020-use-of-feature-flag-store-for-experimental-features.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Remove reference to journey test suite
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.test.config.mjs: any of: *.test.ts
  eslint --config integration/eslint.config.mjs: any of: integration/**/*.ts
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
