Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

Updated docs for RBAC admin
  docs/user-guide/rbac.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update kfc version
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: revert changed code
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: bump kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: bump kfc to use latest for uds core testing (#2889)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  f8502c55298bdcca52a5c0265e7416556301dec9
Due: none

chore: unblock pipeline
  .github/workflows/container-scan.yaml
Due: none

chore: updates
  .github/workflows/container-scan.yaml
Due: none

Apply suggestion from @cmwylie19
  .github/workflows/container-scan.yaml
Due: none

chore: unblock pipeline (#2891)
  .github/workflows/container-scan.yaml
Due: none

chore: update kfc dockerfile (#2881)
  Dockerfile.kfc
Due: none

fix: decouple list from nightly
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: exact version
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: latest kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: decouple list from nightly (#2894)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  da0709666163b5d197b7487c363a64579ef6b7c7
Due: none

fix: new watch event
  package-lock.json
  package.json
  src/lib/processors/watch-processor.ts
Due: prettier --config .prettierrc --write

chore: pin version
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: update the kfc version
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: suppress node cve due to risk reward ratio
  .github/workflows/container-scan.yaml
Due: none

chore: supress known cve which has no attack surface
  .github/workflows/container-scan.yaml
Due: none

chore: suppress node cve due to risk reward ratio (#2906)
  .github/workflows/container-scan.yaml
Due: none

chore: latest kfc with retry
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: update to latest nightly
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: update to latest nightly
  package-lock.json
Due: prettier --config .prettierrc --write

chore: retry on list and watch
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: bump nightly kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: update kfc
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: increase timeouts
  integration/cli/dev.dev-test.test.ts
  integration/cli/format.format.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: increase timeouts
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: fix integration test
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: tar cve is not exposed in controller
  .github/workflows/container-scan.yaml
Due: none

chore: update path
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: increase timeout
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs

chore: extend timeout
  integration/cli/dev.dev-test.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs
