Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules, shellcheck -f tty

chore: fix integration test in another pr
  TODO.md
  src/cli.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: e2e test for create
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  integration/cli/crd.test.ts
  src/cli/crd/create.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update regex
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: function comments
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update comments
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: unit test for generate
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: required fields in status
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: deeper nested objects
  TODO.md
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix, markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: better handling of nested objects
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: cleaning up - demo
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  integration/cli/crd.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: deeper e2e test on recursive objects
  api/v1alpha1/memcache_types.ts
  crds/memcache.yaml
  integration/cli/crd.test.ts
  src/cli/crd/create.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: updates for CRD descriptions
  crds/memcache.yaml
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: condition updates
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: update TODO
  TODO.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: regex101 links
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: resolve ts-morph conflict
  integration/cli/crd.test.ts
  package-lock.json
  package.json
  src/cli/crd/create.test.ts
  src/cli/crd/create.ts
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: resolve complict
  package-lock.json
Due: prettier --config .prettierrc --write

chore: test and complexity
  src/cli/crd/generate.test.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

fix issue in release script
  .github/workflows/release.yml
Due: none

fix: resolve formatting error in release script (#2035)
  .github/workflows/release.yml
Due: none

Delete TODO.md
  TODO.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: docs update
  docs/030_user-guide/100_metrics.md
  docs/100_community/050_pepr-media.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: docs update (#2043)
  docs/030_user-guide/100_metrics.md
  docs/100_community/050_pepr-media.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update src/cli/crd/generate.ts
  src/cli/crd/generate.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update src/cli/crd/generate.test.ts
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update src/cli/crd/create.test.ts
  src/cli/crd/create.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: fix tests
  src/cli/crd/generate.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: format-fix
  src/cli/crd/create.test.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: fix PEPR_BUILD_VERSION for new IB Dockerfiles
  hack/build-iron-bank.sh
Due: shellcheck -f tty

chore: fix PEPR_BUILD_VERSION for new IB Dockerfiles (#2048)
  hack/build-iron-bank.sh
Due: shellcheck -f tty

chore: remove arm64 IB test
  .github/actions/ironbank-setup/action.yaml
  hack/build-iron-bank.sh
Due: shellcheck -f tty

chore: remove arm workflow for IB for now
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
Due: none

chore: remove arm64 IB test (#2049)
  .github/actions/ironbank-setup/action.yaml
  .github/workflows/pepr-excellent-examples-ironbank-arm.yml
  hack/build-iron-bank.sh
Due: shellcheck -f tty

chore: updates to contributing for KFC
  docs/120_contribute/README.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: remove process.exit in pods and propagate to src/cli
  src/cli/build.helpers.ts
  src/lib/assets/pods.test.ts
  src/lib/assets/pods.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update tutorial instructions
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Fix section links
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Work on extracting large YAML blocks from tutorial
  docs/040_pepr-tutorials/030_create-pepr-operator.md
  docs/040_pepr-tutorials/resources/030_create-pepr-operator/WebAppCRD.yaml
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Fix formatting error
  docs/040_pepr-tutorials/030_create-pepr-operator.md
Due: markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Path conditions:
  prettier --config .prettierrc --write: ((any of: *.js) or (any of: *.json)) or (any of: *.ts)
  eslint --fix: (any of: *.js) or (any of: *.ts)
  markdownlint --fix --ignore adr --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules: any of: *.md
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
