Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

shorted feature flags implementation
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

remove reset() that was only used in tests
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Remove nested ternary
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write

Update feature-demo command
  src/cli/feature-demo/index.ts
Due: prettier --config .prettierrc --write

Remove feature-demo command
  src/cli.ts
  src/cli/feature-demo/index.ts
Due: prettier --config .prettierrc --write

Document --features
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/docs/markdown.helper.test.ts
  src/cli.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

feat: add feature-flag support for Pepr CLI (#2530)
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/docs/markdown.helper.test.ts
  src/build-artifact.test.ts
  src/cli.ts
  src/lib/controller/index.ts
  src/lib/features/FeatureFlags.ts
  src/lib/features/store.test.ts
  src/lib/features/store.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update src/cli/build/build.helpers.ts
  src/cli/build/build.helpers.ts
Due: prettier --config .prettierrc --write

chore: pr comments
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: account for directory
  src/cli/build/build.helpers.ts
Due: prettier --config .prettierrc --write

chore: fix tests
  src/cli/build/build.test.ts
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: account for missing entrypoint (#2584)
  docs/030_user-guide/010_pepr-cli.md
  src/cli/build/build.helpers.ts
  src/cli/build/build.test.ts
  src/cli/build/index.test.ts
  src/cli/build/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update peer deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: ts change
  src/lib/filter/adjudicators/binding.ts
Due: prettier --config .prettierrc --write

chore: re-run ci
  src/lib/filter/adjudicators/binding.ts
Due: prettier --config .prettierrc --write

chore: update type
  src/lib/filter/adjudicators/binding.ts
Due: prettier --config .prettierrc --write

chore: latest ts is not compatable with eslint/parser
  package-lock.json
  package.json
  src/lib/filter/adjudicators/binding.ts
Due: prettier --config .prettierrc --write

chore: rerun-ci
  src/lib/enums.ts
Due: prettier --config .prettierrc --write

Update src/lib/enums.ts
  src/lib/enums.ts
Due: prettier --config .prettierrc --write

chore: update peer deps (#2588)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: update parseTime to accept only integers
  src/lib/helpers.ts
Due: prettier --config .prettierrc --write

chore: update test
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Write docs for feature flags
  docs/030_user-guide/150_feature-flags.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update log message on controller startup
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write

Update log search command
  docs/030_user-guide/150_feature-flags.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

Update docs following feedback
  docs/030_user-guide/150_feature-flags.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

docs: add docs for feature flags (#2592)
  docs/030_user-guide/150_feature-flags.md
  src/lib/controller/index.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: fix permissions on release
  .github/workflows/release.yml
Due: none

chore: fix permissions on release (#2595)
  .github/workflows/release.yml
Due: none

Remove possibly unnecessary deps from container image
  Dockerfile
Due: none

chore: updates
  src/lib/helpers.ts
Due: prettier --config .prettierrc --write

chore: remove unnecessary deps from container image (#2597)
  Dockerfile
Due: none

Rework SBOM entry management with npm prune
  Dockerfile
  buildctrlr.mjs
  package.json
Due: prettier --config .prettierrc --write

chore: case for 5.0
  src/lib/helpers.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

Update workflow files
  .github/workflows/container-scan.yaml
  .github/workflows/deploy-helm.yml
  .github/workflows/deploy-zarf.yml
Due: none

chore: table test
  src/cli/build/index.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: force user to use an integer for webhook's timeoutSeconds (#2590)
  src/cli/build/index.test.ts
  src/lib/helpers.test.ts
  src/lib/helpers.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs

chore: pino fix
  package-lock.json
  package.json
  src/lib/core/capability.ts
  src/lib/core/queue.ts
  src/lib/telemetry/metrics.ts
Due: prettier --config .prettierrc --write

chore: fix docs and hello-pepr
  docs/030_user-guide/030_actions/040_watch.md
  docs/030_user-guide/030_actions/050_finalize.md
  docs/030_user-guide/030_actions/README.md
  docs/060_best-practices/README.md
  src/templates/capabilities/hello-pepr.ts
Due: prettier --config .prettierrc --write, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

chore: update with confirm
  docs/030_user-guide/010_pepr-cli.md
  integration/cli/docs/markdown.helper.test.ts
  src/cli/update/index.test.ts
  src/cli/update/index.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules
