Repository defenseunicorns/pepr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.test.config.mjs, eslint --config integration/eslint.config.mjs, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --config .prettierrc --write",
    "eslint --config eslint.config.mjs --fix --ignore-pattern config/** --ignore-pattern src/templates/eslint.config.mjs --ignore-pattern vitest.config.ts --ignore-pattern eslint.test.config.mjs --ignore-pattern src/**/*.test.ts --ignore-pattern integration/**/*.ts"
  ],
  "*.test.ts": ["eslint --config eslint.test.config.mjs"],
  "integration/**/*.ts": ["eslint --config integration/eslint.config.mjs"],
  "*.mjs": ["prettier --config .prettierrc --write"],
  "*.js": ["prettier --config .prettierrc --write"],
  "*.json": ["prettier --config .prettierrc --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules"
  ]
}

Resolve enum narrowing issue with typescript upgrade
  src/lib/filter/adjudicators/binding.ts
Due: prettier --config .prettierrc --write

chore: update peer dependencies (#2663)
  package-lock.json
  package.json
  src/lib/filter/adjudicators/binding.ts
Due: prettier --config .prettierrc --write

chore: test ci
  src/lib/core/module.ts
Due: prettier --config .prettierrc --write

Do not upgrade typescript due to eslint restriction
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: downgrade typescript from 5.9.3 to 5.8.3 due to eslint restriction (#2665)
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: grype ignore
  .github/workflows/container-scan.yaml
Due: none

chore: use a grype.yaml for historical context
  .github/workflows/container-scan.yaml
  config/.grype.yaml
Due: none

chore: cannot point to config outside of the root
  .github/workflows/container-scan.yaml
  config/.grype.yaml
Due: none

chore: grype ignore (#2666)
  .github/workflows/container-scan.yaml
Due: none

chore: teardowntimeout and workers for tutorials test
  .github/workflows/tutorials-test.yml
  config/vitest.tutorials.config.ts
Due: prettier --config .prettierrc --write

chore: teardowntimeout and workers for tutorials test (#2687)
  .github/workflows/tutorials-test.yml
  config/vitest.tutorials.config.ts
Due: prettier --config .prettierrc --write

chore: updates to release
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: package-lock
  package-lock.json
Due: prettier --config .prettierrc --write

chore: remove 20 due to issues with semantic release in test
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: update package-lock
  package-lock.json
Due: prettier --config .prettierrc --write

chore: restore ondemand
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: 20 is minimum node version
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: try different version of semantic-release/npm
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: node v20 install
  package-lock.json
Due: prettier --config .prettierrc --write

chore: sync with sam and discuss security
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

feat: implement semantic release (#2583)
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

chore: wip - testing release semantic release
  .github/workflows/codeql.yml
  .github/workflows/container-scan.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
  config/vitest.tutorials.config.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix:; semantic release
  .github/workflows/semantic-release.yml
Due: none

fix: extend test tieout
  config/vitest.tutorials.config.ts
Due: prettier --config .prettierrc --write

fix: pr comments and general cleanup
  .github/workflows/codeql.yml
  .github/workflows/container-scan.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
  .github/workflows/secret-scan.yml
  .github/workflows/uds.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
Due: none

fix: run semantic release action from merge queue (#2697)
  .github/workflows/codeql.yml
  .github/workflows/container-scan.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/node.js.yml
  .github/workflows/pepr-excellent-examples-unicorn.yml
  .github/workflows/pepr-excellent-examples.yml
  .github/workflows/release.yml
  .github/workflows/secret-scan.yml
  .github/workflows/semantic-release.yml
  .github/workflows/upgrade-unicorn.yml
  .github/workflows/upgrade-upstream.yml
  config/vitest.tutorials.config.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: provide perms
  .github/workflows/semantic-release.yml
Due: none

fix: permissions in semantic release (#2698)
  .github/workflows/semantic-release.yml
Due: none

fix: trigger release
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: trigger release (#2699)
  README.md
Due: npx -y markdownlint-cli --fix --ignore adr --ignore integration/testroot --ignore pepr-test-module --ignore pepr-upgrade-test --ignore node_modules

fix: run on main
  .github/workflows/semantic-release.yml
Due: none

fix: run on main (#2700)
  .github/workflows/semantic-release.yml
Due: none

fix: add npm token
  .github/workflows/semantic-release.yml
Due: none

fix: add npm token (#2701)
  .github/workflows/semantic-release.yml
Due: none

fix: try semantic release again with a deeper fetch depth and release notes
  .github/workflows/semantic-release.yml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: regenerate package-lock
  package-lock.json
Due: prettier --config .prettierrc --write

fix: id token write
  .github/workflows/semantic-release.yml
Due: none

fix: try semantic release again with a deeper fetch depth notes (#2704)
  .github/workflows/semantic-release.yml
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write

fix: create env var for node auth token
  .github/workflows/semantic-release.yml
Due: none
